<style>
.container
{
	width:100%;
}
.grid-item-box
{
	height:80px;
}
</style>
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" /> 
<title>首页</title>
<html>
	<div id="app">
		<div class="container">
			<div style="margin-bottom: 5px;padding-top:5px">
				<div style="font-size: 14px;text-align: left;margin-left: 10px;font-weight: bold;">我的项目</div>
			</div>
			<div style="height: 1px;margin: 0 0px 0 0px;">
				<div style="height: 1px;background-color: #dddddd;"></div>
			</div>
			<div>
				<div v-for="(item, index) in gridList.slice(0,9)" :index="index" :key="index" style="width:20%;float:left">
					<div class="grid-item-box" @click="jump(item.page,item.id,item.action)">
						<image :src="'/projecttest/Rbac/static/iamges/icons/'+item.image" mode="heightFix" style="height:32px;width:32px;"></image>
						<span class="text" style="margin-top:5px;font-size:12px">{{item.name}}</span>
					</div>
				</div>
			</div>
		</div>
		<div style="clear:both"></div>
		<div class="container">
			<div style="margin-bottom: 5px;padding-top:5px">
				<div style="font-size: 14px;text-align: left;margin-left: 10px;font-weight: bold;">我的工作</div>
			</div>
			<div style="height: 1px;margin: 0 0px 0 0px;">
				<div style="height: 1px;background-color: #dddddd;"></div>
			</div>
			<div :column="5" :showBorder="false"  :square="true">
				<div v-for="(item, index) in gridList.slice(9,15)" :index="index" :key="index" style="width:20%;float:left">
					<div class="grid-item-box" @click="jump(item.page,item.id,item.action)">
						<image :src="'/projecttest/Rbac/static/iamges/icons/'+item.image" mode="heightFix" style="height:32px;width:32px;"></image>
						<span class="text" style="margin-top:5px;font-size:12px">{{item.name}}</span>
					</div>
				</div>
			</div>
		</div>
		<div style="clear:both"></div>
		<div class="container">
			<div style="margin-bottom: 5px;padding-top:5px">
				<div style="font-size: 14px;text-align: left;margin-left: 10px;font-weight: bold;">主项施工</div>
			</div>
			<div style="height: 1px;margin: 0 0px 0 0px;">
				<div style="height: 1px;background-color: #dddddd;"></div>
			</div>
			<div :column="5" :showBorder="false"  :square="true">
				<div v-for="(item, index) in gridList.slice(15,18)" :index="index" :key="index" style="width:20%;float:left">
					<div class="grid-item-box" @click="jump(item.page,item.id,item.action)">
						<image :src="'/projecttest/Rbac/static/iamges/icons/'+item.image" mode="heightFix" style="height:32px;width:32px;"></image>
						<span class="text" style="margin-top:5px;font-size:12px">{{item.name}}</span>
					</div>
				</div>
			</div>
		</div>
		<div style="clear:both"></div>
		<div class="container">
			<div style="margin-bottom: 5px;padding-top:5px">
				<div style="font-size: 14px;text-align: left;margin-left: 10px;font-weight: bold;">项目开发</div>
			</div>
			<div style="height: 1px;margin: 0 0px 0 0px;">
				<div style="height: 1px;background-color: #dddddd;"></div>
			</div>
			<div :column="5" :showBorder="false"  :square="true">
				<div v-for="(item, index) in gridList.slice(18,21)" :index="index" :key="index" style="width:20%;float:left">
					<div class="grid-item-box" @click="jump(item.page,item.id,item.action)">
						<image :src="'/projecttest/Rbac/static/iamges/icons/'+item.image" mode="heightFix" style="height:32px;width:32px;"></image>
						<span class="text" style="margin-top:5px;font-size:12px">{{item.name}}</span>
					</div>
				</div>
			</div>
		</div>
		<div style="clear:both"></div>
		<div class="container">
			<div style="margin-bottom: 5px;padding-top:5px">
				<div style="font-size: 14px;text-align: left;margin-left: 10px;font-weight: bold;">项目设计</div>
			</div>
			<div style="height: 1px;margin: 0 0px 0 0px;">
				<div style="height: 1px;background-color: #dddddd;"></div>
			</div>
			<div :column="5" :showBorder="false"  :square="true">
				<div v-for="(item, index) in gridList.slice(21,24)" :index="index" :key="index" style="width:20%;float:left">
					<div class="grid-item-box" @click="jump(item.page,item.id,item.action)">
						<image :src="'/projecttest/Rbac/static/iamges/icons/'+item.image" mode="heightFix" style="height:32px;width:32px;"></image>
						<span class="text" style="margin-top:5px;font-size:12px">{{item.name}}</span>
					</div>
				</div>
			</div>
		</div>
		<div style="clear:both"></div>
		<div class="container">
			<div style="margin-bottom: 5px;padding-top:5px">
				<div style="font-size: 14px;text-align: left;margin-left: 10px;font-weight: bold;">项目采购</div>
			</div>
			<div style="height: 1px;margin: 0 0px 0 0px;">
				<div style="height: 1px;background-color: #dddddd;"></div>
			</div>
			<div :column="5" :showBorder="false"  :square="true">
				<div v-for="(item, index) in gridList.slice(24,27)" :index="index" :key="index" style="width:20%;float:left">
					<div class="grid-item-box" @click="jump(item.page,item.id,item.action)">
						<image :src="'/projecttest/Rbac/static/iamges/icons/'+item.image" mode="heightFix" style="height:32px;width:32px;"></image>
						<span class="text" style="margin-top:5px;font-size:12px">{{item.name}}</span>
					</div>
				</div>
			</div>
		</div>
		<div style="clear:both"></div>
		<div class="container">
			<div style="margin-bottom: 5px;padding-top:5px">
				<div style="font-size: 14px;text-align: left;margin-left: 10px;font-weight: bold;">专项施工</div>
			</div>
			<div style="height: 1px;margin: 0 0px 0 0px;">
				<div style="height: 1px;background-color: #dddddd;"></div>
			</div>
			<div :column="5" :showBorder="false"  :square="true">
				<div v-for="(item, index) in gridList.slice(27,33)" :index="index" :key="index" style="width:20%;float:left">
					<div class="grid-item-box" @click="jump(item.page,item.id,item.action)">
						<image :src="'/projecttest/Rbac/static/iamges/icons/'+item.image" mode="heightFix" style="height:32px;width:32px;"></image>
						<span class="text" style="margin-top:5px;font-size:12px">{{item.name}}</span>
					</div>
				</div>
			</div>
		</div>
		<div style="clear:both"></div>
		<div class="container">
			<div style="margin-bottom: 5px;padding-top:5px">
				<div style="font-size: 14px;text-align: left;margin-left: 10px;font-weight: bold;">项目验收</div>
			</div>
			<div style="height: 1px;margin: 0 0px 0 0px;">
				<div style="height: 1px;background-color: #dddddd;"></div>
			</div>
			<div :column="5" :showBorder="false"  :square="true">
				<div v-for="(item, index) in gridList.slice(33,34)" :index="index" :key="index" style="width:20%;float:left">
					<div class="grid-item-box" @click="jump(item.page,item.id,item.action)">
						<image :src="'/projecttest/Rbac/static/iamges/icons/'+item.image" mode="heightFix" style="height:32px;width:32px;"></image>
						<span class="text" style="margin-top:5px;font-size:12px">{{item.name}}</span>
					</div>
				</div>
			</div>
		</div>
		<div style="clear:both"></div>
		<div class="container">
			<div style="margin-bottom: 5px;padding-top:5px">
				<div style="font-size: 14px;text-align: left;margin-left: 10px;font-weight: bold;">会议管理</div>
			</div>
			<div style="height: 1px;margin: 0 0px 0 0px;">
				<div style="height: 1px;background-color: #dddddd;"></div>
			</div>
			<div :column="5" :showBorder="false"  :square="true">
				<div v-for="(item, index) in gridList.slice(34,39)" :index="index" :key="index" style="width:20%;float:left">
					<div class="grid-item-box" @click="jump(item.page,item.id,item.action)">
						<image :src="'/projecttest/Rbac/static/iamges/icons/'+item.image" mode="heightFix" style="height:32px;width:32px;"></image>
						<span class="text" style="margin-top:5px;font-size:12px">{{item.name}}</span>
					</div>
				</div>
			</div>
		</div>
		<div style="clear:both"></div>
		<div class="container">
			<div style="margin-bottom: 5px;padding-top:5px">
				<div style="font-size: 14px;text-align: left;margin-left: 10px;font-weight: bold;">运营分析</div>
			</div>
			<div style="height: 1px;margin: 0 0px 0 0px;">
				<div style="height: 1px;background-color: #dddddd;"></div>
			</div>
			<div :column="5" :showBorder="false"  :square="true">
				<div v-for="(item, index) in gridList.slice(39,47)" :index="index" :key="index" style="width:20%;float:left">
					<div class="grid-item-box" @click="jump(item.page,item.id,item.action)">
						<image :src="'/projecttest/Rbac/static/iamges/icons/'+item.image" mode="heightFix" style="height:32px;width:32px;"></image>
						<span class="text" style="margin-top:5px;font-size:12px">{{item.name}}</span>
					</div>
				</div>
			</div>
		</div>
		<div style="clear:both"></div>
		<div class="container">
			<div style="margin-bottom: 5px;padding-top:5px">
				<div style="font-size: 14px;text-align: left;margin-left: 10px;font-weight: bold;">报表统计</div>
			</div>
			<div style="height: 1px;margin: 0 0px 0 0px;">
				<div style="height: 1px;background-color: #dddddd;"></div>
			</div>
			<div :column="5" :showBorder="false"  :square="true">
				<div v-for="(item, index) in gridList.slice(47,51)" :index="index" :key="index" style="width:20%;float:left">
					<div class="grid-item-box" @click="jump(item.page,item.id,item.action)">
						<image :src="'/projecttest/Rbac/static/iamges/icons/'+item.image" mode="heightFix" style="height:32px;width:32px;"></image>
						<span class="text" style="margin-top:5px;font-size:12px">{{item.name}}</span>
					</div>
				</div>
			</div>
		</div>
		<div style="clear:both"></div>
		<div class="container">
			<div style="margin-bottom: 5px;padding-top:5px">
				<div style="font-size: 14px;text-align: left;margin-left: 10px;font-weight: bold;">退出</div>
			</div>
			<div style="height: 1px;margin: 0 0px 0 0px;">
				<div style="height: 1px;background-color: #dddddd;"></div>
			</div>
			<div :column="5" :showBorder="false"  :square="true">
				<div v-for="(item, index) in gridList.slice(51,52)" :index="index" :key="index" style="width:20%;float:left">
					<div class="grid-item-box" @click="jump(item.page,item.id,item.action)">
						<image :src="'/projecttest/Rbac/static/iamges/icons/'+item.image" mode="heightFix" style="height:32px;width:32px;"></image>
						<span class="text" style="margin-top:5px;font-size:12px">{{item.name}}</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</html>
<script src="/projecttest/bigScreen/js/jquery.min.js"></script>
<script src="/projecttest/bigScreen/js/vue.js"></script>
<script src="/projecttest/bigScreen/js/echarts.min.js"></script>
<script src="/projecttest/bigScreen/js/data.js"></script>
<script type="text/javascript">
		var vm = new Vue({
			el: '#app',
			data: {
				myprojecttype: 0,
				projectcount: 0,//项目数量
				worktypecount: 0,//工种数量
				prewarningcount: 0,//预警数量
				warningcount: 0,//报警数量
				gridList:[
					{name:"我的项目",image:"1x.png",action:"Secondcheck",page:"index",id:"我的项目"},
					{name:"项目组织",image:"14x.png",action:"Xmff",page:"index",id:"项目组织"},
					{name:"项目查看",image:"9x.png",action:"Plmmanage",page:"index",id:"项目查看"},
					{name:"项目协同",image:"10x.png",action:"Plmdiscuss",page:"index",id:"项目协同"},
					{name:"项目文件",image:"11x.png",action:"Plmfile",page:"index",id:"项目文件"},
					{name:"项目批次",image:"13x.png",action:"Secondgroup",page:"index",id:"项目批次"},
					{name:"项目公海",image:"12x.png",action:"Secondcancel",page:"index",id:"项目公海"},
					{name:"暂停项目",image:"8x.png",action:"Secondsuspend",page:"index",id:"暂停项目"},
					{name:"项目报警",image:"6x.png",action:"Secondwarning",page:"index",id:"项目报警"},
					
					{name:"项目工作",image:"1x.png",action:"Secondschedule",page:"index",id:"项目工作"},
					{name:"我的计划",image:"8x.png",action:"Mywork",page:"index",id:"我的计划"},
					{name:"组织计划编制",image:"12x.png",action:"Workassignment2",page:"index",id:"组织计划编制"},
					{name:"职能专项计划",image:"15x.png",action:"Workplan",page:"index",id:"职能专项计划"},
					{name:"职能计划",image:"4x.png",action:"Workassignment1",page:"index",id:"职能计划"},
					{name:"高层交办",image:"6x.png",action:"Workassignment",page:"index",id:"高层交办"},
					
					{name:"主项节点设置",image:"12x.png",action:"Ysgl",page:"index",id:"主项节点设置"},
					{name:"主项计划",image:"8x.png",action:"Sgjh",page:"index",id:"主项计划"},
					{name:"主项进度管理",image:"9x.png",action:"Bproject",page:"index",id:"主项进度管理"},
					
			
					{name:"开发节点设置",image:"12x.png",action:"Ysgl",page:"index",id:"开发节点设置"},
					{name:"开发专项计划",image:"8x.png",action:"Sgjh",page:"index",id:"开发专项计划"},
					{name:"开发进度管理",image:"9x.png",action:"Bproject",page:"index",id:"开发进度管理"},
					
					{name:"设计节点设置",image:"12x.png",action:"Ysgl",page:"index",id:"设计节点设置"},
					{name:"设计专项计划",image:"8x.png",action:"Sgjh",page:"index",id:"设计专项计划"},
					{name:"设计进度管理",image:"9x.png",action:"Bproject",page:"index",id:"设计进度管理"},
					
					{name:"采购节点设置",image:"12x.png",action:"Ysgl",page:"index",id:"采购节点设置"},
					{name:"采购专项计划",image:"8x.png",action:"Sgjh",page:"index",id:"采购专项计划"},
					{name:"采购进度管理",image:"9x.png",action:"Bproject",page:"index",id:"采购进度管理"},
					
					{name:"施工节点设置",image:"12x.png",action:"Ysgl",page:"index",id:"施工节点设置"},
					{name:"施工专项计划",image:"8x.png",action:"Sgjh",page:"index",id:"施工专项计划"},
					{name:"施工进度管理",image:"9x.png",action:"Sgrz",page:"index",id:"施工进度管理"},
					{name:"项目任务管理",image:"13x.png",action:"Plmworkassignment",page:"index",id:"项目任务管理"},
					{name:"我的项目任务",image:"4x.png",action:"Plmmywork",page:"index",id:"我的项目任务"},
					{name:"形象进度管理",image:"17x.png",action:"Plmfileimage",page:"index",id:"形象进度管理"},
					
					{name:"项目验收",image:"5x.png",action:"Wgys",page:"index",id:"项目验收"},
					
					{name:"会议日程",image:"8x.png",action:"Meetingschedule",page:"index",id:"会议日程"},
					{name:"会议计划",image:"13x.png",action:"Meetingassignment",page:"index",id:"会议计划"},
					{name:"会议监控",image:"9x.png",action:"Meetingcheck",page:"index",id:"会议监控"},
					{name:"会议分析",image:"2x.png",action:"Meetinganalysis",page:"index",id:"会议分析"},
					{name:"会议设置",image:"12x.png",action:"Meetingset",page:"index",id:"会议设置"},
					
					{name:"运营工期分析",image:"2x.png",action:"Xmtj",page:"index",id:"运营工期分析"},
					{name:"标准工期分析",image:"2x.png",action:"Xmtj",page:"index",id:"标准工期分析"},
					{name:"延误原因分析",image:"2x.png",action:"Xmtj",page:"index",id:"延误原因分析"},
					{name:"计划达成率",image:"2x.png",action:"Xmtj",page:"index",id:"计划达成率分析"},
					{name:"项目工作报告",image:"2x.png",action:"Xmtj",page:"index",id:"项目工作报告"},
					{name:"部门工作报告",image:"2x.png",action:"Xmtj",page:"index",id:"部门工作报告"},
					{name:"年度月度报告",image:"2x.png",action:"Xmtj",page:"index",id:"年度月度报告"},
					{name:"材料需求分析",image:"2x.png",action:"Xmtj1",page:"index",id:"材料需求分析"},

					{name:"项目分类统计",image:"16x.png",action:"Xmtj",page:"index",id:"项目分类统计"},
					{name:"施工进度查看",image:"16x.png",action:"Plmprogress",page:"index",id:"施工进度查看"},
					{name:"项目进度统计",image:"16x.png",action:"Xmlbfl",page:"index",id:"项目进度统计"},
					{name:"项目总看板",image:"16x.png",action:"Picture",page:"index",id:"项目总看板"},
					
					{name:"退出",image:"17x.png",action:"App",page:"logout",id:"退出"},
				],
				areaList: [
					{area:"南京市",icon01:0,icon02:0,icon03:0,icon04:0,icon05:0,icon06:0,icon07:0},
					{area:"南京市",icon01:0,icon02:0,icon03:0,icon04:0,icon05:0,icon06:0,icon07:0},
					{area:"南京市",icon01:0,icon02:0,icon03:0,icon04:0,icon05:0,icon06:0,icon07:0},
					{area:"南京市",icon01:0,icon02:0,icon03:0,icon04:0,icon05:0,icon06:0,icon07:0},
					{area:"南京市",icon01:0,icon02:0,icon03:0,icon04:0,icon05:0,icon06:0,icon07:0},
					{area:"南京市",icon01:0,icon02:0,icon03:0,icon04:0,icon05:0,icon06:0,icon07:0}
				]
			},
			methods: {
			jump(page,id,action) {
				
				if(page=="logout")
				{
					localStorage.clear();
				}
				var account=localStorage.getItem("account");
				console.log('__APP__/'+action+'/'+page+'/moduletitle='+id+'/viewid/'+id+'/moduletitle/'+id+'/account/'+account+'/app/1/projecttype/'+this.myprojecttype);
				location.href='__APP__/'+action+'/'+page+'/moduletitle/'+id+'/viewid/'+id+'/moduletitle/'+id+'/account/'+account+'/app/1/projecttype/'+this.myprojecttype
			}
		}
	})
</script>

<style>
	.container {
		background-color: #fff;
	}
	.grid-item-box {
		flex: 1;
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		font-size: 24rpx;
	}
	.container2{
		width:690px;
		height:80px;
		background-color: white;
		margin:30px auto;
		border-radius: 5px;
		display: flex;
		text-align: center;
		align-items: center;
		font-size: 31px;
		overflow: hidden;
	}
	.container2 .item{
		flex-grow:1;
		height: 80px;
		line-height: 80px;
	}
	.on{
		color: #fff;
		background-color: #f89b48;
	}
</style>
