<style>
	page {
		background-color: #fff!important;
	}
</style>
<style>
.acea-row {
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-lines: multiple;
	-moz-box-lines: multiple;
	-o-box-lines: multiple;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap
}

.acea-row.row-middle {
	-webkit-box-align: center;
	-moz-box-align: center;
	-o-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center
}
.title{
	font-size: 22px;
	font-weight: bold;
	color:#333333;
	text-align: center;
	margin-top: 15px;
}

.acea-row.row-middle {
	input {
	margin-left: 10px;
	display: block;
	}
}
.shading {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin-top: 100px;
	image {
	width: 90px;
	height: 90px;
	}
}

.login-wrapper {
	padding: 15px;
}
.whiteBg {
	margin-top: 50px;
}
.list {
	border-radius: 8px;
	overflow: hidden;
}
.row-middle {
	position: relative;
	padding: 8px 23px;
	
}
input {
	flex: 1;
	font-size: 16px;
	height: 40px;
	line-height: 40px;
	display: flex;
	// justify-content: center;
	align-items: center;
}
.texts{
	flex: 1;
	font-size: 16px;
	height: 40px;
	line-height: 40px;
	display: flex;
	// justify-content: center;
	align-items: center;
}
.item {
	border-bottom: 1px solid #F0F0F0;
	background: #fff;
}
.logon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 49px;
	margin-top: 40px;
	background-color: #f89b48;
	border-radius: 110px;
	color: #fff;
	font-size: 18px;
}
</style>
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" /> 
<title>登录</title>
<div id="app">
	<div class="login-wrapper">
		<!-- <div class="shading">
			<image src="/projecttest/Rbac/static/iamges/logo.png"/>
		</div> -->
		<div class="title"><font style="color: #f89b48;">项目管理</font>系统</div>
		<div class="whiteBg">
			<div class="list">
				<form @submit.prevent="submit">
					<div class="item">
						<div class="acea-row row-middle">
							<image src="/projecttest/Rbac/static/iamges/account.png"  style="width: 22px; height: 22px;"></image>
							<input type="text" class="texts" placeholder="请输入账号" v-model="account" required/>
						</div>
					</div>
					<div class="item">
						<div class="acea-row row-middle">
							<image src="/projecttest/Rbac/static/iamges/pwd.png" style="width: 22px; height: 22px;"></image>
							<input type="password" class="texts" placeholder="请输入密码" v-model="password" required />
						</div>
					</div>
				</form>
			</div>
			
			<div class="logon" @click="submit">登录</div>
		</div>
	</div>
</div>
<script src="/projecttest/bigScreen/js/jquery.min.js"></script>
<script src="/projecttest/bigScreen/js/vue.js"></script>
<script src="/projecttest/bigScreen/js/echarts.min.js"></script>
<script src="/projecttest/bigScreen/js/data.js"></script>
<script>
	var vm = new Vue({
		el: '#app',
		data: {
			account: "",
			password: ""
		},
		onLoad() {
			uni.showLoading();
			if(uni.getStorageSync("isLogin")){
				uni.hideLoading();
				uni.switchTab({
					url:"/pages/index/index"
				})
			}else{
				uni.hideLoading();
			}
		},
		methods: {
			async submit() {
				let that = this;
				if (!this.account) {
					alert('请填写账号');
					return
				}
				if (!this.password) {
					alert('请填写密码');
					return
				}
				$.ajax({
				    url: '/projecttest/Rbac/index.php/App/checkLogin', //仅为示例，并非真实接口地址。
					method: 'GET',
				    data: {
				        account: this.account,
						password: this.password
				    },
					dataType: 'JSON',
				    success: (res) => {
						console.log(res);
						if(res[0]=="账号不存在")
						{
							alert("账号不存在");
							return false;
						}
						else if(res[0]=="密码错误")
						{
							alert("密码错误");
							return false;
						}
						
						if (res[0]) {
							localStorage.setItem("id",res[0]);
							localStorage.setItem("account",res[1]);
							localStorage.setItem("nickname",res[2]);
							localStorage.setItem("name",res[2]);
							localStorage.setItem("number",res[3]);
							localStorage.setItem("tel",res[4]);
							localStorage.setItem("role",res[5]);
							localStorage.setItem("dept",res[6]);
							localStorage.setItem("image",res[7]);
							localStorage.setItem("token",res[1]);
							localStorage.setItem("isLogin",true);
							location.href="/projecttest/Rbac/App"
						} else {
							alert("用户名或密码错误");
							return false;
						}
				    }
				});
			}
		}
	});
</script>
