*
{
	margin: 0;
	padding: 0;
}

a
{
	color: #33c;
	font-weight: bold;
}

body
{
	background: #fff;
	color: #333;
	font: 15px Arial, sans-serif;
}

#container
{
	margin: 0 0;
	padding: 0 0 0;
	/*width: 1344px;*/
	height: 1024px;
}

h1
{
	font-size: 30px;
	margin: 0 10px;
	padding: 0 0 10px;
	text-align: center;
}

p
{
	background: #ffc;
	border: 1px solid #999;
	margin: 0 10px 20px;
	padding: 10px;
	text-align: center;
}

iframe
{
	margin: 0 0 0 ;
}

.photo
{
	width: 940px;
}

.column
{
	float: left;
/*	width: 232px;*/
}

.clear
{
	clear: both;
	overflow: hidden;
	width: 0;
	height: 0;
}


.phf
{
	
	/*width: 1112px;*/
}
