.login1 {
	WIDTH: 270px
}
.login1 DIV {
	LINE-HEIGHT: 27px; MARGIN: 5px
}
.login1 DIV.divLogin {
	MARGIN: 0px 0px 0px 70px; WIDTH: 102px
}
.login1 LABEL {
	WIDTH: 65px; DISPLAY: block; FLOAT: left
}
.login1 INPUT.normal {
	PADDING-BOTTOM: 2px; LINE-HEIGHT: 23px; PADDING-LEFT: 2px; WIDTH: 185px; PADDING-RIGHT: 2px; HEIGHT: 23px; PADDING-TOP: 2px
}
.login1 INPUT.short {
	PADDING-BOTTOM: 2px; LINE-HEIGHT: 23px; PADDING-LEFT: 2px; WIDTH: 185px; PADDING-RIGHT: 2px; HEIGHT: 23px; PADDING-TOP: 2px
}
.login1 INPUT.short {
	WIDTH: 92px; MARGIN-RIGHT: 5px
}
.login1 INPUT.btnLogin {
	LINE-HEIGHT: 30px; WIDTH: 100px; HEIGHT: 30px
}
.login1 .pwch {
	MARGIN-LEFT: 10px; TEXT-DECORATION: underline
}
.login1 .blank {
	CLEAR: right
}
.login2 {
	WIDTH: 940px
}
.login2 DIV {
	LINE-HEIGHT: 27px; MARGIN: 5px; DISPLAY: block; FLOAT: left
}
.login2 LABEL {
	TEXT-ALIGN: right; WIDTH: 65px; DISPLAY: block; FLOAT: left; MARGIN-RIGHT: 5px
}
.login2 INPUT.normal {
	PADDING-BOTTOM: 2px; LINE-HEIGHT: 23px; PADDING-LEFT: 2px; WIDTH: 130px; PADDING-RIGHT: 2px; HEIGHT: 23px; PADDING-TOP: 2px
}
.login2 INPUT.short {
	PADDING-BOTTOM: 2px; LINE-HEIGHT: 23px; PADDING-LEFT: 2px; WIDTH: 130px; PADDING-RIGHT: 2px; HEIGHT: 23px; PADDING-TOP: 2px
}
.login2 INPUT.short {
	WIDTH: 92px; MARGIN-RIGHT: 5px
}
.login2 DIV.divLogin {
	MARGIN: 5px 0px 0px; WIDTH: 72px
}
.login2 INPUT.btnLogin {
	LINE-HEIGHT: 27px; WIDTH: 70px; HEIGHT: 27px
}
.login2 .pwch {
	MARGIN-LEFT: 10px; TEXT-DECORATION: underline
}
.login2 .blank {
	WIDTH: 10px; CLEAR: right
}
.login3 {
	WIDTH: 360px
}
.login3 DIV {
	LINE-HEIGHT: 27px; MARGIN: 5px; WIDTH: 260px; FLOAT: left
}
.login3 DIV.divLogin {
	MARGIN: -113px 0px 0px; WIDTH: 68px; FLOAT: right
}
.login3 LABEL {
	WIDTH: 65px; DISPLAY: block; FLOAT: left
}
.login3 INPUT.normal {
	PADDING-BOTTOM: 2px; LINE-HEIGHT: 23px; PADDING-LEFT: 2px; WIDTH: 185px; PADDING-RIGHT: 2px; HEIGHT: 23px; PADDING-TOP: 2px
}
.login3 INPUT.short {
	PADDING-BOTTOM: 2px; LINE-HEIGHT: 23px; PADDING-LEFT: 2px; WIDTH: 185px; PADDING-RIGHT: 2px; HEIGHT: 23px; PADDING-TOP: 2px
}
.login3 INPUT.short {
	WIDTH: 92px; MARGIN-RIGHT: 5px
}
.login3 INPUT.btnLogin {
	LINE-HEIGHT: 66px; WIDTH: 66px; HEIGHT: 66px
}
.login3 .pwch {
	MARGIN-LEFT: 10px; TEXT-DECORATION: underline
}
.login3 .blank {
	CLEAR: right
}
.login1-en {
	WIDTH: 350px
}
.login1-en DIV {
	LINE-HEIGHT: 27px; MARGIN: 5px
}
.login1-en DIV.divLogin {
	MARGIN: 0px 0px 0px 120px; WIDTH: 102px
}
.login1-en LABEL {
	WIDTH: 115px; DISPLAY: block; FLOAT: left
}
.login1-en INPUT.normal {
	PADDING-BOTTOM: 2px; LINE-HEIGHT: 23px; PADDING-LEFT: 2px; WIDTH: 185px; PADDING-RIGHT: 2px; HEIGHT: 23px; PADDING-TOP: 2px
}
.login1-en INPUT.short {
	PADDING-BOTTOM: 2px; LINE-HEIGHT: 23px; PADDING-LEFT: 2px; WIDTH: 185px; PADDING-RIGHT: 2px; HEIGHT: 23px; PADDING-TOP: 2px
}
.login1-en INPUT.short {
	WIDTH: 92px; MARGIN-RIGHT: 5px
}
.login1-en INPUT.btnLogin {
	LINE-HEIGHT: 30px; WIDTH: 100px; HEIGHT: 30px
}
.login1-en .pwch {
	MARGIN-LEFT: 10px; TEXT-DECORATION: underline
}
.login1-en .blank {
	CLEAR: right
}
.login2-en {
	WIDTH: 1200px
}
.login2-en DIV {
	LINE-HEIGHT: 27px; MARGIN: 5px; DISPLAY: block; FLOAT: left
}
.login2-en LABEL {
	TEXT-ALIGN: right; WIDTH: 115px; DISPLAY: block; FLOAT: left; MARGIN-RIGHT: 5px
}
.login2-en INPUT.normal {
	PADDING-BOTTOM: 2px; LINE-HEIGHT: 23px; PADDING-LEFT: 2px; WIDTH: 130px; PADDING-RIGHT: 2px; HEIGHT: 23px; PADDING-TOP: 2px
}
.login2-en INPUT.short {
	PADDING-BOTTOM: 2px; LINE-HEIGHT: 23px; PADDING-LEFT: 2px; WIDTH: 130px; PADDING-RIGHT: 2px; HEIGHT: 23px; PADDING-TOP: 2px
}
.login2-en INPUT.short {
	WIDTH: 92px; MARGIN-RIGHT: 5px
}
.login2-en DIV.divLogin {
	MARGIN: 5px 0px 0px; WIDTH: 72px
}
.login2-en INPUT.btnLogin {
	LINE-HEIGHT: 27px; WIDTH: 70px; HEIGHT: 27px
}
.login2-en .pwch {
	MARGIN-LEFT: 10px; TEXT-DECORATION: underline
}
.login2-en .blank {
	WIDTH: 10px; CLEAR: right
}
.login3-en {
	WIDTH: 425px
}
.login3-en DIV {
	LINE-HEIGHT: 27px; MARGIN: 5px; WIDTH: 340px; FLOAT: left
}
.login3-en DIV.divLogin {
	MARGIN: -113px 0px 0px; WIDTH: 68px; FLOAT: right
}
.login3-en LABEL {
	WIDTH: 115px; DISPLAY: block; FLOAT: left
}
.login3-en INPUT.normal {
	PADDING-BOTTOM: 2px; LINE-HEIGHT: 23px; PADDING-LEFT: 2px; WIDTH: 185px; PADDING-RIGHT: 2px; HEIGHT: 23px; PADDING-TOP: 2px
}
.login3-en INPUT.short {
	PADDING-BOTTOM: 2px; LINE-HEIGHT: 23px; PADDING-LEFT: 2px; WIDTH: 185px; PADDING-RIGHT: 2px; HEIGHT: 23px; PADDING-TOP: 2px
}
.login3-en INPUT.short {
	WIDTH: 92px; MARGIN-RIGHT: 5px
}
.login3-en INPUT.btnLogin {
	LINE-HEIGHT: 66px; WIDTH: 66px; HEIGHT: 66px
}
.login3-en .pwch {
	MARGIN-LEFT: 10px; TEXT-DECORATION: underline
}
.login3-en .blank {
	CLEAR: right
}
