.btn_1 {
	BACKGROUND: url(../img/btnMod.png)
}
.btn_2 {
	BACKGROUND: url(../img/btnMod.png)
}
.btn_3 {
	BACKGROUND: url(../img/btnMod.png)
}
.btn_4 {
	BACKGROUND: url(../img/btnMod.png)
}
.btn_5 {
	BACKGROUND: url(../img/btnMod.png)
}
.btn_6 {
	BACKGROUND: url(../img/btnMod.png)
}
.btn_7 {
	BACKGROUND: url(../img/btnMod.png)
}
.btn_8 {
	BACKGROUND: url(../img/btnMod.png)
}
.btn_9 {
	BACKGROUND: url(../img/btnMod.png)
}
.btn_10 {
	BACKGROUND: url(../img/btnMod.png)
}
.btn_11 {
	BACKGROUND: url(../img/btnMod.png)
}
.btn_12 {
	BACKGROUND: url(../img/btnMod.png)
}
.btn_13 {
	BACKGROUND: url(../img/btnMod.png)
}
.btn_14 {
	BACKGROUND: url(../img/btnMod.png)
}
.btn_15 {
	BACKGROUND: url(../img/btnMod.png)
}
.btn_16 {
	BACKGROUND: url(../img/btnMod.png)
}
.btn_17 {
	BACKGROUND: url(../img/btnMod.png)
}
.btn_18 {
	BACKGROUND: url(../img/btnMod.png)
}
.btn_19 {
	BACKGROUND: url(../img/btnMod.png)
}
.btn_20 {
	BACKGROUND: url(../img/btnMod.png)
}
.btn_21 {
	BACKGROUND: url(../img/btnMod.png)
}
.btn_22 {
	BACKGROUND: url(../img/btnMod.png)
}
.btn_23 {
	BACKGROUND: url(../img/btnMod.png)
}
.btn_24 {
	BACKGROUND: url(../img/btnMod.png)
}
.btn_1 {
	BACKGROUND-COLOR: #b1d2f1; BACKGROUND-POSITION: 0px 0px
}
.btn_2 {
	BACKGROUND-COLOR: #aedce9; BACKGROUND-POSITION: -24px 0px
}
.btn_3 {
	BACKGROUND-COLOR: #ec7778; BACKGROUND-POSITION: -48px 0px
}
.btn_4 {
	BACKGROUND-COLOR: #95d092; BACKGROUND-POSITION: -72px 0px
}
.btn_5 {
	BACKGROUND-COLOR: #e9d678; BACKGROUND-POSITION: -96px 0px
}
.btn_6 {
	BACKGROUND-COLOR: #eb6bc3; BACKGROUND-POSITION: -120px 0px
}
.btn_7 {
	BACKGROUND-COLOR: #b380e5; BACKGROUND-POSITION: -144px 0px
}
.btn_8 {
	BACKGROUND-COLOR: #f4f4f4; BACKGROUND-POSITION: -168px 0px
}
.btn_9 {
	BACKGROUND-COLOR: #587fc1; BACKGROUND-POSITION: -192px 0px
}
.btn_10 {
	BACKGROUND-COLOR: #558da9; BACKGROUND-POSITION: -216px 0px
}
.btn_11 {
	BACKGROUND-COLOR: #b32829; BACKGROUND-POSITION: -240px 0px
}
.btn_12 {
	BACKGROUND-COLOR: #43823f; BACKGROUND-POSITION: -264px 0px
}
.btn_13 {
	BACKGROUND-COLOR: #b48c2b; BACKGROUND-POSITION: -288px 0px
}
.btn_14 {
	BACKGROUND-COLOR: #a81e69; BACKGROUND-POSITION: -312px 0px
}
.btn_15 {
	BACKGROUND-COLOR: #562d99; BACKGROUND-POSITION: -336px 0px
}
.btn_16 {
	BACKGROUND-COLOR: #484848; BACKGROUND-POSITION: -360px 0px
}
.btn_17 {
	BACKGROUND-COLOR: #0b1f6a; BACKGROUND-POSITION: -384px 0px
}
.btn_18 {
	BACKGROUND-COLOR: #0a2a48; BACKGROUND-POSITION: -408px 0px
}
.btn_19 {
	BACKGROUND-COLOR: #490101; BACKGROUND-POSITION: -432px 0px
}
.btn_20 {
	BACKGROUND-COLOR: #062505; BACKGROUND-POSITION: -456px 0px
}
.btn_21 {
	BACKGROUND-COLOR: #673102; BACKGROUND-POSITION: -480px 0px
}
.btn_22 {
	BACKGROUND-COLOR: #76011d; BACKGROUND-POSITION: -504px 0px
}
.btn_23 {
	BACKGROUND-COLOR: #100358; BACKGROUND-POSITION: -528px 0px
}
.btn_24 {
	BACKGROUND-COLOR: #090909; BACKGROUND-POSITION: -552px 0px
}
#divLoginRegion INPUT.btnLogin {
	FONT-WEIGHT: bold
}
#divLoginRegion .btn_1 {
	BORDER-BOTTOM: #aedce9 1px solid; BORDER-LEFT: #aedce9 1px solid; BACKGROUND: url(../img/btnstyl_1.png) right -100px; BORDER-TOP: #aedce9 1px solid; BORDER-RIGHT: #aedce9 1px solid
}
#divLoginRegion .btn_1 INPUT.btnLogin {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BACKGROUND: url(../img/btnstyl_1.png) left -100px; COLOR: #333; FONT-SIZE: 14px; BORDER-TOP: medium none; CURSOR: pointer; BORDER-RIGHT: medium none
}
#divLoginRegion .btn_2 {
	BORDER-BOTTOM: #aedce9 1px solid; BORDER-LEFT: #aedce9 1px solid; BACKGROUND: url(../img/btnstyl_2.png) right -100px; BORDER-TOP: #aedce9 1px solid; BORDER-RIGHT: #aedce9 1px solid
}
#divLoginRegion .btn_2 INPUT.btnLogin {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BACKGROUND: url(../img/btnstyl_2.png) left -100px; COLOR: #333; FONT-SIZE: 14px; BORDER-TOP: medium none; CURSOR: pointer; BORDER-RIGHT: medium none
}
#divLoginRegion .btn_3 {
	BORDER-BOTTOM: #ec7778 1px solid; BORDER-LEFT: #ec7778 1px solid; BACKGROUND: url(../img/btnstyl_3.png) right -100px; BORDER-TOP: #ec7778 1px solid; BORDER-RIGHT: #ec7778 1px solid
}
#divLoginRegion .btn_3 INPUT.btnLogin {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BACKGROUND: url(../img/btnstyl_3.png) left -100px; COLOR: #333; FONT-SIZE: 14px; BORDER-TOP: medium none; CURSOR: pointer; BORDER-RIGHT: medium none
}
#divLoginRegion .btn_4 {
	BORDER-BOTTOM: #95d092 1px solid; BORDER-LEFT: #95d092 1px solid; BACKGROUND: url(../img/btnstyl_4.png) right -100px; BORDER-TOP: #95d092 1px solid; BORDER-RIGHT: #95d092 1px solid
}
#divLoginRegion .btn_4 INPUT.btnLogin {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BACKGROUND: url(../img/btnstyl_4.png) left -100px; COLOR: #333; FONT-SIZE: 14px; BORDER-TOP: medium none; CURSOR: pointer; BORDER-RIGHT: medium none
}
#divLoginRegion .btn_5 {
	BORDER-BOTTOM: #e9d678 1px solid; BORDER-LEFT: #e9d678 1px solid; BACKGROUND: url(../img/btnstyl_5.png) right -100px; BORDER-TOP: #e9d678 1px solid; BORDER-RIGHT: #e9d678 1px solid
}
#divLoginRegion .btn_5 INPUT.btnLogin {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BACKGROUND: url(../img/btnstyl_5.png) left -100px; COLOR: #333; FONT-SIZE: 14px; BORDER-TOP: medium none; CURSOR: pointer; BORDER-RIGHT: medium none
}
#divLoginRegion .btn_6 {
	BORDER-BOTTOM: #eb6bc3 1px solid; BORDER-LEFT: #eb6bc3 1px solid; BACKGROUND: url(../img/btnstyl_6.png) right -100px; BORDER-TOP: #eb6bc3 1px solid; BORDER-RIGHT: #eb6bc3 1px solid
}
#divLoginRegion .btn_6 INPUT.btnLogin {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BACKGROUND: url(../img/btnstyl_6.png) left -100px; COLOR: #333; FONT-SIZE: 14px; BORDER-TOP: medium none; CURSOR: pointer; BORDER-RIGHT: medium none
}
#divLoginRegion .btn_7 {
	BORDER-BOTTOM: #b380e5 1px solid; BORDER-LEFT: #b380e5 1px solid; BACKGROUND: url(../img/btnstyl_7.png) right -100px; BORDER-TOP: #b380e5 1px solid; BORDER-RIGHT: #b380e5 1px solid
}
#divLoginRegion .btn_7 INPUT.btnLogin {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BACKGROUND: url(../img/btnstyl_7.png) left -100px; COLOR: #333; FONT-SIZE: 14px; BORDER-TOP: medium none; CURSOR: pointer; BORDER-RIGHT: medium none
}
#divLoginRegion .btn_8 {
	BORDER-BOTTOM: #a1a1a1 1px solid; BORDER-LEFT: #a1a1a1 1px solid; BACKGROUND: url(../img/btnstyl_8.png) right -100px; BORDER-TOP: #a1a1a1 1px solid; BORDER-RIGHT: #a1a1a1 1px solid
}
#divLoginRegion .btn_8 INPUT.btnLogin {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BACKGROUND: url(../img/btnstyl_8.png) left -100px; COLOR: #333; FONT-SIZE: 14px; BORDER-TOP: medium none; CURSOR: pointer; BORDER-RIGHT: medium none
}
#divLoginRegion .btn_9 {
	BORDER-BOTTOM: #587fc1 1px solid; BORDER-LEFT: #587fc1 1px solid; BACKGROUND: url(../img/btnstyl_1.png) right -200px; BORDER-TOP: #587fc1 1px solid; BORDER-RIGHT: #587fc1 1px solid
}
#divLoginRegion .btn_9 INPUT.btnLogin {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BACKGROUND: url(../img/btnstyl_1.png) left -200px; COLOR: #fff; FONT-SIZE: 14px; BORDER-TOP: medium none; CURSOR: pointer; BORDER-RIGHT: medium none
}
#divLoginRegion .btn_10 {
	BORDER-BOTTOM: #558da9 1px solid; BORDER-LEFT: #558da9 1px solid; BACKGROUND: url(../img/btnstyl_2.png) right -200px; BORDER-TOP: #558da9 1px solid; BORDER-RIGHT: #558da9 1px solid
}
#divLoginRegion .btn_10 INPUT.btnLogin {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BACKGROUND: url(../img/btnstyl_2.png) left -200px; COLOR: #fff; FONT-SIZE: 14px; BORDER-TOP: medium none; CURSOR: pointer; BORDER-RIGHT: medium none
}
#divLoginRegion .btn_11 {
	BORDER-BOTTOM: #b32829 1px solid; BORDER-LEFT: #b32829 1px solid; BACKGROUND: url(../img/btnstyl_3.png) right -200px; BORDER-TOP: #b32829 1px solid; BORDER-RIGHT: #b32829 1px solid
}
#divLoginRegion .btn_11 INPUT.btnLogin {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BACKGROUND: url(../img/btnstyl_3.png) left -200px; COLOR: #fff; FONT-SIZE: 14px; BORDER-TOP: medium none; CURSOR: pointer; BORDER-RIGHT: medium none
}
#divLoginRegion .btn_12 {
	BORDER-BOTTOM: #43823f 1px solid; BORDER-LEFT: #43823f 1px solid; BACKGROUND: url(../img/btnstyl_4.png) right -200px; BORDER-TOP: #43823f 1px solid; BORDER-RIGHT: #43823f 1px solid
}
#divLoginRegion .btn_12 INPUT.btnLogin {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BACKGROUND: url(../img/btnstyl_4.png) left -200px; COLOR: #fff; FONT-SIZE: 14px; BORDER-TOP: medium none; CURSOR: pointer; BORDER-RIGHT: medium none
}
#divLoginRegion .btn_13 {
	BORDER-BOTTOM: #b48c2b 1px solid; BORDER-LEFT: #b48c2b 1px solid; BACKGROUND: url(../img/btnstyl_5.png) right -200px; BORDER-TOP: #b48c2b 1px solid; BORDER-RIGHT: #b48c2b 1px solid
}
#divLoginRegion .btn_13 INPUT.btnLogin {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BACKGROUND: url(../img/btnstyl_5.png) left -200px; COLOR: #fff; FONT-SIZE: 14px; BORDER-TOP: medium none; CURSOR: pointer; BORDER-RIGHT: medium none
}
#divLoginRegion .btn_14 {
	BORDER-BOTTOM: #a81e69 1px solid; BORDER-LEFT: #a81e69 1px solid; BACKGROUND: url(../img/btnstyl_6.png) right -200px; BORDER-TOP: #a81e69 1px solid; BORDER-RIGHT: #a81e69 1px solid
}
#divLoginRegion .btn_14 INPUT.btnLogin {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BACKGROUND: url(../img/btnstyl_6.png) left -200px; COLOR: #fff; FONT-SIZE: 14px; BORDER-TOP: medium none; CURSOR: pointer; BORDER-RIGHT: medium none
}
#divLoginRegion .btn_15 {
	BORDER-BOTTOM: #562d99 1px solid; BORDER-LEFT: #562d99 1px solid; BACKGROUND: url(../img/btnstyl_7.png) right -200px; BORDER-TOP: #562d99 1px solid; BORDER-RIGHT: #562d99 1px solid
}
#divLoginRegion .btn_15 INPUT.btnLogin {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BACKGROUND: url(../img/btnstyl_7.png) left -200px; COLOR: #fff; FONT-SIZE: 14px; BORDER-TOP: medium none; CURSOR: pointer; BORDER-RIGHT: medium none
}
#divLoginRegion .btn_16 {
	BORDER-BOTTOM: #484848 1px solid; BORDER-LEFT: #484848 1px solid; BACKGROUND: url(../img/btnstyl_8.png) right -200px; BORDER-TOP: #484848 1px solid; BORDER-RIGHT: #484848 1px solid
}
#divLoginRegion .btn_16 INPUT.btnLogin {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BACKGROUND: url(../img/btnstyl_8.png) left -200px; COLOR: #fff; FONT-SIZE: 14px; BORDER-TOP: medium none; CURSOR: pointer; BORDER-RIGHT: medium none
}
#divLoginRegion .btn_17 {
	BORDER-BOTTOM: #0b1f6a 1px solid; BORDER-LEFT: #0b1f6a 1px solid; BACKGROUND: url(../img/btnstyl_1.png) right -300px; BORDER-TOP: #0b1f6a 1px solid; BORDER-RIGHT: #0b1f6a 1px solid
}
#divLoginRegion .btn_17 INPUT.btnLogin {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BACKGROUND: url(../img/btnstyl_1.png) left -300px; COLOR: #fff; FONT-SIZE: 14px; BORDER-TOP: medium none; CURSOR: pointer; BORDER-RIGHT: medium none
}
#divLoginRegion .btn_18 {
	BORDER-BOTTOM: #0a2a48 1px solid; BORDER-LEFT: #0a2a48 1px solid; BACKGROUND: url(../img/btnstyl_2.png) right -300px; BORDER-TOP: #0a2a48 1px solid; BORDER-RIGHT: #0a2a48 1px solid
}
#divLoginRegion .btn_18 INPUT.btnLogin {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BACKGROUND: url(../img/btnstyl_2.png) left -300px; COLOR: #fff; FONT-SIZE: 14px; BORDER-TOP: medium none; CURSOR: pointer; BORDER-RIGHT: medium none
}
#divLoginRegion .btn_19 {
	BORDER-BOTTOM: #490101 1px solid; BORDER-LEFT: #490101 1px solid; BACKGROUND: url(../img/btnstyl_3.png) right -300px; BORDER-TOP: #490101 1px solid; BORDER-RIGHT: #490101 1px solid
}
#divLoginRegion .btn_19 INPUT.btnLogin {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BACKGROUND: url(../img/btnstyl_3.png) left -300px; COLOR: #fff; FONT-SIZE: 14px; BORDER-TOP: medium none; CURSOR: pointer; BORDER-RIGHT: medium none
}
#divLoginRegion .btn_20 {
	BORDER-BOTTOM: #062505 1px solid; BORDER-LEFT: #062505 1px solid; BACKGROUND: url(../img/btnstyl_4.png) right -300px; BORDER-TOP: #062505 1px solid; BORDER-RIGHT: #062505 1px solid
}
#divLoginRegion .btn_20 INPUT.btnLogin {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BACKGROUND: url(../img/btnstyl_4.png) left -300px; COLOR: #fff; FONT-SIZE: 14px; BORDER-TOP: medium none; CURSOR: pointer; BORDER-RIGHT: medium none
}
#divLoginRegion .btn_21 {
	BORDER-BOTTOM: #673102 1px solid; BORDER-LEFT: #673102 1px solid; BACKGROUND: url(../img/btnstyl_5.png) right -300px; BORDER-TOP: #673102 1px solid; BORDER-RIGHT: #673102 1px solid
}
#divLoginRegion .btn_21 INPUT.btnLogin {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BACKGROUND: url(../img/btnstyl_5.png) left -300px; COLOR: #fff; FONT-SIZE: 14px; BORDER-TOP: medium none; CURSOR: pointer; BORDER-RIGHT: medium none
}
#divLoginRegion .btn_22 {
	BORDER-BOTTOM: #76011d 1px solid; BORDER-LEFT: #76011d 1px solid; BACKGROUND: url(../img/btnstyl_6.png) right -300px; BORDER-TOP: #76011d 1px solid; BORDER-RIGHT: #76011d 1px solid
}
#divLoginRegion .btn_22 INPUT.btnLogin {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BACKGROUND: url(../img/btnstyl_6.png) left -300px; COLOR: #fff; FONT-SIZE: 14px; BORDER-TOP: medium none; CURSOR: pointer; BORDER-RIGHT: medium none
}
#divLoginRegion .btn_23 {
	BORDER-BOTTOM: #100358 1px solid; BORDER-LEFT: #100358 1px solid; BACKGROUND: url(../img/btnstyl_7.png) right -300px; BORDER-TOP: #100358 1px solid; BORDER-RIGHT: #100358 1px solid
}
#divLoginRegion .btn_23 INPUT.btnLogin {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BACKGROUND: url(../img/btnstyl_7.png) left -300px; COLOR: #fff; FONT-SIZE: 14px; BORDER-TOP: medium none; CURSOR: pointer; BORDER-RIGHT: medium none
}
#divLoginRegion .btn_24 {
	BORDER-BOTTOM: #090909 1px solid; BORDER-LEFT: #090909 1px solid; BACKGROUND: url(../img/btnstyl_8.png) right -300px; BORDER-TOP: #090909 1px solid; BORDER-RIGHT: #090909 1px solid
}
#divLoginRegion .btn_24 INPUT.btnLogin {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BACKGROUND: url(../img/btnstyl_8.png) left -300px; COLOR: #fff; FONT-SIZE: 14px; BORDER-TOP: medium none; CURSOR: pointer; BORDER-RIGHT: medium none
}
