A:link {
	LINE-HEIGHT: 20px; COLOR: #000; FONT-SIZE: 12px; TEXT-DECORATION: none
}
A:visited {
	LINE-HEIGHT: 20px; COLOR: #000; FONT-SIZE: 12px; TEXT-DECORATION: none
}
A:visited {
	LINE-HEIGHT: 20px; COLOR: #000; FONT-SIZE: 12px; TEXT-DECORATION: none
}
A:hover {
	LINE-HEIGHT: 20px; COLOR: #000; FONT-SIZE: 12px; TEXT-DECORATION: none
}
A:active {
	LINE-HEIGHT: 20px; COLOR: #000; FONT-SIZE: 12px; TEXT-DECORATION: none
}
A:hover {
	LINE-HEIGHT: 20px; COLOR: #1f8cc3; FONT-SIZE: 12px; TEXT-DECORATION: none
}
A:active {
	LINE-HEIGHT: 20px; COLOR: #1f8cc3; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.oa-img .x-view-over {
	BORDER-BOTTOM: #dddddd 1px solid; BORDER-LEFT: #dddddd 1px solid; PADDING-BOTTOM: 1px; BACKGROUND-COLOR: #dddddd; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; BORDER-TOP: #dddddd 1px solid; BORDER-RIGHT: #dddddd 1px solid; PADDING-TOP: 1px
}
.oa-img .x-view-selected {
	BORDER-BOTTOM: #99bbe8 1px solid; BORDER-LEFT: #99bbe8 1px solid; PADDING-BOTTOM: 1px; BACKGROUND-COLOR: #99bbe8; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; BORDER-TOP: #99bbe8 1px solid; BORDER-RIGHT: #99bbe8 1px solid; PADDING-TOP: 1px
}
.oa-img .thumb {
	BORDER-BOTTOM: #ece9d8 1px solid; BORDER-LEFT: #ece9d8 1px solid; PADDING-BOTTOM: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-TOP: #ece9d8 1px solid; BORDER-RIGHT: #ece9d8 1px solid; PADDING-TOP: 3px; align: center
}
.oa-img .thumb IMG {
	WIDTH: 90px; HEIGHT: 90px
}
.oa-img .thumb-wrap {
	BORDER-BOTTOM: #ffffff 1px; BORDER-LEFT: #ffffff 1px; PADDING-BOTTOM: 3px; MARGIN: 4px 0px 4px 4px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; FLOAT: left; BORDER-TOP: #ffffff 1px; BORDER-RIGHT: #ffffff 1px; PADDING-TOP: 3px
}
.oa-dataview {
	MARGIN: 0px
}
.oa-dataview TABLE {
	BORDER-RIGHT-WIDTH: 0px; BORDER-COLLAPSE: collapse; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
.oa-dataview .txt {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; COLOR: #000; FONT-SIZE: 12px; PADDING-TOP: 5px
}
.oa-dataview .txt-bold {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; COLOR: #000; FONT-SIZE: 12px; FONT-WEIGHT: bold; PADDING-TOP: 5px
}
.oa-dataview DIV.view-item {
	BORDER-BOTTOM: #fff 1px dotted; BORDER-RIGHT-COLOR: #fff; BORDER-LEFT-COLOR: #fff; BORDER-TOP: #fff 1px dotted
}
.oa-dataview DIV.view-over {
	BORDER-BOTTOM: #dddddd 1px dotted; BACKGROUND-COLOR: #efefef; BORDER-RIGHT-COLOR: #dddddd; BORDER-LEFT-COLOR: #dddddd; BORDER-TOP: #dddddd 1px dotted
}
.oa-dataview DIV.view-selected {
	BORDER-BOTTOM: #a3bae9 1px dotted; BACKGROUND-COLOR: #dfe8f6; BORDER-RIGHT-COLOR: #a3bae9; BORDER-LEFT-COLOR: #a3bae9; BORDER-TOP: #a3bae9 1px dotted
}
.oa-dataview .redtxt {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; COLOR: red; FONT-SIZE: 12px; PADDING-TOP: 5px
}
.oa-dataview .greentxt {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; COLOR: green; FONT-SIZE: 12px; PADDING-TOP: 5px
}
.oa-dataview .bluetxt {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; COLOR: blue; FONT-SIZE: 12px; PADDING-TOP: 5px
}
.oa-dataview .orangetxt {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; COLOR: orange; FONT-SIZE: 12px; PADDING-TOP: 5px
}
.oa-ejs TABLE {
	BORDER-RIGHT-WIDTH: 0px; BORDER-COLLAPSE: collapse; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
.oa-ejs .txt {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; COLOR: #000; FONT-SIZE: 12px; PADDING-TOP: 5px
}
.oa-ejs .txt-bold {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; COLOR: #000; FONT-SIZE: 12px; FONT-WEIGHT: bold; PADDING-TOP: 5px
}
.oa-text {
	LINE-HEIGHT: 20px; MARGIN: 10px; COLOR: #333
}
.ext-ie .oa-text {
	WIDTH: 100%
}
.ext-ie .oa-text DIV.baseline {
	WIDTH: 100%
}
.oa-text TABLE {
	BORDER-RIGHT-WIDTH: 0px; BORDER-COLLAPSE: collapse; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
.oa-text .toptitle {
	COLOR: #666; FONT-SIZE: 12px
}
.oa-text .title {
	TEXT-ALIGN: center; PADDING-BOTTOM: 5px; FONT-FAMILY: "ו"; COLOR: #000066; FONT-SIZE: 16px; FONT-WEIGHT: bold
}
.oa-text .subtitle {
	TEXT-ALIGN: center; PADDING-BOTTOM: 10px; COLOR: #999; FONT-SIZE: 12px
}
.oa-text DIV.baseline {
	HEIGHT: 1px; OVERFLOW: hidden; BORDER-TOP: #cccccc 1px dashed
}
.oa-text .content {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; FONT-SIZE: 12px; PADDING-TOP: 10px
}
.oa-text .foot {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; FONT-SIZE: 12px; PADDING-TOP: 10px
}
.oa-text P {
	TEXT-INDENT: 2em
}
.x-form-check-group .x-item-disabled {
	FILTER: none
}
.x-grid-record-bold2 TABLE {
	FONT-WEIGHT: 800
}
.x-grid-record-red TABLE {
	COLOR: #ff0000
}
.x-grid-record-blue TABLE {
	COLOR: #0000ff
}
.x-grid-record-green TABLE {
	COLOR: #008000
}
.x-grid-record-yellow TABLE {
	COLOR: #ffff00
}
.x-grid-record-orange TABLE {
	COLOR: #ffa500
}
.x-grid-record-gray TABLE {
	COLOR: #999999
}
.x-grid-green-unuse TABLE {
	COLOR: #008000; TEXT-DECORATION: line-through
}
.x-grid-red-unuse TABLE {
	COLOR: #ff0000; TEXT-DECORATION: line-through
}
.x-grid-record-unuse TABLE {
	COLOR: gray; TEXT-DECORATION: line-through
}
.oa-header {
	DISPLAY: block; BACKGROUND: url(/logo/index.jpg) repeat-x 0px -50px; HEIGHT: 50px; OVERFLOW: hidden
}
.oa-header .headerNav {
	BACKGROUND: url(/logo/index.jpg) no-repeat; HEIGHT: 50px
}
.oa-header .nav {
	PADDING-RIGHT: 5px; FLOAT: right; PADDING-TOP: 5px
}
.oa-header .toolbar {
	PADDING-RIGHT: 50px; VERTICAL-ALIGN: bottom
}
.oa-header {
	COLOR: #ffffff; FONT-SIZE: 12px
}
.oa-header TABLE TD {
	COLOR: #ffffff; FONT-SIZE: 12px
}
.oa-header A:link {
	LINE-HEIGHT: 20px; COLOR: #ffffff; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.oa-header A:visited {
	LINE-HEIGHT: 20px; COLOR: #ffffff; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.oa-header A:visited {
	LINE-HEIGHT: 20px; COLOR: #ffffff; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.oa-header A:hover {
	LINE-HEIGHT: 20px; COLOR: #ffffff; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.oa-header A:active {
	LINE-HEIGHT: 20px; COLOR: #ffffff; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.oa-header A:hover {
	LINE-HEIGHT: 20px; COLOR: #ffffff; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.oa-header A:active {
	LINE-HEIGHT: 20px; COLOR: #ffffff; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.oa-header .toolbar .tool {
	WIDTH: 16px; ZOOM: 1; MARGIN-BOTTOM: 4px; FLOAT: left; HEIGHT: 16px; MARGIN-LEFT: 25px; OVERFLOW: hidden; CURSOR: pointer
}
.oa-header .msg-tool {
	WIDTH: 50px; ZOOM: 1; FLOAT: left; HEIGHT: 30px; OVERFLOW: hidden; CURSOR: pointer
}
.oa-header .msg-tool .msg-num {
	Z-INDEX: 1; BORDER-BOTTOM: red 2px solid; POSITION: relative; TEXT-ALIGN: center; BORDER-LEFT: red 2px solid; BACKGROUND-COLOR: red; WIDTH: 15px; HEIGHT: 15px; COLOR: yellow; FONT-SIZE: 12px; OVERFLOW: hidden; BORDER-TOP: red 2px solid; TOP: -13px; FONT-WEIGHT: bold; BORDER-RIGHT: red 2px solid; LEFT: 15px; border-radius: 10px
}
.oa-header .msg-tool .msg-num2 {
	Z-INDEX: 1; BORDER-BOTTOM: yellow 2px solid; POSITION: relative; TEXT-ALIGN: center; BORDER-LEFT: yellow 2px solid; BACKGROUND-COLOR: yellow; WIDTH: 15px; HEIGHT: 15px; COLOR: red; FONT-SIZE: 12px; OVERFLOW: hidden; BORDER-TOP: yellow 2px solid; TOP: -13px; FONT-WEIGHT: bold; BORDER-RIGHT: yellow 2px solid; LEFT: 15px; border-radius: 10px
}
.ico-peronal {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=noscale, src="/images/index/ico-peronal.png"); BACKGROUND: none transparent scroll repeat 0% 0%
}
.ico-info {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=noscale, src="/images/index/ico-info.png"); BACKGROUND: none transparent scroll repeat 0% 0%
}
.ico-knowledge {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=noscale, src="/images/index/ico-knowledge.png"); BACKGROUND: none transparent scroll repeat 0% 0%
}
.ico-dept {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=noscale, src="/images/index/ico-dept.png"); BACKGROUND: none transparent scroll repeat 0% 0%
}
.ico-workgroup {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=noscale, src="/images/index/ico-workgroup.png"); BACKGROUND: none transparent scroll repeat 0% 0%
}
.ico-msg {
	POSITION: relative; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=noscale, src="/images/index/ico_msg.png"); WIDTH: 20px; ZOOM: 1; BACKGROUND: none transparent scroll repeat 0% 0%; HEIGHT: 18px; TOP: 15px; CURSOR: pointer; LEFT: 0px
}
.oa-sitemsg {
	MARGIN: 5px; FONT-SIZE: 12px
}
.oa-sitemsg .subject {
	COLOR: #15428b; FONT-SIZE: 14px; CURSOR: pointer; FONT-WEIGHT: bold
}
.oa-sitemsg .subjectread {
	COLOR: #000000; FONT-SIZE: 14px; CURSOR: pointer; FONT-WEIGHT: 400
}
.oa-sitemsg .subject SPAN {
	COLOR: #666666; FONT-SIZE: 12px; FONT-WEIGHT: 400
}
.oa-sitemsg .subjectread SPAN {
	COLOR: #666666; FONT-SIZE: 12px; FONT-WEIGHT: 400
}
.oa-sitemsg .content {
	MARGIN: 10px 30px
}
.oa-sitemsg .content SPAN {
	COLOR: red
}
.oa-sitemsg .content HR {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; HEIGHT: 1px; BORDER-TOP: #eeeeee 1px solid; BORDER-RIGHT: medium none
}
.oa-sitemsg .content UL {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 40px; PADDING-RIGHT: 5px; PADDING-TOP: 5px
}
.oa-sitemsg .content LI {
	LINE-HEIGHT: 1.8em
}
.oa-sitemsg .content A:link {
	LINE-HEIGHT: 20px; COLOR: #08c; TEXT-DECORATION: none
}
.oa-sitemsg .content A:visited {
	LINE-HEIGHT: 20px; COLOR: #08c; TEXT-DECORATION: none
}
.oa-sitemsg .content A:visited {
	LINE-HEIGHT: 20px; COLOR: #08c; TEXT-DECORATION: none
}
.oa-sitemsg .content A:hover {
	LINE-HEIGHT: 20px; COLOR: #08c; TEXT-DECORATION: none
}
.oa-sitemsg .content A:active {
	LINE-HEIGHT: 20px; COLOR: #08c; TEXT-DECORATION: none
}
.oa-sitemsg .content A:hover {
	COLOR: #08c
}
.oa-sitemsg .content A:active {
	COLOR: #08c
}
.oa-sitemsg DIV.view-item {
	BORDER-BOTTOM: #cccccc 1px dotted; PADDING-BOTTOM: 10px; BORDER-TOP-COLOR: #cccccc; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BORDER-RIGHT-COLOR: #cccccc; BORDER-LEFT-COLOR: #cccccc; PADDING-TOP: 10px
}
.parm-altermsg {
	MARGIN: 5px; WIDTH: 100%; FONT-SIZE: 12px
}
.parm-altermsg TD {
	FONT-SIZE: 12px
}
.parm-altermsg .content {
	LINE-HEIGHT: 20px; FONT-SIZE: 12px
}
.parm-altermsg DIV.view-item {
	BORDER-BOTTOM: #cccccc 1px dotted; PADDING-BOTTOM: 10px; BORDER-TOP-COLOR: #cccccc; PADDING-LEFT: 10px; WIDTH: 100%; PADDING-RIGHT: 10px; BORDER-RIGHT-COLOR: #cccccc; BORDER-LEFT-COLOR: #cccccc; PADDING-TOP: 10px
}
.parm-altermsg A:link {
	LINE-HEIGHT: 20px; COLOR: #08c; TEXT-DECORATION: none
}
.parm-altermsg A:visited {
	LINE-HEIGHT: 20px; COLOR: #08c; TEXT-DECORATION: none
}
.parm-altermsg A:visited {
	LINE-HEIGHT: 20px; COLOR: #08c; TEXT-DECORATION: none
}
.parm-altermsg A:hover {
	LINE-HEIGHT: 20px; COLOR: #08c; TEXT-DECORATION: none
}
.parm-altermsg A:active {
	LINE-HEIGHT: 20px; COLOR: #08c; TEXT-DECORATION: none
}
.parm-altermsg A:hover {
	COLOR: #08c
}
.parm-altermsg A:active {
	COLOR: #08c
}
