BODY {
	PADDING-BOTTOM: 0px; BACKGROUND-COLOR: #fff !important; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.style20120705 {
	POSITION: absolute; MARGIN: -275px 0px 0px; WIDTH: 100%; TOP: 50%
}
.style20120705 .header {
	POSITION: relative; MARGIN: 0px auto; WIDTH: 920px; HEIGHT: 76px
}
.style20120705 .header .logo {
		position:relative;
		top:5px;
	BACKGROUND-IMAGE: none
}
.style20120705 .header .logo IMG {
	WIDTH: 468px; HEIGHT: 59px
}
.style20120705 .main {
	POSITION: relative; BACKGROUND: #eee; HEIGHT: 360px
}
.style20120705 .main .inner {
	POSITION: absolute; WIDTH: 100%
}
.style20120705 #hd {
	POSITION: relative; MARGIN: 0px auto; WIDTH: 920px; HEIGHT: 360px; OVERFLOW: hidden
}
.style20120705 #hd IMG {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; WIDTH: 920px; HEIGHT: 360px; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
.style20120705 .tab_btns {
	Z-INDEX: 1; POSITION: absolute; BOTTOM: 10px; LEFT: 20px
}
.style20120705 .tab_btns A {
	WIDTH: 10px; BACKGROUND: #b2b2b2; FLOAT: left; HEIGHT: 10px; COLOR: #b2b2b2; MARGIN-LEFT: 5px; OVERFLOW: hidden
}
.style20120705 .tab_btns A.on {
	BACKGROUND: #fff; COLOR: #fff
}
.style20120705 .main .loginlayer {
	Z-INDEX: 1; POSITION: relative; MARGIN: 0px auto; WIDTH: 920px
}
.style20120705 .main .loginbox {
	POSITION: absolute; WIDTH: 272px; BACKGROUND: url(loginboxbg.jpg) no-repeat; HEIGHT: 272px; TOP: 46px; RIGHT: 10px; -webkit-box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.8); -moz-box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.8); box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.8)
}
.eng .main .loginbox {
	BACKGROUND-IMAGE: url(loginboxbg-en.png)
}
.style20120705 .username {
	BORDER-BOTTOM: medium none; POSITION: absolute; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; LINE-HEIGHT: 32px; TEXT-INDENT: 5px; PADDING-LEFT: 0px; WIDTH: 141px; PADDING-RIGHT: 0px; BACKGROUND: #fff; HEIGHT: 32px; FONT-SIZE: 24px; BORDER-TOP: medium none; TOP: 93px; RIGHT: 23px; BORDER-RIGHT: medium none; PADDING-TOP: 0px
}
.style20120705 .password {
	BORDER-BOTTOM: medium none; POSITION: absolute; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; LINE-HEIGHT: 32px; TEXT-INDENT: 5px; PADDING-LEFT: 0px; WIDTH: 141px; PADDING-RIGHT: 0px; BACKGROUND: #fff; HEIGHT: 32px; FONT-SIZE: 24px; BORDER-TOP: medium none; TOP: 146px; RIGHT: 23px; BORDER-RIGHT: medium none; PADDING-TOP: 0px
}
.style20120705 .login {
	BORDER-BOTTOM: medium none; POSITION: absolute; BORDER-LEFT: medium none; WIDTH: 109px; BACKGROUND: none transparent scroll repeat 0% 0%; HEIGHT: 40px; BORDER-TOP: medium none; TOP: 198px; CURSOR: pointer; RIGHT: 140px; BORDER-RIGHT: medium none; -webkit-border-radius: 5px
}
.style20120705 .register {
	BORDER-BOTTOM: medium none; POSITION: absolute; BORDER-LEFT: medium none; WIDTH: 109px; BACKGROUND: none transparent scroll repeat 0% 0%; HEIGHT: 40px; BORDER-TOP: medium none; TOP: 198px; CURSOR: pointer; RIGHT: 23px; BORDER-RIGHT: medium none; -webkit-border-radius: 5px
}
.style20120705 .footer {
	BACKGROUND: url(footbg.jpg) repeat-x; HEIGHT: 102px
}
.style20120705 .footer .inner {
	POSITION: relative; MARGIN: 0px auto; WIDTH: 920px
}
.style20120705 .footer .tips {
	POSITION: absolute; PADDING-BOTTOM: 0px; LINE-HEIGHT: 20px; PADDING-LEFT: 50px; WIDTH: 460px; PADDING-RIGHT: 10px; BACKGROUND: url(ico.jpg) no-repeat; HEIGHT: 50px; COLOR: #666; FONT-SIZE: 12px; TOP: 16px; PADDING-TOP: 3px
}
.style20120705 .footer .iu {
	POSITION: absolute; LINE-HEIGHT: 35px; TEXT-INDENT: 40px; BACKGROUND: url(iu.gif) no-repeat; HEIGHT: 35px; COLOR: #999; FONT-SIZE: 14px; TOP: 16px; RIGHT: 140px
}
.style20120705 .footer .c6 {
	POSITION: absolute; LINE-HEIGHT: 35px; TEXT-INDENT: 40px; BACKGROUND: url(iu.gif) no-repeat; HEIGHT: 35px; COLOR: #999; FONT-SIZE: 14px; TOP: 16px; RIGHT: 140px
}
.style20120705 .footer .iu A {
	COLOR: #999; TEXT-DECORATION: none
}
.style20120705 .footer .c6 A {
	COLOR: #999; TEXT-DECORATION: none
}
.style20120705 .footer .iu A:hover {
	COLOR: #666
}
.style20120705 .footer .c6 A:hover {
	COLOR: #666
}
.style20120705 .footer .c6 {
	BACKGROUND: url(c6.gif) no-repeat; RIGHT: 0px
}
.style20120705 .footer .copyright {
	TEXT-ALIGN: center; FONT-FAMILY: arial; COLOR: #999; FONT-SIZE: 12px; PADDING-TOP: 85px
}
#divBg {
	DISPLAY: block
}
#divLoginRegion {
	DISPLAY: none
}
#divCopyRightRegion {
	DISPLAY: none
}
#divSetRegion {
	TOP: 40px; RIGHT: -45px
}
#divSetRegion {
	COLOR: #999
}
#divSetRegion A {
	COLOR: #999
}
#divLanguage {
	COLOR: #999
}
#divLogin {
	COLOR: #999
}
#divLanguage {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 5px; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; BACKGROUND: #fff; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 5px
}
#divLogin {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 5px; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; BACKGROUND: #fff; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 5px
}
#divLanguage SPAN:hover {
	BACKGROUND: #9fc4e7
}
#divLogin SPAN:hover {
	BACKGROUND: #9fc4e7
}
