<!doctype html>
<html>

	<head>
		<title>换电站建设参数</title>
		<meta charset="utf-8">
		<meta name="viewport"
			content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="__PUBLIC__/appsource/css/mui.min.css" rel="stylesheet" />
		<style type="text/css">
			.noBorder:after {
				content: none !important;
			}
			html, body {
			    margin: 0;
				padding: 0;
				height: 100%;
				overflow: hidden;
				-webkit-touch-callout: none;
				-webkit-user-select: none;
			}
			.mui-content {
				height: 100%;
				overflow: auto;
			}
		</style>
	</head>

	<body>
		<div id="app" class="mui-content">
		<div class="mui-content">
			<form class="mui-input-group">
				<div class="mui-input-row" style="height: auto;">
					<label style="width: 50%;">场地租金/出让金</label>
					<div style="display: flex;align-items: center;">
					<input type="number" v-model="venueRental" style="padding-left: 0;">
					</div>
					<div
						style="position: absolute;right: 10px;top: 0; height: 100%;display: flex;align-items: center;color: #999;font-size: 14px;">
						万元/年</div>
				</div>
				<div class="mui-input-row noBorder" style="height: auto;">
					<label style="width: 50%;">电力基础设施建设费用<span style="color: red;"> *</span></label>
					<div style="display: flex;align-items: center;height: 58px;">
					<input type="number" v-model="electricityInfrastructureConstructionCosts" style="padding-left: 0;">
					</div>
					<div
						style="position: absolute;right: 10px;top: 0; height: 100%;display: flex;align-items: center;color: #999;font-size: 14px;">
						万元/年</div>
				</div>
				<div style="height: 15px;background: #f8f8f8;margin-bottom: 10px;"></div>
<!-- 				<div class="mui-input-row">
					<label style="white-space:nowrap">换电机器人</label>
					<input type="number" v-model="batterySwapRobot">
					<div
						style="position: absolute;right: 10px;height: 100%;display: flex;align-items: center;color: #999;font-size: 14px;">
						万元</div>
				</div>
				<div style="white-space:nowrap;padding: 10px 15px 0;">站级监控系统</div>
				<div class="mui-input-row" style="position: relative;">
					<input type="number" v-model="stationLvlMonitoringSys">
					<div
						style="position: absolute;right: 10px;top: 0; height: 100%;display: flex;align-items: center;color: #999;font-size: 14px;">
						万元</div>
				</div>
				<div style="white-space:nowrap;padding: 10px 15px 0;">充电仓位集成箱</div>
				<div class="mui-input-row" style="position: relative;">
					<input type="number" v-model="chargingLocationIntegratedBox">
					<div
						style="position: absolute;right: 10px;top: 0; height: 100%;display: flex;align-items: center;color: #999;font-size: 14px;">
						万元</div>
				</div>
				<div class="mui-input-row">
					<label style="white-space:nowrap;color: #999;">充电机</label>
					<input type="number" disabled v-model="charger">
					<div
						style="position: absolute;right: 10px;height: 100%;display: flex;align-items: center;color: #999;font-size: 14px;">
						万元</div>
				</div>
				<div style="white-space:nowrap;padding: 10px 15px 0;">环境防护设施</div>
				<div class="mui-input-row" style="position: relative;">
					<input type="number" v-model="environmentalProtectionFacilities">
					<div
						style="position: absolute;right: 10px;top: 0; height: 100%;display: flex;align-items: center;color: #999;font-size: 14px;">
						万元</div>
				</div>
				<div style="white-space:nowrap;padding: 10px 15px 0;">安防监控系统</div>
				<div class="mui-input-row" style="position: relative;">
					<input type="number" v-model="securityMonitoringSys">
					<div
						style="position: absolute;right: 10px;top: 0; height: 100%;display: flex;align-items: center;color: #999;font-size: 14px;">
						万元</div>
				</div>
				<div style="white-space:nowrap;padding: 10px 15px 0;">换电中控系统</div>
				<div class="mui-input-row" style="position: relative;">
					<input type="number" v-model="replacementCentralCtlSys">
					<div
						style="position: absolute;right: 10px;top: 0; height: 100%;display: flex;align-items: center;color: #999;font-size: 14px;">
						万元</div>
				</div>
				<div class="mui-input-row">
					<label style="white-space:nowrap">基建工程</label>
					<input type="number" v-model="infrastructureProject">
					<div
						style="position: absolute;right: 10px;height: 100%;display: flex;align-items: center;color: #999;font-size: 14px;">
						万元</div>
				</div> -->
				<!-- 原小计 -->
				<div class="mui-input-row noBorder" style="height: auto;">
					<label style="width: 50%;">换电站设备、安装、建设总费用</label>
					<div style="display: flex;align-items: center;height: 58px;">
					<input type="number" v-model="subtotal" style="padding-left: 0;">
					</div>
					<div
						style="position: absolute;right: 10px;top: 0; height: 100%;display: flex;align-items: center;color: #999;font-size: 14px;">
						万元</div>
				</div>
				<div style="height: 15px;background: #f8f8f8;margin-bottom: 10px;"></div>
				<div class="mui-input-row" style="height: auto;">
					<label style="width: 50%; white-space:nowrap; color: #999;">站内备用电池数量</label>
					<div style="display: flex;align-items: center;">
					<input type="number" disabled v-model="estimatedNumOfSpareBatteriesInTheStation" style="padding-left: 0;">
					</div>
					<div
						style="position: absolute;right: 10px;top: 0; height: 100%;display: flex;align-items: center;color: #999;font-size: 14px;">
						套</div>
				</div>
				<div class="mui-input-row" style="height: auto;">
					<label style="width: 50%;">实际站内备用电池数量</label>
					<div style="display: flex;align-items: center;height: 58px;">
					<input type="number" v-model="numOfBackupBatteries" style="padding-left: 0;">
					</div>
					<div
						style="position: absolute;right: 10px;top: 0; height: 100%;display: flex;align-items: center;color: #999;font-size: 14px;">
						套</div>
				</div>
				<div class="mui-input-row" style="height: auto;">
					<label style="width: 50%;white-space:nowrap; color: #999;">车载电池数量</label>
					<div style="display: flex;align-items: center;">
					<input type="number" disabled v-model="numOfCarBatteries" style="padding-left: 0;">
					</div>
					<div
						style="position: absolute;right: 10px;top: 0; height: 100%;display: flex;align-items: center;color: #999;font-size: 14px;">
						套</div>
				</div>
				<div class="mui-input-row" style="height: auto;">
					<label style="width: 50%;white-space:nowrap;">电池单体单价<span style="color: red;"> *</span></label>
					<div style="display: flex;align-items: center;">
					<input type="number" v-model="batteryUnitPrc" style="padding-left: 0;">
					</div>
					<div
						style="position: absolute;right: 10px;top: 0; height: 100%;display: flex;align-items: center;color: #999;font-size: 14px;">
						万元/kWh</div>
				</div>
				<div class="mui-input-row" style="height: auto;">
					<label style="width: 50%;">电池成套组件单价<span style="color: red;"> *</span></label>
					<div style="display: flex;align-items: center;">
					<input type="number" v-model="batteryRentalPrc" style="padding-left: 0;">
					</div>
					<div
						style="position: absolute;right: 10px;top: 0; height: 100%;display: flex;align-items: center;color: #999;font-size: 14px;">
						万元/套</div>
				</div>
				<!-- <div style="white-space:nowrap;padding: 10px 15px 0;color: #999;">单套电池总价</div>
				<div class="mui-input-row" style="position: relative;">
					<input type="number" disabled v-model="totPrcOfSingleBattery">
					<div
						style="position: absolute;right: 10px;top: 0; height: 100%;display: flex;align-items: center;color: #999;font-size: 14px;">
						万元/套</div>
				</div>
				<div style="white-space:nowrap;padding: 10px 15px 0;color: #999;">配套电池总价</div>
				<div class="mui-input-row" style="position: relative;">
					<input type="number" disabled v-model="totPrcOfSupportingBattery">
					<div
						style="position: absolute;right: 10px;top: 0; height: 100%;display: flex;align-items: center;color: #999;font-size: 14px;">
						万元</div>
				</div>
				<div style="white-space:nowrap;padding: 10px 15px 0;color: #999;">站内备用电池总价</div>
				<div class="mui-input-row" style="position: relative;">
					<input type="number" disabled v-model="totPrcOfSpareBatteryInTheStation">
					<div
						style="position: absolute;right: 10px;top: 0; height: 100%;display: flex;align-items: center;color: #999;font-size: 14px;">
						万元</div>
				</div> -->
			</form>
			<div style="display: flex;justify-content: center;margin: 20px 0;">
				<button type="button" class="mui-btn mui-btn-warning" style="width: 200px;" @click="submit">下一步</button>
			</div>
		</div>
		</div>
		<script src="__PUBLIC__/appsource/js/mui.min.js"></script>
		<script src="__PUBLIC__/appsource/js/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<!-- 微信 JS-SDK 如果不需要兼容小程序，则无需引用此 JS 文件。 -->  
		<script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.4.0.js"></script>  
		<!-- uni 的 SDK，必须引用。 -->  
		<script type="text/javascript" src="//js.cdn.aliyun.dcloud.net.cn/dev/uni-app/uni.webview.0.1.52.js"></script>
		<script type="text/javascript">
			document.addEventListener('UniAppJSBridgeReady', function() {
			uni.getEnv(function(res) {
				var vm = new Vue({
					el: '#app',
					data: {
						preInfo:{},
						vehOperation:{},

						venueRental: '', //场地租金/出让金
						electricityInfrastructureConstructionCosts: '', //电力基础设施建设费用
						batterySwapRobot: '', //换电机器人
						stationLvlMonitoringSys: '', //站级监控系统
						chargingLocationIntegratedBox: '', //充电仓位集成箱
						environmentalProtectionFacilities: '', //环境防护设施
						securityMonitoringSys: '', //安防监控系统
						replacementCentralCtlSys: '', //换电中控系统
						infrastructureProject: '', //基建工程
						batteryUnitPrc: 0.1175, //电池单体单价
						batteryRentalPrc: 7.5 ,//电池成套组件单价
						subtotal:'',//换电站设备、安装、建设总费用（原小计）
						numOfBackupBatteries:''//实际站内备用电池数量
					},
					computed: {
						// 充电机
						charger: function() {
							return (12 * (Number(this.vehOperation.batteryNum) - Number(this.vehOperation.carNum) + 1)).toFixed(2)
						},
						// 小计
						// subtotal: function() {
						// 	return (Number(this.batterySwapRobot) + Number(this.stationLvlMonitoringSys) +
						// 		Number(this.chargingLocationIntegratedBox) + Number(this
						// 			.environmentalProtectionFacilities) + Number(this
						// 			.securityMonitoringSys) + Number(this.replacementCentralCtlSys) +
						// 		Number(this.infrastructureProject) + Number(this.charger)).toFixed(2)
						// },
						// 预计站内备用电池数量
						estimatedNumOfSpareBatteriesInTheStation: function() {
							return Math.ceil(Number(this.vehOperation.batteryNum) - Number(this.vehOperation.carNum))
						},
						// 车载电池数量
						numOfCarBatteries: function() {
							return Math.ceil(Number(this.vehOperation.carNum))
						},
						// 单套电池总价
						totPrcOfSingleBattery: function() {
							if((this.batteryUnitPrc||this.batteryUnitPrc==0)&&(this.batteryRentalPrc||this.batteryRentalPrc==0)){
								return (Number(this.batteryRentalPrc)+(Number(this.batteryUnitPrc)*Number(this.vehOperation.batteryCap))).toFixed(3)
							}
							return ''
						},
						// 配套电池总价
						totPrcOfSupportingBattery: function() {
							if(this.totPrcOfSingleBattery||this.totPrcOfSingleBattery==0){
								return (Number(this.totPrcOfSingleBattery)*Number(this.vehOperation.batteryNum)).toFixed(2)
							}
							return ''
						},
						// 站内备用电池总价
						totPrcOfSpareBatteryInTheStation: function() {
							if((this.totPrcOfSingleBattery||this.totPrcOfSingleBattery==0)&&(this.numOfBackupBatteries||this.numOfBackupBatteries==0)){
								return (Number(this.totPrcOfSingleBattery)*Number(this.numOfBackupBatteries)).toFixed(2)
							}
							return ''
						}
					},
					created: function() {
						let preInfo = JSON.parse(localStorage.getItem("preInfo"))
						if (preInfo != null) {
							this.preInfo = preInfo
						}
						let vehOperation = JSON.parse(localStorage.getItem("vehOperation"))
						if (vehOperation != null) {
							this.vehOperation = vehOperation
						}
						let swapStationConstruction=JSON.parse(localStorage.getItem("swapStationConstruction"))
						if(swapStationConstruction!=null){
							this.venueRental=swapStationConstruction.venueRental
							this.electricityInfrastructureConstructionCosts=swapStationConstruction.electricityInfrastructureConstructionCosts
							this.batterySwapRobot=swapStationConstruction.batterySwapRobot
							this.stationLvlMonitoringSys=swapStationConstruction.stationLvlMonitoringSys
							this.chargingLocationIntegratedBox=swapStationConstruction.chargingLocationIntegratedBox
							this.environmentalProtectionFacilities=swapStationConstruction.environmentalProtectionFacilities
							this.securityMonitoringSys=swapStationConstruction.securityMonitoringSys
							this.replacementCentralCtlSys=swapStationConstruction.replacementCentralCtlSys
							this.infrastructureProject=swapStationConstruction.infrastructureProject
							this.batteryUnitPrc=swapStationConstruction.batteryUnitPrc
							this.batteryRentalPrc=swapStationConstruction.batteryRentalPrc
							this.subtotal=swapStationConstruction.subtotal
							this.numOfBackupBatteries=swapStationConstruction.numOfBackupBatteries
						}
					},
					methods: {
						submit() {
							if (this.electricityInfrastructureConstructionCosts==='') {
								mui.toast('请输入电力基础设施建设费用');
								return
							}
							if (this.batteryUnitPrc==='') {
								mui.toast('请输入电池单体单价');
								return
							}
							if (this.batteryRentalPrc==='') {
								mui.toast('请输入电池成套组件单价');
								return
							}
							let swapStationConstruction=JSON.stringify({
								venueRental:this.venueRental,
								electricityInfrastructureConstructionCosts:this.electricityInfrastructureConstructionCosts,
								batterySwapRobot:this.batterySwapRobot,
								stationLvlMonitoringSys:this.stationLvlMonitoringSys,
								chargingLocationIntegratedBox:this.chargingLocationIntegratedBox,
								environmentalProtectionFacilities:this.environmentalProtectionFacilities,
								securityMonitoringSys:this.securityMonitoringSys,
								replacementCentralCtlSys:this.replacementCentralCtlSys,
								infrastructureProject:this.infrastructureProject,
								batteryUnitPrc:this.batteryUnitPrc,
								batteryRentalPrc:this.batteryRentalPrc,
								charger:this.charger,
								subtotal:this.subtotal,
								numOfBackupBatteries:this.numOfBackupBatteries,
								numOfCarBatteries:this.numOfCarBatteries,
								totPrcOfSingleBattery:this.totPrcOfSingleBattery,
								totPrcOfSupportingBattery:this.totPrcOfSupportingBattery,
								totPrcOfSpareBatteryInTheStation:this.totPrcOfSpareBatteryInTheStation
							})
							localStorage.setItem("swapStationConstruction",swapStationConstruction)
							uni.navigateTo({
								url: '/pages/web/index?page=calc1_3'
							});
						},
						back(){
							let swapStationConstruction=JSON.stringify({
								venueRental:this.venueRental,
								electricityInfrastructureConstructionCosts:this.electricityInfrastructureConstructionCosts,
								batterySwapRobot:this.batterySwapRobot,
								stationLvlMonitoringSys:this.stationLvlMonitoringSys,
								chargingLocationIntegratedBox:this.chargingLocationIntegratedBox,
								environmentalProtectionFacilities:this.environmentalProtectionFacilities,
								securityMonitoringSys:this.securityMonitoringSys,
								replacementCentralCtlSys:this.replacementCentralCtlSys,
								infrastructureProject:this.infrastructureProject,
								batteryUnitPrc:this.batteryUnitPrc,
								batteryRentalPrc:this.batteryRentalPrc,
								charger:this.charger,
								subtotal:this.subtotal,
								numOfBackupBatteries:this.numOfBackupBatteries,
								numOfCarBatteries:this.numOfCarBatteries,
								totPrcOfSingleBattery:this.totPrcOfSingleBattery,
								totPrcOfSupportingBattery:this.totPrcOfSupportingBattery,
								totPrcOfSpareBatteryInTheStation:this.totPrcOfSpareBatteryInTheStation
							})
							localStorage.setItem("swapStationConstruction",swapStationConstruction)
						}
					}
				});
			})
			})
		</script>
	</body>

</html>
