<!doctype html>
<html>

	<head>
		<title>效益信息</title>
		<meta charset="utf-8">
		<meta name="viewport"
			content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="__PUBLIC__/appsource/css/mui.min.css" rel="stylesheet" />
		<style type="text/css">
			.noBorder:after {
				content: none !important;
			}
			html, body {
			    margin: 0;
				padding: 0;
				height: 100%;
				overflow: hidden;
				-webkit-touch-callout: none;
				-webkit-user-select: none;
			}
			.mui-content {
				height: 100%;
				overflow: auto;
			}
		</style>
	</head>

	<body>
		<div class="mui-content">
			<form class="mui-input-group">
				<div class="mui-input-row">
					<label style="width: 50%; color: #999;">项目总投资</label>
					<div style="display: flex;align-items: center;">
					<input type="number" disabled v-model="J01" style="padding-left: 0;">
					</div>
					<div
						style="position: absolute;right: 10px; top: 0; height: 100%;display: flex;align-items: center;color: #999;font-size: 14px;">
						%
					</div>
				</div>
				<div class="mui-input-row">
					<label style="width: 50%; color: #999;">全投资投资回报率</label>
					<div style="display: flex;align-items: center;">
					<input type="number" disabled v-model="J02" style="padding-left: 0;">
					</div>
					<div
						style="position: absolute;right: 10px;top: 0; height: 100%;display: flex;align-items: center;color: #999;font-size: 14px;">
						%
					</div>
				</div>
				<div class="mui-input-row">
					<label style="width: 50%; color: #999;">全投资回收期</label>
					<div style="display: flex;align-items: center;">
					<input type="number" disabled v-model="J03" style="padding-left: 0;">
					</div>
					<div
						style="position: absolute;right: 10px;top: 0; height: 100%;display: flex;align-items: center;color: #999;font-size: 14px;">
						年
					</div>
				</div>
				<div class="mui-input-row">
					<label style="width: 50%; color: #999;">全投资财务净现值</label>
					<div style="display: flex;align-items: center;">
					<input type="number" disabled v-model="J04" style="padding-left: 0;">
					</div>
					<div
						style="position: absolute;right: 10px;top: 0; height: 100%;display: flex;align-items: center;color: #999;font-size: 14px;">
						万元
					</div>
				</div>
			</form>
			
<!-- 			<div>项目总投资J01</div>
			<div>{{J01}}</div>
			<div>全投资投资回报率J02</div>
			<div>{{J02}}</div>
			<div>N年营业总利润nYrTotOperatingProfit</div>
			<div>{{nYrTotOperatingProfit}}</div>
			<div>N年营业总收入nYrTotOperatingIncm</div>
			<div>{{nYrTotOperatingIncm}}</div>
			<div>N-1年的营业总收入nj1YearsTotOperatingIncm</div>
			<div>{{nj1YearsTotOperatingIncm}}</div>
			<div>第N年折旧收入deprIncmInYrN</div>
			<div>{{deprIncmInYrN}}</div>
			<div>第N年的营业总收入totOperatingIncmForYrN</div>
			<div>{{totOperatingIncmForYrN}}</div>
			<div>N年营业总成本nYrTotOperatingCost</div>
			<div>{{nYrTotOperatingCost}}</div>
			<div>N年折旧费总额（不含税）totDeprExpensesInNYearsExcludingTax</div>
			<div>{{totDeprExpensesInNYearsExcludingTax}}</div>
			<div>N年场地租赁费（不含税）nYrVenueRentalFeeExcludingTax</div>
			<div>{{nYrVenueRentalFeeExcludingTax}}</div>
			<div>N年电费成本（不含税）nYrElectricityCostExcludingTax</div>
			<div>{{nYrElectricityCostExcludingTax}}</div>
			<div>N年人工成本（不含税）nYrLbrCostExcludingTax</div>
			<div>{{nYrLbrCostExcludingTax}}</div>
			<div>N年设备维护费（不含税）nYrEquipmentMaintFeeExcludingTax</div>
			<div>{{nYrEquipmentMaintFeeExcludingTax}}</div>
			<div>N年运营促销成本（不含税）nyearOperatingPromCostExcludingTax</div>
			<div>{{nyearOperatingPromCostExcludingTax}}</div>
			<div>N年杂费（不含税）nYrMiscExpensesExcludingTax</div>
			<div>{{nYrMiscExpensesExcludingTax}}</div>
			<div>N年保险费（不含税）nYrInsPremExcludingTax</div>
			<div>{{nYrInsPremExcludingTax}}</div>
			<div>N年财务费用（不含税）nYrInsPremExcludingTax</div>
			<div>{{nYrInsPremExcludingTax}}</div>
			<div>N年平台使用费（不含税）nYrPlatformUsageFeeExcludingTax</div>
			<div>{{nYrPlatformUsageFeeExcludingTax}}</div>
			<div>全投资回收期J03</div>
			<div>{{J03}}</div>
			<div>年均净现金流入avgAnnlNetCshInflow</div>
			<div>{{avgAnnlNetCshInflow}}</div>
			<div>净现金流入netCshInflow</div>
			<div>{{netCshInflow}}</div>
			<div>现金流入累计cumCshInflow</div>
			<div>{{cumCshInflow}}</div>
			<div>现金流出累计cumCshOutflow</div>
			<div>{{cumCshOutflow}}</div>
			<div>抵扣后税金缴纳taxPaymentAftDeduction</div>
			<div>{{taxPaymentAftDeduction}}</div>
			<div>N年净税额nYrNetTax</div>
			<div>{{nYrNetTax}}</div>
			<div>N年总税费totTaxesAndFeesForNYears</div>
			<div>{{totTaxesAndFeesForNYears}}</div>
			<div>N年不含税现金流nyearCshFlowWithoutTax</div>
			<div>{{nyearCshFlowWithoutTax}}</div>
			<div>N年含税现金流taxincludedCshFlowInYrN</div>
			<div>{{taxincludedCshFlowInYrN}}</div>
			<div>N年总增值税额nYrTotValueaddedTax</div>
			<div>{{nYrTotValueaddedTax}}</div>
			<div>成本净税额costNetTax</div>
			<div>{{costNetTax}}</div>
			<div>N年场地租赁费（含税）nYrVenueRentalFeeTaxIncluded</div>
			<div>{{nYrVenueRentalFeeTaxIncluded}}</div>
			<div>N年电费成本（含税）nYrElectricityCostTaxIncluded</div>
			<div>{{nYrElectricityCostTaxIncluded}}</div>
			<div>N年人工成本（含税）nYrLbrCostTaxIncluded</div>
			<div>{{nYrLbrCostTaxIncluded}}</div>
			<div>N年设备维护费（含税）nYrEquipmentMaintFeeTaxIncluded</div>
			<div>{{nYrEquipmentMaintFeeTaxIncluded}}</div>
			<div>N年运营促销成本（含税）nyearOperatingPromCostTaxIncluded</div>
			<div>{{nyearOperatingPromCostTaxIncluded}}</div>
			<div>N年杂费（含税）nYrMiscExpensesTaxIncluded</div>
			<div>{{nYrMiscExpensesTaxIncluded}}</div>
			<div>N年保险费（含税）nYrInsPremTaxIncluded</div>
			<div>{{nYrInsPremTaxIncluded}}</div>
			<div>N年财务费用（含税）nYrFinExpensesTaxIncluded</div>
			<div>{{nYrFinExpensesTaxIncluded}}</div>
			<div>N年平台使用费（含税）nYrPlatformUsageFeeTaxIncluded</div>
			<div>{{nYrPlatformUsageFeeTaxIncluded}}</div>
			<div>全投资财务净现值J04</div>
			<div>{{J04}}</div> -->
			
			<div style="display: flex;justify-content: center;margin: 20px 0;">
				<button type="button" class="mui-btn mui-btn-warning" style="width: 200px;" @click="submit">确定</button>
			</div>
		</div>
		<script src="__PUBLIC__/appsource/js/mui.min.js"></script>
		<script src="__PUBLIC__/appsource/js/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<!-- 微信 JS-SDK 如果不需要兼容小程序，则无需引用此 JS 文件。 -->  
		<script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.4.0.js"></script>  
		<!-- uni 的 SDK，必须引用。 -->  
		<script type="text/javascript" src="//js.cdn.aliyun.dcloud.net.cn/dev/uni-app/uni.webview.0.1.52.js"></script>
		<script type="text/javascript">
			document.addEventListener('UniAppJSBridgeReady', function() {
			uni.getEnv(function(res) {
				var vm = new Vue({
					el: '.mui-content',
					data: {
						basicInfo: {},
						costInfo: {},
						preInfo:{},

						electricityTax: 0.13, //电费税率
						realEstateBusTax: 0.09, //不动产经营租赁税率
						pureServCrgTax: 0.06, //纯服务费税率
						annlDeprRt: 0.95, //年折旧率
						corporateIncmTax: 0.25 //企业所得税
					},
					computed: {
						// 项目总投资
						J01: function() {
							return this.costInfo.h06
						},
						// 全投资投资回报率
						J02: function() {
							return (Number(this.nYrTotOperatingProfit) / Number(this.costInfo.f04) / Number(
								this.J01)*100).toFixed(2)
						},
						// N年营业总利润
						nYrTotOperatingProfit: function() {
							return Number(this.nYrTotOperatingIncm) - Number(this.nYrTotOperatingCost)
						},
						// N年营业总收入
						nYrTotOperatingIncm: function() {
							return Number(this.nj1YearsTotOperatingIncm) + Number(this
								.totOperatingIncmForYrN)
						},
						// N-1年的营业总收入
						nj1YearsTotOperatingIncm: function() {
							return Number(this.basicInfo.c04) * Number(this.basicInfo.c08) * Number(this
								.basicInfo.c09) * Number(this.costInfo.f02) / 10000 / (1 + Number(this
								.electricityTax)) * (Number(this.costInfo.f04) - 1)
						},
						// 第N年折旧收入
						deprIncmInYrN: function() {
							return Number(this.J01) * 0.05 / (1 + Number(this.electricityTax))
						},
						// 第N年的营业总收入
						totOperatingIncmForYrN: function() {
							return (Number(this.basicInfo.c04) * Number(this.basicInfo.c08) * Number(this
								.basicInfo.d02) * Number(this.costInfo.f02) / 10000 / (1 +
								Number(this.electricityTax))) + Number(this.deprIncmInYrN)
						},
						// N年营业总成本
						nYrTotOperatingCost: function() {
							return Number(this.totDeprExpensesInNYearsExcludingTax) + Number(this
									.nYrVenueRentalFeeExcludingTax) +
								Number(this.nYrElectricityCostExcludingTax) + Number(this
									.nYrLbrCostExcludingTax) + Number(this
									.nYrEquipmentMaintFeeExcludingTax) + Number(this
									.nyearOperatingPromCostExcludingTax) +
								Number(this.nYrMiscExpensesExcludingTax) + Number(this
									.nYrInsPremExcludingTax) + Number(this
									.nYrFinExpensesExcludingTax) + Number(this
									.nYrPlatformUsageFeeExcludingTax)
						},
						// N年折旧费总额（不含税）
						totDeprExpensesInNYearsExcludingTax: function() {
							return Number(this.costInfo.i01) / (1 + Number(this.electricityTax)) * Number(
								this.costInfo.f04)
						},
						// N年场地租赁费（不含税）
						nYrVenueRentalFeeExcludingTax: function() {
							return (Number(this.costInfo.i02) / (1 + Number(this.realEstateBusTax)) * (
								Number(this.costInfo.f04) - 1)) + (Number(this.costInfo.i02) / (1 +
								Number(this.realEstateBusTax)) / 365 * Number(this.basicInfo
								.d02))
						},
						// N年电费成本（不含税）
						nYrElectricityCostExcludingTax: function() {
							return (Number(this.costInfo.i03) / (1 + Number(this.electricityTax)) * (Number(
								this.costInfo.f04) - 1)) + (Number(this.costInfo.i03) / (1 + Number(
								this.electricityTax)) / Number(this.basicInfo.c09) * Number(this
								.basicInfo.d02))
						},
						// N年人工成本（不含税）
						nYrLbrCostExcludingTax: function() {
							return (Number(this.costInfo.i04) / (1 + Number(this.pureServCrgTax)) * (Number(
								this.costInfo.f04) - 1)) + (Number(this.costInfo.i04) / (1 + Number(
								this.pureServCrgTax)) / 365 * Number(this.basicInfo.d02))
						},
						// N年设备维护费（不含税）
						nYrEquipmentMaintFeeExcludingTax: function() {
							return (Number(this.costInfo.i05) / (1 + Number(this.pureServCrgTax)) * (Number(
								this.costInfo.f04) - 1)) + (Number(this.costInfo.i05) / (1 + Number(
								this.pureServCrgTax)) / 365 * Number(this.basicInfo.d02))
						},
						// N年运营促销成本（不含税）
						nyearOperatingPromCostExcludingTax: function() {
							return (Number(this.costInfo.i06) / (1 + Number(this.pureServCrgTax)) * (Number(
								this.costInfo.f04) - 1)) + (Number(this.costInfo.i06) / (1 + Number(
								this.pureServCrgTax)) / 365 * Number(this.basicInfo.d02))
						},
						// N年杂费（不含税）
						nYrMiscExpensesExcludingTax: function() {
							return (Number(this.costInfo.i07) / (1 + Number(this.pureServCrgTax)) * (Number(
								this.costInfo.f04) - 1)) + (Number(this.costInfo.i07) / (1 + Number(
								this.pureServCrgTax)) / 365 * Number(this.basicInfo.d02))
						},
						// N年保险费（不含税）
						nYrInsPremExcludingTax: function() {
							return (Number(this.costInfo.i08) / (1 + Number(this.pureServCrgTax)) * (Number(
								this.costInfo.f04) - 1)) + (Number(this.costInfo.i08) / (1 + Number(
								this.pureServCrgTax)) / 365 * Number(this.basicInfo.d02))
						},
						// N年财务费用（不含税）
						nYrFinExpensesExcludingTax: function() {
							return (Number(this.costInfo.i09) / (1 + Number(this.pureServCrgTax)) * (Number(
								this.costInfo.f04) - 1)) + (Number(this.costInfo.i09) / (1 + Number(
								this.pureServCrgTax)) / 365 * Number(this.basicInfo.d02))
						},
						// N年平台使用费（不含税）
						nYrPlatformUsageFeeExcludingTax: function() {
							return Number(this.costInfo.i10) / (1 + Number(this.pureServCrgTax)) * Number(
								this.costInfo.f04)
						},
						// 全投资回收期
						J03: function() {
							return (Number(this.J01) / Number(Math.round(this.avgAnnlNetCshInflow))).toFixed(2)
						},
						// 年均净现金流入
						avgAnnlNetCshInflow: function() {
							return Number(this.netCshInflow) / Number(this.costInfo.f04)
						},
						// 净现金流入
						netCshInflow: function() {
							return Number(this.cumCshInflow) - Number(this.cumCshOutflow)
						},
						// 现金流入累计
						cumCshInflow: function() {
							return Number(this.nYrTotOperatingIncm)*(1+Number(this.electricityTax))
						},
						// 现金流出累计
						cumCshOutflow: function() {
							return Number(this.taxincludedCshFlowInYrN)+Number(this.taxPaymentAftDeduction)
						},
						// 抵扣后税金缴纳
						taxPaymentAftDeduction:function(){
							return Number(this.nYrNetTax)+(Number(this.nYrTotOperatingProfit)*Number(this.corporateIncmTax))
						},
						// N年净税额
						nYrNetTax:function(){
							return Number(this.nYrTotValueaddedTax)-Number(this.costNetTax)-Number(this.totTaxesAndFeesForNYears)
						},
						// N年总税费
						totTaxesAndFeesForNYears:function(){
							return Number(this.taxincludedCshFlowInYrN)-Number(this.nyearCshFlowWithoutTax)
						},
						// N年不含税现金流
						nyearCshFlowWithoutTax: function() {
							return Number(this.nYrTotOperatingCost) - Number(this
								.totDeprExpensesInNYearsExcludingTax)
						},
						// N年含税现金流
						taxincludedCshFlowInYrN: function() {
							return Number(this.nYrVenueRentalFeeTaxIncluded) + Number(this
									.nYrElectricityCostTaxIncluded) + Number(this.nYrLbrCostTaxIncluded) +
								Number(this.nYrEquipmentMaintFeeTaxIncluded) + Number(this
									.nyearOperatingPromCostTaxIncluded) + Number(this
									.nYrMiscExpensesTaxIncluded) + Number(this.nYrInsPremTaxIncluded) +
								Number(this.nYrFinExpensesTaxIncluded) + Number(this
									.nYrPlatformUsageFeeTaxIncluded)
						},
						// N年总增值税额
						nYrTotValueaddedTax:function(){
							return Number(this.nYrTotOperatingIncm)*Number(this.electricityTax)
						},
						// 成本净税额
						costNetTax:function(){
							return Number(this.J01)/(1+Number(this.electricityTax))*Number(this.electricityTax)
						},
						// N年场地租赁费（含税）
						nYrVenueRentalFeeTaxIncluded: function() {
							return (Number(this.costInfo.i02) * (
								Number(this.costInfo.f04) - 1)) + (Number(this.costInfo.i02) / 365 *
								Number(this.basicInfo
									.d02))
						},
						// N年电费成本（含税）
						nYrElectricityCostTaxIncluded: function() {
							return (Number(this.costInfo.i03) * (Number(
								this.costInfo.f04) - 1)) + (Number(this.costInfo.i03) / Number(this
								.basicInfo.c09) * Number(this
								.basicInfo.d02))
						},
						// N年人工成本（含税）
						nYrLbrCostTaxIncluded: function() {
							return (Number(this.costInfo.i04) * (Number(
								this.costInfo.f04) - 1)) + (Number(this.costInfo.i04) / 365 * Number(
								this.basicInfo.d02))
						},
						// N年设备维护费（含税）
						nYrEquipmentMaintFeeTaxIncluded: function() {
							return (Number(this.costInfo.i05) * (Number(
								this.costInfo.f04) - 1)) + (Number(this.costInfo.i05) / 365 * Number(
								this.basicInfo.d02))
						},
						// N年运营促销成本（含税）
						nyearOperatingPromCostTaxIncluded: function() {
							return (Number(this.costInfo.i06) * (Number(
								this.costInfo.f04) - 1)) + (Number(this.costInfo.i06) / 365 * Number(
								this.basicInfo.d02))
						},
						// N年杂费（含税）
						nYrMiscExpensesTaxIncluded: function() {
							return (Number(this.costInfo.i07) * (Number(
								this.costInfo.f04) - 1)) + (Number(this.costInfo.i07) / 365 * Number(
								this.basicInfo.d02))
						},
						// N年保险费（含税）
						nYrInsPremTaxIncluded: function() {
							return (Number(this.costInfo.i08) * (Number(
								this.costInfo.f04) - 1)) + (Number(this.costInfo.i08) / 365 * Number(
								this.basicInfo.d02))
						},
						// N年财务费用（含税）
						nYrFinExpensesTaxIncluded: function() {
							return (Number(this.costInfo.i09) * (Number(
								this.costInfo.f04) - 1)) + (Number(this.costInfo.i09) / 365 * Number(
								this.basicInfo.d02))
						},
						// N年平台使用费（含税）
						nYrPlatformUsageFeeTaxIncluded: function() {
							return Number(this.costInfo.i10) * Number(this.costInfo.f04)
						},
						// 全投资财务净现值
						J04: function() {
							return ((Number(this.avgAnnlNetCshInflow)*Number(this.costInfo.f04))-Number(this.J01)).toFixed(2)
						}
					},
					created: function() {
						let preInfo = JSON.parse(localStorage.getItem("preInfo"))
						if (preInfo != null) {
							this.preInfo = preInfo
						}
						let basicInfo = JSON.parse(localStorage.getItem("basicInfo"))
						if (basicInfo != null) {
							this.basicInfo = basicInfo
						}
						let costInfo = JSON.parse(localStorage.getItem("costInfo"))
						if (costInfo != null) {
							this.costInfo = costInfo
						}
					},
					methods: {
						submit() {
							mui.ajax('__APP__/Api/calculation2', {
								dataType: 'json', //服务器返回json格式数据
								type: 'post', //HTTP请求类型					
								headers: {
									'Content-Type': 'application/json'
								},
								data:JSON.stringify({
									projectNm:this.preInfo.projectNm,
									projectTyp:this.preInfo.projectTyp,
									area:this.preInfo.area,
									addr:this.preInfo.addr,
									
									a01:this.basicInfo.a01,
									a02:this.basicInfo.a01,
									a03:this.basicInfo.a03,
									a04:this.basicInfo.a04,
									b01:this.basicInfo.b01,
									b02:this.basicInfo.b02,
									c01:this.basicInfo.c01,
									c02:this.basicInfo.c02,
									c03:this.basicInfo.c03,
									c04:this.basicInfo.c04,
									c05:this.basicInfo.c05,
									c06:this.basicInfo.c06,
									c07:this.basicInfo.c07,
									c08:this.basicInfo.c08,
									c09:this.basicInfo.c09,
									c10:this.basicInfo.c10,
									c11:this.basicInfo.c11,
									d01:this.basicInfo.d01,
									d02:this.basicInfo.d02,
									e01:this.basicInfo.e01,
									e02:this.basicInfo.e02,
									e03:this.basicInfo.e03,
									e04:this.basicInfo.e04,
									e05:this.basicInfo.e05,
									e06:this.basicInfo.e06,
									e07:this.basicInfo.e07,
									e08:this.basicInfo.e08,
									e09:this.basicInfo.e09,
									e10:this.basicInfo.e10,
									e11:this.basicInfo.e11,
									
									f01:this.costInfo.f01,
									f02:this.costInfo.f02,
									f03:this.costInfo.f03,
									f04:this.costInfo.f04,
									g01:this.costInfo.g01,
									g02:this.costInfo.g02,
									g03:this.costInfo.g03,
									g04:this.costInfo.g04,
									g05:this.costInfo.g05,
									h01:this.costInfo.h01,
									h02:this.costInfo.h02,
									h03:this.costInfo.h03,
									h04:this.costInfo.h04,
									h05:this.costInfo.h05,
									h06:this.costInfo.h06,
									i01:this.costInfo.i01,
									i02:this.costInfo.i02,
									i03:this.costInfo.i03,
									i04:this.costInfo.i04,
									i05:this.costInfo.i05,
									i06:this.costInfo.i06,
									i07:this.costInfo.i07,
									i08:this.costInfo.i08,
									i09:this.costInfo.i09,
									i10:this.costInfo.i10,
									
									J01:this.J01,
									J02:this.J02,
									J03:this.J03,
									J04:this.J04
								}),
								success: function(res) {
									mui.toast(res.msg);
									setTimeout(function(){
										uni.navigateBack({
											delta: 3
										});
									},1000)
								},
								error: function() {
									
								}
							});
						}
					}
				});
			})
			})
		</script>
	</body>

</html>
