<!doctype html>
<html>

	<head>
		<title>基本信息</title>
		<meta charset="utf-8">
		<meta name="viewport"
			content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="__PUBLIC__/appsource/css/mui.min.css" rel="stylesheet" />
		<style type="text/css">
			.noBorder:after {
				content: none !important;
			}

			html,
			body {
				margin: 0;
				padding: 0;
				height: 100%;
				overflow: hidden;
				-webkit-touch-callout: none;
				-webkit-user-select: none;
			}

			.mui-content {
				height: 100%;
				overflow: auto;
			}
		</style>
	</head>

	<body>
		<div id="app" class="mui-content">
			<div class="mui-content">
				<form class="mui-input-group">
					<!-- 				<div class="mui-input-row">
					<label style="white-space:nowrap;color: #999;">夏、冬</label>
					<input type="number" v-model="a01" disabled>
					<div
						style="position: absolute;right: 10px;height: 100%;display: flex;align-items: center;color: #999;font-size: 14px;">
						kWh
						</div>
				</div>
				<div class="mui-input-row">
					<label style="white-space:nowrap;color: #999;">春、秋</label>
					<input type="number" v-model="a02" disabled>
					<div
						style="position: absolute;right: 10px;height: 100%;display: flex;align-items: center;color: #999;font-size: 14px;">
						kWh
						</div>
				</div>
				<div style="white-space:nowrap;color: #999;padding: 10px 15px 0;">(夏、冬)占用月份</div>
				<div class="mui-input-row" style="position: relative;">
					<input type="number" v-model="a03" disabled>
					<div
						style="position: absolute;right: 10px;top: 0; height: 100%;display: flex;align-items: center;color: #999;font-size: 14px;">
						个月
						</div>
				</div>
				<div style="white-space:nowrap;color: #999;padding: 10px 15px 0;">(春、秋)占用月份</div>
				<div class="mui-input-row noBorder" style="position: relative;">
					<input type="number" v-model="a04" disabled>
					<div
						style="position: absolute;right: 10px;top: 0; height: 100%;display: flex;align-items: center;color: #999;font-size: 14px;">
						个月
						</div>
				</div>
				<div style="height: 15px;background: #f8f8f8;margin-bottom: 10px;"></div>
				<div style="white-space:nowrap;color: #999;padding: 10px 15px 0;">电池质保里程</div>
				<div class="mui-input-row" style="position: relative;">
					<input type="number" v-model="b01" disabled>
					<div
						style="position: absolute;right: 10px;top: 0; height: 100%;display: flex;align-items: center;color: #999;font-size: 14px;">
						万公里
						</div>
				</div>
				<div style="white-space:nowrap;color: #999;padding: 10px 15px 0;">电池质保年限</div>
				<div class="mui-input-row noBorder" style="position: relative;">
					<input type="number" v-model="b02" disabled>
					<div
						style="position: absolute;right: 10px;top: 0; height: 100%;display: flex;align-items: center;color: #999;font-size: 14px;">
						年
						</div>
				</div>
				<div style="height: 15px;background: #f8f8f8;margin-bottom: 10px;"></div> -->
					<div class="mui-input-row">
						<label style="width: 50%;">品牌</label>
						<div style="display: flex;align-items: center;">
						<input type="text" v-model="c01" style="padding-left: 0;">
						</div>
					</div>
					<div class="mui-input-row">
						<label style="width: 50%;">型号</label>
						<div style="display: flex;align-items: center;">
						<input type="text" v-model="c02" style="padding-left: 0;">
						</div>
					</div>
					<div class="mui-input-row">
						<label style="width: 50%;">电池类型</label>
						<div style="display: flex;align-items: center;">
						<input type="text" v-model="c03" style="padding-left: 0;">
						</div>
					</div>
					<div class="mui-input-row">
						<label style="width: 50%;">车辆数量<span style="color: red;"> *</span></label>
						<div style="display: flex;align-items: center;">
						<input type="number" v-model="c04" style="padding-left: 0;">
						</div>
						<div
							style="position: absolute;right: 10px;top: 0; height: 100%;display: flex;align-items: center;color: #999;font-size: 14px;">
							台
						</div>
					</div>
					<div class="mui-input-row" style="height: auto;">
						<label style="width: 50%;">初始电池电量<span style="color: red;"> *</span>
						</label>
						<div style="display: flex;align-items: center;">
						<input type="number" v-model="c05" style="padding-left: 0;">
						</div>
						<div
							style="position: absolute;right: 10px;top: 0; height: 100%;display: flex;align-items: center;color: #999;font-size: 14px;">
							kWh
						</div>
					</div>
					<div class="mui-input-row" style="height: auto;">
						<label style="width: 50%;">电池电量衰减率</label>
						<div style="display: flex;align-items: center;">
						<input type="number" v-model="c06" style="padding-left: 0;">
						</div>
						<div
							style="position: absolute;right: 10px;top: 0; height: 100%;display: flex;align-items: center;color: #999;font-size: 14px;">
							每年/%
						</div>
					</div>
					<div class="mui-input-row" style="height: auto;">
						<label style="width: 50%; color: #999;">初始实际每公里能耗</label>
						<div style="display: flex;align-items: center;height: 58px;">
						<input type="number" disabled v-model="c07" style="padding-left: 0;">
						</div>
						<div
							style="position: absolute;right: 10px;top: 0; height: 100%;display: flex;align-items: center;color: #999;font-size: 14px;">
							kWh
						</div>
					</div>
					<div class="mui-input-row">
						<label style="width: 50%;">日运营里程<span style="color: red;"> *</span></label>
						<div style="display: flex;align-items: center;">
						<input type="number" v-model="c08" style="padding-left: 0;">
						</div>
						<div
							style="position: absolute;right: 10px;top: 0; height: 100%;display: flex;align-items: center;color: #999;font-size: 14px;">
							公里/天
						</div>
					</div>
					<div class="mui-input-row">
						<label style="width: 50%;">年运营天数<span style="color: red;"> *</span></label>
						<div style="display: flex;align-items: center;">
						<input type="number" v-model="c09" style="padding-left: 0;">
						</div>
						<div
							style="position: absolute;right: 10px;top: 0; height: 100%;display: flex;align-items: center;color: #999;font-size: 14px;">
							天
						</div>
					</div>
					<!-- 				<div style="white-space:nowrap;padding: 10px 15px 0;color: #999;">初始每次换电剩余里程</div>
				<div class="mui-input-row">
					<input type="number" disabled v-model="c10">
					<div
						style="position: absolute;right: 10px;top: 0; height: 100%;display: flex;align-items: center;color: #999;font-size: 14px;">
						公里
						</div>
				</div>
				<div style="white-space:nowrap;padding: 10px 15px 0;">每年换电剩余里程减少率</div>
				<div class="mui-input-row noBorder">
					<input type="number" v-model="c11">
					<div
						style="position: absolute;right: 10px;top: 0; height: 100%;display: flex;align-items: center;color: #999;font-size: 14px;">
						%
						</div>
				</div> -->
					<!-- 				<div style="height: 15px;background: #f8f8f8;margin-bottom: 10px;"></div>
				<div style="white-space:nowrap;padding: 10px 15px 0;color: #999;">电池质保里程内所剩里程数</div>
				<div class="mui-input-row">
					<input type="number" disabled v-model="d01">
					<div
						style="position: absolute;right: 10px;top: 0; height: 100%;display: flex;align-items: center;color: #999;font-size: 14px;">
						公里/天
						</div>
				</div>
				<div style="white-space:nowrap;padding: 10px 15px 0;color: #999;">所剩里程数可运营天数</div>
				<div class="mui-input-row noBorder">
					<input type="number" disabled v-model="d02">
					<div
						style="position: absolute;right: 10px;top: 0; height: 100%;display: flex;align-items: center;color: #999;font-size: 14px;">
						天
						</div>
				</div> -->
					<div style="height: 15px;background: #f8f8f8;margin-bottom: 10px;"></div>
					<div class="mui-input-row" style="height: auto;">
						<label style="width: 50%;">充电系统效率<span style="color: red;"> *</span>
						</label>
						<div style="display: flex;align-items: center;">
						<input type="number" v-model="e01" style="padding-left: 0">
						</div>
						<div
							style="position: absolute;right: 10px;top: 0; height: 100%;display: flex;align-items: center;color: #999;font-size: 14px;">
							%
						</div>
					</div>
					<div class="mui-input-row" style="height: auto;">
						<label style="width: 50%;">充电系统效率下降率</label>
						<div style="display: flex;align-items: center;height: 58px;">
						<input type="number" v-model="e02" style="padding-left: 0;">
						</div>
						<div
							style="position: absolute;right: 10px;top: 0; height: 100%;display: flex;align-items: center;color: #999;font-size: 14px;">
							每年/%
						</div>
					</div>
					<div class="mui-input-row" style="height: auto;">
						<label style="width: 50%;">换电设备功率<span style="color: red;"> *</span>
						</label>
						<div style="display: flex;align-items: center;">
						<input type="number" v-model="e03" style="padding-left: 0;">
						</div>
						<div
							style="position: absolute;right: 10px;top: 0; height: 100%;display: flex;align-items: center;color: #999;font-size: 14px;">
							kw
						</div>
					</div>
					<div class="mui-input-row" style="height: auto;">
						<label style="width: 50%;">单站配置电池块数量<span style="color: red;"> *</span>
						</label>
						<div style="display: flex;align-items: center;height: 58px;">
						<input type="number" v-model="e04" style="padding-left: 0;">
						</div>
						<div
							style="position: absolute;right: 10px;top: 0; height: 100%;display: flex;align-items: center;color: #999;font-size: 14px;">
							块
						</div>
					</div>
					<div class="mui-input-row" style="height: auto;">
						<label style="width: 50%;">变压器容量<span style="color: red;"> *</span></label>
						<div style="display: flex;align-items: center;">
						<input type="number" v-model="e05" style="padding-left: 0;">
						</div>
						<div
							style="position: absolute;right: 10px;top: 0; height: 100%;display: flex;align-items: center;color: #999;font-size: 14px;">
							Kva
						</div>
					</div>
					<div class="mui-input-row" style="height: auto;">
						<label style="width: 50%;">换电站自耗电功率<span style="color: red;"> *</span>
						</label>
						<div style="display: flex;align-items: center;">
						<input type="number" v-model="e06" style="padding-left: 0;">
						</div>
						<div
							style="position: absolute;right: 10px;top: 0; height: 100%;display: flex;align-items: center;color: #999;font-size: 14px;">
							kw
						</div>
					</div>
					<div class="mui-input-row" style="height: auto;">
						<label style="width: 50%;">单次换电耗时<span style="color: red;"> *</span>
						</label>
						<div style="display: flex;align-items: center;">
						<input type="number" v-model="e07" style="padding-left: 0;">
						</div>
						<div
							style="position: absolute;right: 10px;top: 0; height: 100%;display: flex;align-items: center;color: #999;font-size: 14px;">
							分钟
						</div>
					</div>
					<!-- <div style="white-space:nowrap;padding: 10px 15px 0;color: #999;">单块电池充电耗时</div>
				<div class="mui-input-row">
					<input type="number" disabled v-model="e08">
					<div
						style="position: absolute;right: 10px;top: 0; height: 100%;display: flex;align-items: center;color: #999;font-size: 14px;">
						分钟
						</div>
				</div>
				<div style="white-space:nowrap;padding: 10px 15px 0;color: #999;">单站极限换电次数</div>
				<div class="mui-input-row">
					<input type="number" disabled v-model="e09">
					<div
						style="position: absolute;right: 10px;top: 0; height: 100%;display: flex;align-items: center;color: #999;font-size: 14px;">
						次/天
						</div>
				</div>
				<div style="white-space:nowrap;padding: 10px 15px 0;color: #999;">单站极限充电次数</div>
				<div class="mui-input-row">
					<input type="number" disabled v-model="e10">
					<div
						style="position: absolute;right: 10px;top: 0; height: 100%;display: flex;align-items: center;color: #999;font-size: 14px;">
						次/天
						</div>
				</div>
				<div style="white-space:nowrap;padding: 10px 15px 0;color: #999;">实际单站服务次数</div>
				<div class="mui-input-row">
					<input type="number" disabled v-model="e11">
					<div
						style="position: absolute;right: 10px;top: 0; height: 100%;display: flex;align-items: center;color: #999;font-size: 14px;">
						次/天
						</div>
				</div> -->
				</form>
				<div style="display: flex;justify-content: center;margin: 20px 0;">
					<button type="button" class="mui-btn mui-btn-warning" style="width: 200px;"
						@click="submit">下一步</button>
				</div>
			</div>
		</div>
		<script src="__PUBLIC__/appsource/js/mui.min.js"></script>
		<script src="__PUBLIC__/appsource/js/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<!-- 微信 JS-SDK 如果不需要兼容小程序，则无需引用此 JS 文件。 -->  
		<script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.4.0.js"></script>  
		<!-- uni 的 SDK，必须引用。 -->  
		<script type="text/javascript" src="//js.cdn.aliyun.dcloud.net.cn/dev/uni-app/uni.webview.0.1.52.js"></script>
		<script type="text/javascript">
			document.addEventListener('UniAppJSBridgeReady', function() {
			uni.getEnv(function(res) {
				var vm = new Vue({
					el: '#app',
					data: {
						preInfo:{},
						
						a01: 0.19,
						a02: 0.15,
						a03: 6,
						a04: 6,
						b01: 60,
						b02: 6,
						c01: '',
						c02: '',
						c03: '',
						c04: '',
						c05: 44.1,
						c06: '',
						c08: 333,
						c09: 330,
						c11: '',
						e01: 90,
						e02: '',
						e03: 30,
						e04: '',
						e05: 800,
						e06: 15,
						e07: 5
					},
					computed: {
						c07: function() {
							return (((Number(this.a01) * Number(this.a03)) + (Number(this.a02) * Number(this
								.a04))) / (Number(this.a03) + Number(this.a04))).toFixed(2)
						},
						c10: function() {
							if (this.c05 || this.c05 == 0) {
								return (Number(this.c05) / Number(this.c07) * 0.2).toFixed(2)
							}
							return ''
						},
						d01: function() {
							if ((this.c08 || this.c08 == 0) && (this.c09 || this.c09 == 0)) {
								return (Number(this.b01) - ((Number(this.c08) * Number(this.c09) / 10000) * (
									Number(this.b02) - 1))).toFixed(3)
							}
							return ''
						},
						d02: function() {
							if (this.d01 || this.d01 == 0) {
								return (Number(this.d01) * 10000 / Number(this.c08)).toFixed(2)
							}
							return ''
						},
						e08: function() {
							if ((this.c05 || this.c05 == 0) && (this.e03 || this.e03 == 0) && (this.e01 ||
									this.e01 == 0)) {
								return (Number(this.c05) / Number(this.e03) / Number(this.e01) * 60 * 100)
									.toFixed(2)
							}
							return ''
						},
						e09: function() {
							if ((this.e07 || this.e07 == 0) && (this.e08 || this.e08 == 0) && (this.e04 ||
									this.e04 == 0)) {
								return (24 * 60 / (Number(this.e07) + Number(this.e08)) * Number(this.e04))
									.toFixed(2)
							}
							return ''
						},
						e10: function() {
							if ((this.e04 || this.e04 == 0) && (this.e08 || this.e08 == 0)) {
								return (24 * 60 * Number(this.e04) / Number(this.e08)).toFixed(2)
							}
							return ''
						},
						e11: function() {
							if ((this.e09 || this.e09 == 0) && (!this.e10 && this.e10 != 0)) {
								return this.e09
							} else if ((!this.e09 && this.e09 != 0) && (this.e10 || this.e10 == 0)) {
								return this.e10
							} else if ((this.e09 || this.e09 == 0) && (this.e10 || this.e10 == 0)) {
								return Number(this.e09) > Number(this.e10) ? this.e10 : this.e09
							}
							return ''
						}
					},
					watch: {
						// 禁止小数点
						c04(n, o) {
							this.c04 = this.c04.replace(/\D/g, '')
						},
						e04(n, o) {
							this.e04 = this.e04.replace(/\D/g, '')
						}
					},
					created() {
						let preInfo = JSON.parse(localStorage.getItem("preInfo"))
						if (preInfo != null) {
							this.preInfo = preInfo
						}
						let basicInfo = JSON.parse(localStorage.getItem("basicInfo"))
						if (basicInfo != null) {
							this.a01 = basicInfo.a01
							this.a02 = basicInfo.a02
							this.a03 = basicInfo.a03
							this.a04 = basicInfo.a04
							this.b01 = basicInfo.b01
							this.b02 = basicInfo.b02
							this.c01 = basicInfo.c01
							this.c02 = basicInfo.c02
							this.c03 = basicInfo.c03
							this.c04 = basicInfo.c04
							this.c05 = basicInfo.c05
							this.c06 = basicInfo.c06
							this.c08 = basicInfo.c08
							this.c09 = basicInfo.c09
							this.c11 = basicInfo.c11
							this.e01 = basicInfo.e01
							this.e02 = basicInfo.e02
							this.e03 = basicInfo.e03
							this.e04 = basicInfo.e04
							this.e05 = basicInfo.e05
							this.e06 = basicInfo.e06
							this.e07 = basicInfo.e07
						}
					},
					methods: {
						submit() {
							if (this.c04 === '') {
								mui.toast('请输入车辆数量');
								return
							}
							if (this.c05 === '') {
								mui.toast('请输入初始电池电量');
								return
							}
							if (this.c08 === '') {
								mui.toast('请输入日运营里程');
								return
							}
							if (this.c09 === '') {
								mui.toast('请输入年运营天数');
								return
							}
							if (this.e01 === '') {
								mui.toast('请输入充电系统效率');
								return
							}
							if (this.e03 === '') {
								mui.toast('请输入换电设备功率');
								return
							}
							if (this.e04 === '') {
								mui.toast('请输入单站配置电池块数量');
								return
							}
							if (this.e05 === '') {
								mui.toast('请输入变压器容量');
								return
							}
							if (this.e06 === '') {
								mui.toast('请输入换电站自耗电功率');
								return
							}
							if (this.e07 === '') {
								mui.toast('请输入单次换电耗时');
								return
							}
							let basicInfo = JSON.stringify({
								a01: this.a01,
								a02: this.a02,
								a03: this.a03,
								a04: this.a04,
								b01: this.b01,
								b02: this.b02,
								c01: this.c01,
								c02: this.c02,
								c03: this.c03,
								c04: this.c04,
								c05: this.c05,
								c06: this.c06,
								c08: this.c08,
								c09: this.c09,
								c11: this.c11,
								e01: this.e01,
								e02: this.e02,
								e03: this.e03,
								e04: this.e04,
								e05: this.e05,
								e06: this.e06,
								e07: this.e07,
								c07: this.c07,
								c10: this.c10,
								d01: this.d01,
								d02: this.d02,
								e08: this.e08,
								e09: this.e09,
								e10: this.e10,
								e11: this.e11
							})
							localStorage.setItem("basicInfo", basicInfo)
							uni.navigateTo({
								url: '/pages/web/index?page=calc2_2'
							});
						},
						back() {
							let basicInfo = JSON.stringify({
								a01: this.a01,
								a02: this.a02,
								a03: this.a03,
								a04: this.a04,
								b01: this.b01,
								b02: this.b02,
								c01: this.c01,
								c02: this.c02,
								c03: this.c03,
								c04: this.c04,
								c05: this.c05,
								c06: this.c06,
								c08: this.c08,
								c09: this.c09,
								c11: this.c11,
								e01: this.e01,
								e02: this.e02,
								e03: this.e03,
								e04: this.e04,
								e05: this.e05,
								e06: this.e06,
								e07: this.e07,
								c07: this.c07,
								c10: this.c10,
								d01: this.d01,
								d02: this.d02,
								e08: this.e08,
								e09: this.e09,
								e10: this.e10,
								e11: this.e11
							})
							localStorage.setItem("basicInfo", basicInfo)
						}
					}
				});
			})
			})
		</script>
	</body>

</html>
