<!doctype html>
<html>

	<head>
		<title>输入条件</title>
		<meta charset="utf-8">
		<meta name="viewport"
			content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="__PUBLIC__/appsource/css/mui.min.css" rel="stylesheet" />
		<style type="text/css">
			.noBorder:after {
				content: none !important;
			}
			html, body {
			    margin: 0;
				padding: 0;
				height: 100%;
				overflow: hidden;
				-webkit-touch-callout: none;
				-webkit-user-select: none;
			}
			.mui-content {
				height: 100%;
				overflow: auto;
			}
		</style>
	</head>

	<body>
		<div id="app" class="mui-content">
		<div class="mui-content">
			<form class="mui-input-group">
				<div class="mui-input-row">
					<label style="width: 50%; white-space:nowrap;">投资回收期<span style="color: red;"> *</span></label>
					<div style="display: flex;align-items: center;">
					<input type="number" v-model="paybackPd" style="padding-left: 0;">
					</div>
					<div
						style="position: absolute;right: 10px;top: 0; height: 100%;display: flex;align-items: center;color: #999;font-size: 14px;">
						年</div>
				</div>
				<div class="mui-input-row" style="height: auto;">
					<label style="width: 50%;">换电站平均年运维费用<span style="color: red;"> *</span></label>
					<div style="display: flex;align-items: center;height: 58px;">
					<input type="number" v-model="avgAnnlOperationAndMaintCostOfSubstation" style="padding-left: 0;">
					</div>
					<div
						style="position: absolute;right: 10px;top: 0; height: 100%;display: flex;align-items: center;color: #999;font-size: 14px;">
						万元/年/站</div>
				</div>
				<div class="mui-input-row" style="height: auto;">
					<label style="width: 50%;">期望换电服务费单价<span style="color: red;"> *</span></label>
					<div style="display: flex;align-items: center;height: 58px;">
					<input type="number" v-model="expectedReplacementServFeeUnitPrc" style="padding-left: 0;">
					</div>
					<div
						style="position: absolute;right: 10px;top: 0; height: 100%;display: flex;align-items: center;color: #999;font-size: 14px;">
						元/kWh</div>
				</div>
				<div style="white-space:nowrap;padding: 10px 15px 0;">合作模式<span style="color: red;"> *</span></div>
				<div class="mui-input-row mui-radio">
					<label style="color: #666;">全额投资</label>
					<input name="investMeth" type="radio" :checked="investMeth==0">
				</div>
				<div class="mui-input-row mui-radio">
					<label style="color: #666;">仅持有站内备用电池</label>
					<input name="investMeth" type="radio" :checked="investMeth==1">
				</div>
				<div class="mui-input-row mui-radio">
					<label style="color: #666;">与合作方各持有一半电池资产</label>
					<input name="investMeth" type="radio" :checked="investMeth==2">
				</div>
			</form>
			<div style="display: flex;justify-content: center;margin: 20px 0;">
				<button type="button" class="mui-btn mui-btn-warning" style="width: 200px;" @click="submit">下一步</button>
			</div>
		</div>
		</div>
		<script src="__PUBLIC__/appsource/js/mui.min.js"></script>
		<script src="__PUBLIC__/appsource/js/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<!-- 微信 JS-SDK 如果不需要兼容小程序，则无需引用此 JS 文件。 -->  
		<script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.4.0.js"></script>  
		<!-- uni 的 SDK，必须引用。 -->  
		<script type="text/javascript" src="//js.cdn.aliyun.dcloud.net.cn/dev/uni-app/uni.webview.0.1.52.js"></script>
		<script type="text/javascript">
			document.addEventListener('UniAppJSBridgeReady', function() {
			uni.getEnv(function(res) {
				var vm = new Vue({
					el: '#app',
					data: {
						preInfo:{},
						vehOperation:{},
						swapStationConstruction:{},
						
						paybackPd:'',																	//投资回收期
						avgAnnlOperationAndMaintCostOfSubstation:'',	//换电站平均年运维费用
						expectedReplacementServFeeUnitPrc:'',					//期望换电服务费单价
						investMeth:0																	//合作模式
					},
					computed: {
					},
					created: function() {
						let preInfo = JSON.parse(localStorage.getItem("preInfo"))
						if (preInfo != null) {
							this.preInfo = preInfo
						}
						let vehOperation = JSON.parse(localStorage.getItem("vehOperation"))
						if (vehOperation != null) {
							this.vehOperation = vehOperation
						}
						let swapStationConstruction = JSON.parse(localStorage.getItem("swapStationConstruction"))
						if (swapStationConstruction != null) {
							this.swapStationConstruction = swapStationConstruction
						}
						let inptCondition=JSON.parse(localStorage.getItem("inptCondition"))
						if(inptCondition!=null){
							this.paybackPd=inptCondition.paybackPd
							this.avgAnnlOperationAndMaintCostOfSubstation=inptCondition.avgAnnlOperationAndMaintCostOfSubstation
							this.expectedReplacementServFeeUnitPrc=inptCondition.expectedReplacementServFeeUnitPrc
							this.investMeth=inptCondition.investMeth
						}
					},
					methods: {
						submit() {
							if (this.paybackPd==='') {
								mui.toast('请输入投资回收期');
								return
							}
							if (this.avgAnnlOperationAndMaintCostOfSubstation==='') {
								mui.toast('请输入换电站平均年运维费用');
								return
							}
							if (this.expectedReplacementServFeeUnitPrc==='') {
								mui.toast('请输入期望换电服务费单价');
								return
							}
							let investMeth=document.getElementsByName("investMeth")
							for(let i=0;i<investMeth.length;i++){
								if(investMeth[i].checked){
									this.investMeth=i
									break
								}
							}
							let inptCondition=JSON.stringify({
								paybackPd:this.paybackPd,
								avgAnnlOperationAndMaintCostOfSubstation:this.avgAnnlOperationAndMaintCostOfSubstation,
								expectedReplacementServFeeUnitPrc:this.expectedReplacementServFeeUnitPrc,
								investMeth:this.investMeth,
							})
							localStorage.setItem("inptCondition",inptCondition)
							uni.navigateTo({
								url: '/pages/web/index?page=calc1_4'
							});
						},
						back(){
							let investMeth=document.getElementsByName("investMeth")
							for(let i=0;i<investMeth.length;i++){
								if(investMeth[i].checked){
									this.investMeth=i
									break
								}
							}
							let inptCondition=JSON.stringify({
								paybackPd:this.paybackPd,
								avgAnnlOperationAndMaintCostOfSubstation:this.avgAnnlOperationAndMaintCostOfSubstation,
								expectedReplacementServFeeUnitPrc:this.expectedReplacementServFeeUnitPrc,
								investMeth:this.investMeth,
							})
							localStorage.setItem("inptCondition",inptCondition)
						}
					}
				});
			})
			})
		</script>
	</body>

</html>
