<!doctype html>
<html>

	<head>
		<title>输出参数</title>
		<meta charset="utf-8">
		<meta name="viewport"
			content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="__PUBLIC__/appsource/css/mui.min.css" rel="stylesheet" />
		<style type="text/css">
			.noBorder:after {
				content: none !important;
			}

			html,
			body {
				margin: 0;
				padding: 0;
				height: 100%;
				overflow: hidden;
				-webkit-touch-callout: none;
				-webkit-user-select: none;
			}

			.mui-content {
				height: 100%;
				overflow: auto;
			}
		</style>
	</head>

	<body>
		<div class="mui-content">
			<form class="mui-input-group">
				<div class="mui-input-row" style="height: auto;">
					<label style="width: 50%; color: #999;">建议建设换电站数量</label>
					<div style="display: flex;align-items: center;height: 58px;">
						<input type="number" disabled v-model="recommendedNumOfSubstations" style="padding-left: 0;">
					</div>
					<div
						style="position: absolute;right: 10px;top: 0; height: 100%;display: flex;align-items: center;color: #999;font-size: 14px;">
						座</div>
				</div>
				<div class="mui-input-row" style="height: auto;">
					<label style="width: 50%; color: #999;">投资回收期内总投入费用</label>
					<div style="display: flex;align-items: center;height: 58px;">
						<input type="number" disabled v-model="totInvestInPaybackPd" style="padding-left: 0;">
					</div>
					<div
						style="position: absolute;right: 10px;top: 0; height: 100%;display: flex;align-items: center;color: #999;font-size: 14px;">
						万元</div>
				</div>
				<div class="mui-input-row" style="height: auto;">
					<label style="width: 50%; color: #999;">平均年换电总次数</label>
					<div style="display: flex;align-items: center;height: 58px;">
						<input type="number" disabled v-model="avgAnnlTotNumOfBatteryExchanges"
							style="padding-left: 0;">
					</div>
					<div
						style="position: absolute;right: 10px;top: 0; height: 100%;display: flex;align-items: center;color: #999;font-size: 14px;">
						次</div>
				</div>
				<div class="mui-input-row noBorder" style="height: auto;">
					<label style="width: 50%; color: #999;">平均年充电总电量</label>
					<div style="display: flex;align-items: center;height: 58px;">
						<input type="number" disabled v-model="avgAnnlTotCrg" style="padding-left: 0;">
					</div>
					<div
						style="position: absolute;right: 10px;top: 0; height: 100%;display: flex;align-items: center;color: #999;font-size: 14px;">
						kWh</div>
				</div>
				<div style="height: 15px;background: #f8f8f8;margin-bottom: 10px;"></div>
				<div class="mui-input-row" style="height: auto;">
					<label style="width: 50%; color: #999;">建议最低换电服务费单价</label>
					<div style="display: flex;align-items: center;height: 58px;">
						<input type="number" disabled v-model="recommendedMinServCrgUnitPrc" style="padding-left: 0;">
					</div>
					<div
						style="position: absolute;right: 10px;top: 0; height: 100%;display: flex;align-items: center;color: #999;font-size: 14px;">
						元/kWh</div>
				</div>
				<div class="mui-input-row" style="height: auto;">
					<label style="width: 50%; color: #999;">平均年最低换电服务费收入</label>
					<div style="display: flex;align-items: center;height: 58px;">
						<input type="number" disabled v-model="avgAnnlMinServFee" style="padding-left: 0;">
					</div>
					<div
						style="position: absolute;right: 10px;top: 0; height: 100%;display: flex;align-items: center;color: #999;font-size: 14px;">
						万元</div>
				</div>
				<div class="mui-input-row" style="height: auto;">
					<label style="width: 50%; color: #999;">投资回收期内最低总服务费收入</label>
					<div style="display: flex;align-items: center;height: 58px;">
						<input type="number" disabled v-model="minTotServCrgDuringPaybackPd" style="padding-left: 0;">
					</div>
					<div
						style="position: absolute;right: 10px;top: 0; height: 100%;display: flex;align-items: center;color: #999;font-size: 14px;">
						万元</div>
				</div>
				<div class="mui-input-row" style="height: auto;">
					<label style="width: 50%; color: #999;">投资回收期内毛利润</label>
					<div style="display: flex;align-items: center;height: 58px;">
						<input type="number" disabled v-model="paybackPdGrosProfit" style="padding-left: 0;">
					</div>
					<div
						style="position: absolute;right: 10px;top: 0; height: 100%;display: flex;align-items: center;color: #999;font-size: 14px;">
						万元</div>
				</div>
				<div class="mui-input-row" style="height: auto;">
					<label style="width: 50%; color: #999;">期望服务费投资回收期内毛利润</label>
					<div style="display: flex;align-items: center;height: 58px;">
						<input type="number" disabled v-model="expectedPaybackPdGrosProfit" style="padding-left: 0;">
					</div>
					<div
						style="position: absolute;right: 10px;top: 0; height: 100%;display: flex;align-items: center;color: #999;font-size: 14px;">
						万元</div>
				</div>
				<div class="mui-input-row" style="height: auto;">
					<label style="width: 50%; color: #999;">期望单价投资回收年限</label>
					<div style="display: flex;align-items: center;height: 58px;">
						<input type="number" disabled v-model="expectedPaybackPdOfUnitPrc" style="padding-left: 0;">
					</div>
					<div
						style="position: absolute;right: 10px;top: 0; height: 100%;display: flex;align-items: center;color: #999;font-size: 14px;">
						年</div>
				</div>
			</form>
			<div style="display: flex;justify-content: center;margin: 20px 0;">
				<button type="button" class="mui-btn mui-btn-warning" style="width: 200px;" @click="submit">确定</button>
			</div>
		</div>
		<script src="__PUBLIC__/appsource/js/mui.min.js"></script>
		<script src="__PUBLIC__/appsource/js/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<!-- 微信 JS-SDK 如果不需要兼容小程序，则无需引用此 JS 文件。 -->  
		<script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.4.0.js"></script>  
		<!-- uni 的 SDK，必须引用。 -->  
		<script type="text/javascript" src="//js.cdn.aliyun.dcloud.net.cn/dev/uni-app/uni.webview.0.1.52.js"></script>
		<script type="text/javascript">
			document.addEventListener('UniAppJSBridgeReady', function() {
			uni.getEnv(function(res) {
				var vm = new Vue({
					el: '.mui-content',
					data: {
						preInfo:{},
						vehOperation: {},
						swapStationConstruction: {},
						inptCondition: {}
					},
					computed: {
						// 建议建设换电站数量
						recommendedNumOfSubstations: function() {
							return Math.ceil(Number(this.vehOperation.avgDlyTotNumOfReplacements) / 160)
						},
						// 投资回收期内总投入费用
						totInvestInPaybackPd: function() {
							let money = (Number(this.inptCondition.paybackPd) * Number(this.inptCondition
								.avgAnnlOperationAndMaintCostOfSubstation)) + (Number(this
								.swapStationConstruction.subtotal) * Number(this
								.recommendedNumOfSubstations)) + Number(this.swapStationConstruction
								.electricityInfrastructureConstructionCosts) + (Number(this
								.swapStationConstruction.venueRental) * Number(this.inptCondition
								.paybackPd))
							if (this.inptCondition.investMeth == 0) {
								return (money + Number(this.swapStationConstruction
									.totPrcOfSupportingBattery)).toFixed(2)
							} else if (this.inptCondition.investMeth == 1) {
								return (money + Number(this.swapStationConstruction
									.totPrcOfSpareBatteryInTheStation)).toFixed(2)
							} else if (this.inptCondition.investMeth == 2) {
								return (money + (Number(this.swapStationConstruction
									.totPrcOfSupportingBattery) / 2)).toFixed(2)
							}
						},
						// 平均年换电总次数
						avgAnnlTotNumOfBatteryExchanges: function() {
							return Math.round(Number(this.vehOperation.avgDlyTotNumOfReplacements) * Number(
								this.vehOperation.avgAnnlOperatingDays))
						},
						// 平均年充电总电量
						avgAnnlTotCrg: function() {
							return (Number(this.avgAnnlTotNumOfBatteryExchanges) * Number(this.vehOperation
								.singleBatteryChg)).toFixed(2)
						},
						// 建议最低换电服务费单价
						recommendedMinServCrgUnitPrc: function() {
							let num = Number(this.totInvestInPaybackPd) * 10000 / Number(this.inptCondition
								.paybackPd) / Number(this.avgAnnlTotCrg)
							return this.upFixed(num, 2)
						},
						// 平均年最低换电服务费收入
						avgAnnlMinServFee: function() {
							let num = Number(this.avgAnnlTotCrg) * Number(this
								.recommendedMinServCrgUnitPrc) / 10000
							return this.upFixed(num, 3)
						},
						// 投资回收期内最低总服务费收入
						minTotServCrgDuringPaybackPd: function() {
							return (Number(this.avgAnnlMinServFee) * Number(this.inptCondition.paybackPd))
								.toFixed(2)
						},
						// 投资回收期内毛利润
						paybackPdGrosProfit: function() {
							return (Number(this.minTotServCrgDuringPaybackPd) - Number(this
								.totInvestInPaybackPd)).toFixed(2)
						},
						// 期望服务费投资回收期内毛利润
						expectedPaybackPdGrosProfit: function() {
							return ((Number(this.inptCondition.paybackPd) * (Number(this.avgAnnlTotCrg) *
								Number(this.inptCondition.expectedReplacementServFeeUnitPrc) /
								10000)) - Number(this.totInvestInPaybackPd)).toFixed(2)
						},
						// 期望单价投资回收年限
						expectedPaybackPdOfUnitPrc: function() {
							let num = 10000 * Number(this.totInvestInPaybackPd) / Number(this.inptCondition
								.expectedReplacementServFeeUnitPrc) / Number(this.avgAnnlTotCrg)
							return this.upFixed(num, 2)
						},
					},
					created: function() {
						let preInfo = JSON.parse(localStorage.getItem("preInfo"))
						if (preInfo != null) {
							this.preInfo = preInfo
						}
						let vehOperation = JSON.parse(localStorage.getItem("vehOperation"))
						if (vehOperation != null) {
							this.vehOperation = vehOperation
						}
						let swapStationConstruction = JSON.parse(localStorage.getItem("swapStationConstruction"))
						if (swapStationConstruction != null) {
							this.swapStationConstruction = swapStationConstruction
						}
						let inptCondition = JSON.parse(localStorage.getItem("inptCondition"))
						if (inptCondition != null) {
							this.inptCondition = inptCondition
						}
					},
					methods: {
						upFixed(num, fix) {
							// num为原数字，fix是保留的小数位数
							let mult = 1
							for (let i = 0; i < fix; i++) {
								mult *= 10
							}
							return Math.ceil(Number(num) * mult) / mult
						},
						submit() {
							mui.ajax('__APP__/Api/calculation1', {
								dataType: 'json', //服务器返回json格式数据
								type: 'post', //HTTP请求类型					
								headers: {
									'Content-Type': 'application/json'
								},
								data:JSON.stringify({
									projectNm:this.preInfo.projectNm,
									projectTyp:this.preInfo.projectTyp,
									area:this.preInfo.area,
									addr:this.preInfo.addr,
									
									carModel:this.vehOperation.carModel,
									carFactory:this.vehOperation.carFactory,
									batteryTyp:this.vehOperation.batteryTyp,
									batteryFactory:this.vehOperation.batteryFactory,
									carPurPrc:this.vehOperation.carPurPrc,
									carNum:this.vehOperation.carNum,
									batteryCap:this.vehOperation.batteryCap,
									avgDlyMileage:this.vehOperation.avgDlyMileage,
									avgAnnlOperatingDays:this.vehOperation.avgAnnlOperatingDays,
									batteryNum:this.vehOperation.batteryNum,
									avgAnnlMileage:this.vehOperation.avgAnnlMileage,
									singleBatteryChg:this.vehOperation.singleBatteryChg,
									avgDlyCrgCap:this.vehOperation.avgDlyCrgCap,
									avgAnnlCrgCap:this.vehOperation.avgAnnlCrgCap,
									avgNumOfBatteryReplacementsPerDd:this.vehOperation.avgNumOfBatteryReplacementsPerDd,
									avgDlyTotNumOfReplacements:this.vehOperation.avgDlyTotNumOfReplacements,
									
									venueRental:this.swapStationConstruction.venueRental,
									electricityInfrastructureConstructionCosts:this.swapStationConstruction.electricityInfrastructureConstructionCosts,
									batterySwapRobot:this.swapStationConstruction.batterySwapRobot,
									stationLvlMonitoringSys:this.swapStationConstruction.stationLvlMonitoringSys,
									chargingLocationIntegratedBox:this.swapStationConstruction.chargingLocationIntegratedBox,
									environmentalProtectionFacilities:this.swapStationConstruction.environmentalProtectionFacilities,
									securityMonitoringSys:this.swapStationConstruction.securityMonitoringSys,
									replacementCentralCtlSys:this.swapStationConstruction.replacementCentralCtlSys,
									infrastructureProject:this.swapStationConstruction.infrastructureProject,
									batteryUnitPrc:this.swapStationConstruction.batteryUnitPrc,
									batteryRentalPrc:this.swapStationConstruction.batteryRentalPrc,
									charger:this.swapStationConstruction.charger,
									subtotal:this.swapStationConstruction.subtotal,
									numOfBackupBatteries:this.swapStationConstruction.numOfBackupBatteries,
									numOfCarBatteries:this.swapStationConstruction.numOfCarBatteries,
									totPrcOfSingleBattery:this.swapStationConstruction.totPrcOfSingleBattery,
									totPrcOfSupportingBattery:this.swapStationConstruction.totPrcOfSupportingBattery,
									totPrcOfSpareBatteryInTheStation:this.swapStationConstruction.totPrcOfSpareBatteryInTheStation,
									
									paybackPd:this.inptCondition.paybackPd,
									avgAnnlOperationAndMaintCostOfSubstation:this.inptCondition.avgAnnlOperationAndMaintCostOfSubstation,
									expectedReplacementServFeeUnitPrc:this.inptCondition.expectedReplacementServFeeUnitPrc,
									investMeth:this.inptCondition.investMeth,
									
									recommendedNumOfSubstations:this.recommendedNumOfSubstations,
									totInvestInPaybackPd:this.totInvestInPaybackPd,
									avgAnnlTotNumOfBatteryExchanges:this.avgAnnlTotNumOfBatteryExchanges,
									avgAnnlTotCrg:this.avgAnnlTotCrg,
									recommendedMinServCrgUnitPrc:this.recommendedMinServCrgUnitPrc,
									avgAnnlMinServFee:this.avgAnnlMinServFee,
									minTotServCrgDuringPaybackPd:this.minTotServCrgDuringPaybackPd,
									paybackPdGrosProfit:this.paybackPdGrosProfit,
									expectedPaybackPdGrosProfit:this.expectedPaybackPdGrosProfit,
									expectedPaybackPdOfUnitPrc:this.expectedPaybackPdOfUnitPrc
								}),
								success: function(res) {
									mui.toast(res.msg);
									setTimeout(function(){
										uni.navigateBack({
											delta: 4
										});
									},1000)
								},
								error: function() {
									
								}
							});
						}
					}
				});
			})
			})
		</script>
	</body>

</html>
