<!doctype html>
<html>

	<head>
		<title>分布式光伏发电</title>
		<meta charset="utf-8">
		<meta name="viewport"
			content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="__PUBLIC__/appsource/css/mui.min.css" rel="stylesheet" />
		<style type="text/css">
		.noBorder:after {
			content: none !important;
		}
		
		html,
		body {
			margin: 0;
			padding: 0;
			height: 100%;
			overflow: hidden;
			-webkit-touch-callout: none;
			-webkit-user-select: none;
		}
		
		.mui-content {
			height: 100%;
			overflow: auto;
		}
		</style>
		<link href="__PUBLIC__/appsource/css/mui.picker.css" rel="stylesheet" />
		<link href="__PUBLIC__/appsource/css/mui.poppicker.css" rel="stylesheet" />
	</head>

	<body>
		<div id="app" class="mui-content">
			<div class="mui-content">
				<form class="mui-input-group">
					<div style="white-space:nowrap;padding: 10px 15px 0;">是否有配电<span style="color: red;"> *</span></div>
					<div class="mui-input-row mui-radio" @click="changeHasPower(0)">
						<label style="color: #666;">是</label>
						<input name="hasPower" type="radio" :checked="hasPower==0">
					</div>
					<div class="mui-input-row mui-radio" @click="changeHasPower(1)">
						<label style="color: #666;">否</label>
						<input name="hasPower" type="radio" :checked="hasPower==1">
					</div>
					<div v-if="hasPower==0">
						<div class="mui-input-row" style="display: flex; align-items: center;justify-content: space-between;">
							<label style="width: 50%;">配电信息</label>
							<div style="display: flex;margin-right: 10px;">
								<div @click="addPower" style="color: #f89b48;">添加</div>
								<div @click="delPower" style="color: #cb2d01;margin-left: 10px;">删除</div>
							</div>
						</div>
						<div v-for="(item,index) in powerList" :key="index" style="margin: 15px 10px;border: 1px solid #999;border-radius: 5px;">
							<div class="mui-input-row">
								<label style="width: 50%;">变压器容量<span style="color: red;"> *</span></label>
								<div style="display: flex;align-items: center;">
								<input type="number" v-model="item.cap" style="padding-left: 0;">
								</div>
								<div
									style="position: absolute;right: 10px;top: 0; height: 100%;display: flex;align-items: center;color: #999;font-size: 14px;">
									KVA</div>
							</div>
							<div :class="['mui-input-row',index==(powerList.length-1)?'noBorder':'']">
								<label style="width: 50%;">变压器数量<span style="color: red;"> *</span></label>
								<div style="display: flex;align-items: center;">
								<input type="number" v-model="item.num" style="padding-left: 0;">
								</div>
								<div
									style="position: absolute;right: 10px;top: 0; height: 100%;display: flex;align-items: center;color: #999;font-size: 14px;">
									台</div>
							</div>
						</div>
						<div style="height: 15px;background: #f8f8f8;margin-bottom: 10px;"></div>
					</div>
					<div class="mui-input-row" style="display: flex; align-items: center;justify-content: space-between;">
						<label style="width: 50%;">充电设施<span style="color: red;"> *</span></label>
						<div style="display: flex;margin-right: 10px;">
							<div @click="addFclt" style="color: #f89b48;">添加</div>
							<div @click="delFclt" style="color: #cb2d01;margin-left: 10px;">删除</div>
						</div>
					</div>
					<div v-for="(item,index) in fcltList" :key="index" style="margin: 15px 10px;border: 1px solid #999;border-radius: 5px;">
						<div class="mui-input-row" @click="fcltTypePickerShow(index)">
							<label style="width: 50%;">充电设施类型<span style="color: red;"> *</span></label>
							<div style="display: flex;align-items: center;">
								<input type="text" class="mui-input-clear" v-model="item.type" disabled style="padding-left: 0;">
							</div>
							<div style="position: absolute;right: 10px;top: 0; height: 100%;display: flex;align-items: center;">
								<img src="__PUBLIC__/appsource/images/arrow.png" style="width:12px">
							</div>
						</div>
						<div class="mui-input-row">
							<label style="width: 50%;">数量<span style="color: red;"> *</span></label>
							<div style="display: flex;align-items: center;">
							<input type="number" v-model="item.num" style="padding-left: 0;">
							</div>
							<div
								style="position: absolute;right: 10px;top: 0; height: 100%;display: flex;align-items: center;color: #999;font-size: 14px;">
								套</div>
						</div>
						<div class="mui-input-row">
							<label style="width: 50%;">{{item.type=='群充群控'?'单套功率':'单桩功率'}}<span style="color: red;"> *</span></label>
							<div style="display: flex;align-items: center;">
							<input type="number" v-model="item.sinPower" style="padding-left: 0;">
							</div>
							<div
								style="position: absolute;right: 10px;top: 0; height: 100%;display: flex;align-items: center;color: #999;font-size: 14px;">
								KW</div>
						</div>
						<div :class="['mui-input-row',(index==(fcltList.length-1)&&item.type=='群充群控')?'noBorder':'']">
							<label style="width: 50%;">终端数(每套)<span style="color: red;"> *</span></label>
							<div style="display: flex;align-items: center;">
							<input type="number" v-model="item.terNum" style="padding-left: 0;">
							</div>
							<div
								style="position: absolute;right: 10px;top: 0; height: 100%;display: flex;align-items: center;color: #999;font-size: 14px;">
								个</div>
						</div>
						<div v-if="item.type!='群充群控'" :class="['mui-input-row',index==(fcltList.length-1)?'noBorder':'']">
							<label style="width: 50%;">单抢功率<span style="color: red;"> *</span></label>
							<div style="display: flex;align-items: center;">
							<input type="number" v-model="item.sinShoPower" style="padding-left: 0;">
							</div>
							<div
								style="position: absolute;right: 10px;top: 0; height: 100%;display: flex;align-items: center;color: #999;font-size: 14px;">
								KW</div>
						</div>
					</div>
					<div style="height: 15px;background: #f8f8f8;margin-bottom: 10px;"></div>
					<div class="mui-input-row" @click="carGrilleTypePickerShow">
						<label style="width: 50%;">车棚类型<span style="color: red;"> *</span></label>
						<div style="display: flex;align-items: center;">
							<input type="text" class="mui-input-clear" v-model="carGrilleType" disabled style="padding-left: 0;">
						</div>
						<div style="position: absolute;right: 10px;top: 0; height: 100%;display: flex;align-items: center;">
							<img src="__PUBLIC__/appsource/images/arrow.png" style="width:12px">
						</div>
					</div>
					<div class="mui-input-row">
						<label style="width: 50%;">储能功率<span style="color: red;"> *</span></label>
						<div style="display: flex;align-items: center;">
						<input type="number" v-model="energyStgPower" style="padding-left: 0;">
						</div>
						<div
							style="position: absolute;right: 10px;top: 0; height: 100%;display: flex;align-items: center;color: #999;font-size: 14px;">
							KW</div>
					</div>
					<div class="mui-input-row noBorder">
						<label style="width: 50%;">储能容量<span style="color: red;"> *</span></label>
						<div style="display: flex;align-items: center;">
						<input type="number" v-model="energyStgCap" style="padding-left: 0;">
						</div>
						<div
							style="position: absolute;right: 10px;top: 0; height: 100%;display: flex;align-items: center;color: #999;font-size: 14px;">
							kWh</div>
					</div>
					<div style="height: 15px;background: #f8f8f8;margin-bottom: 10px;"></div>
					<div class="mui-input-row">
						<label style="width: 50%;">单车日均充电量<span style="color: red;"> *</span></label>
						<div style="display: flex;align-items: center;">
						<input type="number" v-model="avgDlyCrgOfBicycle" style="padding-left: 0;">
						</div>
						<div
							style="position: absolute;right: 10px;top: 0; height: 100%;display: flex;align-items: center;color: #999;font-size: 14px;">
							kWh</div>
					</div>
					<div class="mui-input-row">
						<label style="width: 50%;">服务车辆数<span style="color: red;"> *</span></label>
						<div style="display: flex;align-items: center;">
						<input type="number" v-model="numOfServVehicles" style="padding-left: 0;">
						</div>
						<div
							style="position: absolute;right: 10px;top: 0; height: 100%;display: flex;align-items: center;color: #999;font-size: 14px;">
							辆</div>
					</div>
					<div class="mui-input-row">
						<label style="width: 50%;">年服务时间<span style="color: red;"> *</span></label>
						<div style="display: flex;align-items: center;">
						<input type="number" v-model="annlServTm" style="padding-left: 0;">
						</div>
						<div
							style="position: absolute;right: 10px;top: 0; height: 100%;display: flex;align-items: center;color: #999;font-size: 14px;">
							天</div>
					</div>
					<div class="mui-input-row">
						<label style="width: 50%;color: #999;">充电量合计</label>
						<div style="display: flex;align-items: center;">
						<input type="number" v-model="totCrg" disabled style="padding-left: 0;">
						</div>
						<div
							style="position: absolute;right: 10px;top: 0; height: 100%;display: flex;align-items: center;color: #999;font-size: 14px;">
							kWh</div>
					</div>
					<div class="mui-input-row">
						<label style="width: 50%;">服务费标准<span style="color: red;"> *</span></label>
						<div style="display: flex;align-items: center;">
						<input type="number" v-model="servFeeStd" style="padding-left: 0;">
						</div>
						<div
							style="position: absolute;right: 10px;top: 0; height: 100%;display: flex;align-items: center;color: #999;font-size: 14px;">
							元/kWh</div>
					</div>
					<div class="mui-input-row">
						<label style="width: 50%;color: #999;">充电收入</label>
						<div style="display: flex;align-items: center;">
						<input type="number" v-model="chargingIncm" disabled style="padding-left: 0;">
						</div>
						<div
							style="position: absolute;right: 10px;top: 0; height: 100%;display: flex;align-items: center;color: #999;font-size: 14px;">
							万元</div>
					</div>
					<div class="mui-input-row">
						<label style="width: 50%;color: #999;">项目总投资</label>
						<div style="display: flex;align-items: center;">
						<input type="number" v-model="totProjectInvest" disabled style="padding-left: 0;">
						</div>
						<div
							style="position: absolute;right: 10px;top: 0; height: 100%;display: flex;align-items: center;color: #999;font-size: 14px;">
							万元</div>
					</div>
					<div class="mui-input-row">
						<label style="width: 50%;">场地租金(购置)</label>
						<div style="display: flex;align-items: center;">
						<input type="number" v-model="venueRental" style="padding-left: 0;">
						</div>
						<div
							style="position: absolute;right: 10px;top: 0; height: 100%;display: flex;align-items: center;color: #999;font-size: 14px;">
							万元</div>
					</div>
					<div class="mui-input-row">
						<label style="width: 50%;color: #999;">外线费用</label>
						<div style="display: flex;align-items: center;">
						<input type="number" v-model="outsideLineCost" disabled style="padding-left: 0;">
						</div>
						<div
							style="position: absolute;right: 10px;top: 0; height: 100%;display: flex;align-items: center;color: #999;font-size: 14px;">
							万元</div>
					</div>
					<div class="mui-input-row">
						<label style="width: 50%;color: #999;">线损成本</label>
						<div style="display: flex;align-items: center;">
						<input type="number" v-model="lineLossCost" disabled style="padding-left: 0;">
						</div>
						<div
							style="position: absolute;right: 10px;top: 0; height: 100%;display: flex;align-items: center;color: #999;font-size: 14px;">
							万元</div>
					</div>
					<div class="mui-input-row">
						<label style="width: 50%;">整站运维成本<span style="color: red;"> *</span></label>
						<div style="display: flex;align-items: center;">
						<input type="number" v-model="whoOpeCost" style="padding-left: 0;">
						</div>
						<div
							style="position: absolute;right: 10px;top: 0; height: 100%;display: flex;align-items: center;color: #999;font-size: 14px;">
							万元</div>
					</div>
					<div class="mui-input-row">
						<label style="width: 50%;">其他成本<span style="color: red;"> *</span></label>
						<div style="display: flex;align-items: center;">
						<input type="number" v-model="othrCosts" style="padding-left: 0;">
						</div>
						<div
							style="position: absolute;right: 10px;top: 0; height: 100%;display: flex;align-items: center;color: #999;font-size: 14px;">
							万元</div>
					</div>
					<div class="mui-input-row noBorder">
						<label style="width: 50%;color: #999;">总成本</label>
						<div style="display: flex;align-items: center;">
						<input type="number" v-model="totCost" disabled style="padding-left: 0;">
						</div>
						<div
							style="position: absolute;right: 10px;top: 0; height: 100%;display: flex;align-items: center;color: #999;font-size: 14px;">
							万元</div>
					</div>
					<div style="height: 15px;background: #f8f8f8;margin-bottom: 10px;"></div>
					<div class="mui-input-row">
						<label style="width: 50%;color: #999;">回收年限</label>
						<div style="display: flex;align-items: center;">
						<input type="number" v-model="recyclingPd" disabled style="padding-left: 0;">
						</div>
						<div
							style="position: absolute;right: 10px;top: 0; height: 100%;display: flex;align-items: center;color: #999;font-size: 14px;">
							年</div>
					</div>
				</form>
				<div style="display: flex;justify-content: center;margin: 20px 0;">
					<button type="button" class="mui-btn mui-btn-warning" style="width: 200px;"
						@click="submit">确定</button>
				</div>
			</div>
		</div>
		<script src="__PUBLIC__/appsource/js/mui.min.js"></script>
		<script src="__PUBLIC__/appsource/js/mui.picker.js"></script>
		<script src="__PUBLIC__/appsource/js/mui.poppicker.js"></script>
		<script src="__PUBLIC__/appsource/js/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<!-- 微信 JS-SDK 如果不需要兼容小程序，则无需引用此 JS 文件。 -->  
		<script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.4.0.js"></script>  
		<!-- uni 的 SDK，必须引用。 -->  
		<script type="text/javascript" src="//js.cdn.aliyun.dcloud.net.cn/dev/uni-app/uni.webview.0.1.52.js"></script>
		<script type="text/javascript">
			document.addEventListener('UniAppJSBridgeReady', function() {
			uni.getEnv(function(res) {
				
				var vm = new Vue({
					el: '#app',
					data: {
						preInfo: {},

						hasPower: 0,//是否有配电
						powerList:[{
							cap:'',
							num:''
						}],//配电列表
						fcltTypeList:[{
							value:0,
							text:'直流设备'
						},{
							value:1,
							text:'群充群控'
						},{
							value:2,
							text:'交流设备'
						}],
						fcltList:[{
							type:'直流设备',
							num:'',
							sinPower:'',
							terNum:'',
							sinShoPower:''
						}],//充电设施
						carGrilleTypeList:[{
							value:0,
							text:'无车棚'
						},{
							value:1,
							text:'普通车棚'
						},{
							value:2,
							text:'光伏车棚'
						}],
						carGrilleType:'',//车棚类型
						energyStgPower:'',//储能功率
						energyStgCap:'',//储能容量
						
						avgDlyCrgOfBicycle:'',//单车日均充电量
						numOfServVehicles:'',//服务车量数
						annlServTm:'',//年服务时间
						servFeeStd:'',//服务费标准
						venueRental:'',//场地租金
						whoOpeCost:'',//整站运维成本
						othrCosts:'',//其他成本
					},
					computed: {
						//充电量合计
						totCrg:function(){
							if((this.avgDlyCrgOfBicycle||this.avgDlyCrgOfBicycle==0)&&(this.numOfServVehicles||this.numOfServVehicles==0)&&(this.annlServTm||this.annlServTm==0)){
								return (Number(this.avgDlyCrgOfBicycle)*Number(this.numOfServVehicles)*Number(this.annlServTm)).toFixed(2)
							}
							return ''
						},
						//充电收入
						chargingIncm:function(){
							if((this.totCrg||this.totCrg==0)&&(this.servFeeStd||this.servFeeStd==0)){
								return (Number(this.totCrg)*Number(this.servFeeStd)/10000).toFixed(2)
							}
							return ''
						},
						//项目总投资
						totProjectInvest:function(){
							let flag=false
							this.fcltList.forEach(item=>{
								if((item.num||item.num==0)&&(item.sinPower||item.sinPower==0)){
									flag=true
									return
								}
							})
							if(flag){
								let num=0
								this.fcltList.forEach(item=>{
									if((item.num||item.num==0)&&(item.sinPower||item.sinPower==0)){
										num+=2*Number(item.num)*item.sinPower*1000/10000
									}
								})
								return (this.hasPower==0?num:(num/2)).toFixed(2)
							}
							return ''
						},
						//外线费用
						outsideLineCost:function(){
							if(this.chargingIncm||this.chargingIncm==0){
								return (Number(this.chargingIncm)*0.05).toFixed(2)
							}
							return ''
						},
						//线损成本
						lineLossCost:function(){
							if(this.chargingIncm||this.chargingIncm==0){
								return (Number(this.chargingIncm)*0.05).toFixed(2)
							}
							return ''
						},
						//总成本
						totCost:function(){
							if((this.outsideLineCost||this.outsideLineCost==0)&&(this.lineLossCost||this.lineLossCost==0)&&(this.whoOpeCost||this.whoOpeCost==0)&&(this.othrCosts||this.othrCosts==0)){
								let res=Number(this.outsideLineCost)+Number(this.lineLossCost)+Number(this.whoOpeCost)+Number(this.othrCosts)
								if(this.venueRental){
									res+=Number(this.venueRental)
								}
								return res.toFixed(2)
							}
							return ''
						},
						//回收年限(充电收入作为除数不能为0)
						recyclingPd:function(){
							if((this.totProjectInvest||this.totProjectInvest==0)&&(this.chargingIncm&&Number(this.chargingIncm)!=0)&&(this.totCost||this.totCost==0)){
								return ((Number(this.totProjectInvest)+Number(this.totCost))/Number(this.chargingIncm)).toFixed(2)
							}
							return ''
						}
					},
					created() {
						let preInfo = JSON.parse(localStorage.getItem("preInfo"))
						if (preInfo != null) {
							this.preInfo = preInfo
						}
						let chargingConstruction = JSON.parse(localStorage.getItem("chargingConstruction"))
						if (chargingConstruction != null) {
							this.hasPower=chargingConstruction.hasPower
							this.powerList=chargingConstruction.powerList
							this.fcltList=chargingConstruction.fcltList
							this.carGrilleType=chargingConstruction.carGrilleType
							this.energyStgPower=chargingConstruction.energyStgPower
							this.energyStgCap=chargingConstruction.energyStgCap
							this.avgDlyCrgOfBicycle=chargingConstruction.avgDlyCrgOfBicycle
							this.numOfServVehicles=chargingConstruction.numOfServVehicles
							this.annlServTm=chargingConstruction.annlServTm
							this.servFeeStd=chargingConstruction.servFeeStd
							this.venueRental=chargingConstruction.venueRental
							this.whoOpeCost=chargingConstruction.whoOpeCost
							this.othrCosts=chargingConstruction.othrCosts
						}
						this.fcltTypePicker = new mui.PopPicker();
						this.fcltTypePicker.setData(this.fcltTypeList);
						this.carGrilleTypePicker = new mui.PopPicker();
						this.carGrilleTypePicker.setData(this.carGrilleTypeList);
					},
					methods: {
						carGrilleTypePickerShow(){
							this.carGrilleTypePicker.show(selectItems => {
								this.carGrilleType = selectItems[0].text
							})
						},
						fcltTypePickerShow(index){
							this.fcltTypePicker.show(selectItems => {
								this.fcltList[index].type = selectItems[0].text
							})
						},
						addPower(){
							if(this.powerList.length<10){
								this.powerList.push({cap:'',num:''})
							}else{
								mui.toast('最多添加10组');
							}
						},
						delPower(){
							if(this.powerList.length>1){
								this.powerList.pop()
							}else{
								mui.toast('至少保留一组');
							}
						},
						addFclt(){
							if(this.fcltList.length<10){
								// 默认新增为直流设备
								this.fcltList.push({type:'直流设备',num:'',sinPower:'',terNum:'',sinShoPower:''})
							}else{
								mui.toast('最多添加10组');
							}
						},
						delFclt(){
							if(this.fcltList.length>1){
								this.fcltList.pop()
							}else{
								mui.toast('至少保留一组');
							}
						},
						changeHasPower(value){
							this.hasPower=value
						},
						submit() {
							if(this.hasPower==0){
								let flag=false
								this.powerList.forEach(item=>{
									if(item.num!==''&&item.cap!==''){
										flag=true
										return
									}
								})
								if(!flag){
									mui.toast('至少填写一组配电信息');
									return
								}
							}
							let flag=false
							this.fcltList.forEach(item=>{
								if(item.type!==''&&item.num!==''&&item.sinPower!==''&&item.terNum!==''&&(item.sinShoPower!==''||item.type=='群充群控')){
									flag=true
									return
								}
							})
							if(!flag){
								mui.toast('至少填写一组充电设施');
								return
							}
							if(this.carGrilleType===''){
								mui.toast('请选择车棚类型');
								return
							}
							if(this.energyStgPower===''){
								mui.toast('请填写储能功率');
								return
							}
							if(this.energyStgCap===''){
								mui.toast('请填写储能容量');
								return
							}
							if(this.avgDlyCrgOfBicycle===''){
								mui.toast('请填写单车日均充电量');
								return
							}
							if(this.numOfServVehicles===''){
								mui.toast('请填写服务车辆数');
								return
							}
							if(this.annlServTm===''){
								mui.toast('请填写年服务时间');
								return
							}
							if(this.servFeeStd===''){
								mui.toast('请填写服务费标准');
								return
							}
							if(this.whoOpeCost===''){
								mui.toast('请填写整站运维成本');
								return
							}
							if(this.othrCosts===''){
								mui.toast('请填写其他成本');
								return
							}
							
							mui.ajax('__APP__/Api/calculation3', {
								dataType: 'json', //服务器返回json格式数据
								type: 'post', //HTTP请求类型					
								headers: {
									'Content-Type': 'application/json'
								},
								data:JSON.stringify({
									projectNm:this.preInfo.projectNm,
									projectTyp:this.preInfo.projectTyp,
									area:this.preInfo.area,
									addr:this.preInfo.addr,
									
									hasPower:this.hasPower,
									powerList:JSON.stringify(this.powerList),
									fcltList:JSON.stringify(this.fcltList),
									carGrilleType:this.carGrilleType,
									energyStgPower:this.energyStgPower,
									energyStgCap:this.energyStgCap,
									avgDlyCrgOfBicycle:this.avgDlyCrgOfBicycle,
									numOfServVehicles:this.numOfServVehicles,
									annlServTm:this.annlServTm,
									servFeeStd:this.servFeeStd,
									venueRental:this.venueRental,
									whoOpeCost:this.whoOpeCost,
									othrCosts:this.othrCosts,
									totCrg:this.totCrg,
									chargingIncm:this.chargingIncm,
									totProjectInvest:this.totProjectInvest,
									outsideLineCost:this.outsideLineCost,
									lineLossCost:this.lineLossCost,
									totCost:this.totCost,
									recyclingPd:this.recyclingPd
								}),
								success: function(res) {
									mui.toast(res.msg);
									setTimeout(function(){
										uni.navigateBack();
									},1000)
								},
								error: function() {
									
								}
							});
						}
					}
				});
			})
			})
		</script>
	</body>

</html>
