@charset "utf-8";

/* Core Code */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td { padding:0; margin:0; font-size:12px; line-height:100%;}

/* Remember to define focus styles! */
:focus { outline: 0;}
body { width:100%; height:100%; text-align:center; color:black; }
ul, ol { list-style:none;}

/* Tables still need 'cellspacing="0"' in the markup. */
/*table { border-collapse:separate; border-spacing:0;}*/
caption, th, td { text-align:left; font-weight:normal;}

/* Remove possible quote marks (") from <q>, <blockquote>. */
blockquote:before, blockquote:after,
q:before, q:after { content: "";}
blockquote, q { quotes: "" "";}

img { border:none;}
a { color:#000; text-decoration:none;}
a:hover {text-decoration:underline;}

input:focus{
	border:1px solid;
	border-color: #1AB394;
}
select:focus{
	border:1px solid;
	border-color: #1AB394;
}
/* 搜索 */
.pageHeader{margin-left:-5px;margin-top:-12px;}
@media (max-width: 768px) {
	.pageHeader {
		margin-top:0px;
	}
}
.searchBar .searchContent label{border-top:1px solid #D9D9D9;border-left:1px solid #D9D9D9;border-bottom:1px solid #D9D9D9;background-color:#F5F5F6;}
.searchBar .searchContent .button{background-color:#23C6C8;border:1px solid #23C6C8;border-radius:3px}
.buttonActive{float:left}

/* Pages default */
.page { display:block; overflow:hidden;float:left; width:100%;}
.pageHeader { display:block; overflow:auto; margin-bottom:0px; padding:5px; border-style:solid; border-width:0 0 0px 0; position:relative;}
.searchBar {}
.searchBar ul.searchContent { display:block; height:36px;width:100%}/*overflow:hidden; */
.searchBar ul.searchContent li { float:left; display:block; overflow:hidden; width:28%; height:36px; padding:2px 0;margin-right:20px;}
.searchBar label { float:left; width:30%; padding:0 0px; line-height:30px;font-weight:normal;text-align:center;background-color:red}
.searchBar input.date {width:34%;float:left;border-left:-1px}
.searchBar input { height:32px;border-radius:0px;border:1px solid #D9D9D9;padding-left:4px;width:68%;float:left;}

.searchBar select { height:32px;border-radius:0px;border:1px solid #D9D9D9;padding-left:4px;width:68%;float:left;}
.searchBar button { height:32px;background-color:#23C6C8;border:1px solid #23C6C8;border-radius:2px;color:white;padding:2px 10px;float:left;margin-top:2px;margin-right:10px}
.searchBar a { height:32px;background-color:#20B2AA;border:1px solid #20B2AA;border-radius:2px;color:white;padding:2px 10px;float:left;line-height:26px;margin-top:2px;margin-right:10px}
.searchBar .searchContent td{padding-right:20px; white-space:nowrap; height:25px}
.searchBar .subBar { height:25px;}
.searchBar .subBar ul { float:right;}
.searchBar .subBar li { float:left; margin-left:5px;}
.pageContent { display:block;overflow:auto;position:relative;}

.searchBar ul.searchContent1 { display:block; overflow:hidden; height:25px;}
.searchBar ul.searchContent1 li { float:left; display:block; overflow:hidden; height:21px; padding:2px 20px 2px 0px;}
.searchBar ul.searchContent1 label { float:left; padding:0 5px; line-height:23px;width:auto;}
.searchBar .searchContent1 td{padding-right:20px; white-space:nowrap; height:25px}

.dateRange input{width:72px;}
.dateRange .limit {text-align: center; width: 15px; line-height:21px; }

/* Pages Form */
.pageForm { display:block; overflow:auto;}
.pageFormContent { display:block; overflow:auto; padding:10px 5px 20px 5px; position:relative;}
.pageFormContent div.unit {display:block; margin:0; padding:5px 0; position:relative;clear:both;}
.pageFormContent p { float:left; display:block; width:380px; height:21px; margin:0; padding:5px 0; position:relative;}
.pageFormContent p.nowrap { height:auto;}
.pageFormContent .radioGroup { float:left; display:block; overflow:hidden;}
.pageFormContent label { width:120px; padding:0 5px; line-height:21px;}/*float:left;  zcynew*/
.pageFormContent label.radioButton { float:left; width:auto; padding:0 10px 0 0; line-height:21px;}
.pageFormContent .textInput { float:left;}
/*.pageFormContent select { float:left;}*/
.pageFormContent .inputInfo { padding:0 5px; line-height:21px;}
.pageFormContent span.unit, .pageFormContent a.unit { padding:0 5px; line-height:21px;}
.pageFormContent span.info{color:#7F7F7F;display:block;line-height:21px;float:left;}
/*
.pageFormContent input { height:28px;border-radius:0px;border:1px solid #D9D9D9;padding-left:4px;width:300px;}
.pageFormContent select { height:28px;border-radius:0px;border:1px solid #D9D9D9;padding-left:4px;width:300px;}
.pageFormContent textarea { height:58px;border-radius:0px;border:1px solid #D9D9D9;padding-left:4px;width:300px;}
*/
.pageFormContent input { height:28px;border-radius:0px;border:1px solid #D9D9D9;padding-left:4px;}
.pageFormContent select { height:28px;border-radius:0px;border:1px solid #D9D9D9;padding-left:4px;}
.pageFormContent textarea { height:58px;border-radius:0px;border:1px solid #D9D9D9;padding-left:4px;}




.pageFormContent dl { float:left; display:block; width:380px; height:41px; margin:0; padding:5px 0; position:relative;}
.pageFormContent dt { float:left; width:120px; padding:0 5px; line-height:21px;}
.pageFormContent dd {display:block;line-height:21px;width:220px;float:left;}
.pageFormContent dl.nowrap, .nowrap dl{width:100%; height:auto; clear: both;}
.pageFormContent dl.nowrap dd, .nowrap dd {width: 560px;}
.pageFormContent dd  select{width:215px;}

fieldset {padding:3px; margin:0 0 5px 0; border:1px dotted #B8D0D6;}
fieldset legend {padding:3px; border:1px dotted #B8D0D6; font-weight: normal;}
fieldset legend:hover {background-color: #dddddd;}

.formBar { clear:both; padding:0 5px; height:30px; padding-top:5px; border-style:solid; border-width:1px 0 0 0;border-color:#ccc}
.formBar ul { float:right;}
.formBar li { float:left; margin-left:5px;}
.divider { clear:both; display:block; overflow:hidden; text-indent:-1000px; width:auto; height:1px; padding:4px 0 0 0; margin-bottom:5px; border-style:dotted; border-width:0 0 1px 0;}

/* Pages dialog */
.dialog .pageHeader { border-style:solid; border-width:1px;margin:0}
.dialog .pageContent { border-style:solid; border-width:0 1px; background-color:#fff}
.dialog .pageFormContent, .dialog .viewInfo { border-style:solid; border-width:1px 0 0 0;}
.dialog .formBar { border-style:solid; border-width:1px 0;}

/*
.combox { float:left; margin-right:3px; background-position:100% -25px;}
.combox select { display:none}
.combox .select { float:left;}
.combox .select a { float:left; display:block; overflow:hidden; height:23px; padding:0 22px 0 6px; line-height:21px; text-decoration:none; font-size:12px; background-position:100% -50px;}
.comboxop { position: absolute; z-index: 1001; display:none; padding:4px; border-style:solid; border-width:1px 2px 2px 1px; background:#fff; position:absolute; top:22px; left:1px;}
.comboxop a { width:50px; height:21px; padding:0 5px; line-height:21px; text-align:left; color:#000; background:none;}
.comboxop a:hover { background:#e0e0e0;}
.comboxop .selected { background:#e0e0e0; }
.comboxop li { text-align:left; }
*/

/* contentTitle */
h2.contentTitle{margin-bottom:10px; padding:0 10px; line-height:30px; font-size:14px; border-bottom:solid 1px #CCC;}
h3.contentTitle{margin-bottom:5px; line-height:25px; font-size:13px; border-bottom:solid 1px #CCC;clear:both;}
.dialog h2.contentTitle {border:none}


table.drafttable{
				width:90%;
                margin:10px auto;
				padding:5px; 
				border-collapse:collapse; 
				text-align:left;
				clear:both;
				font-family:微软雅黑;
				background-color: transparent;
				/*border:1px solid #cccccc;*/
				}
				
table.drafttable tr td.normal{ 
				padding:5px;
				vertical-align:middle;
				background-color: transparent;
				border:1px solid #999;
				font-family:微软雅黑;
				height:40px
                }
table.drafttable tr td img{ 
				/*padding:0px 0px 15px 0px; */
				vertical-align:middle;
                }
table.drafttable tr td input { height:28px;border-radius:0px;border:1px solid #D9D9D9;padding-left:4px;}
table.drafttable tr td select { height:28px;border-radius:0px;border:1px solid #D9D9D9;padding-left:4px;}


				
.tabsHeaderContent
{ 
	height:40px;
	border-bottom:1px solid #E5E5E5;
}
.tabsHeaderContent  ul li a span
{ 
	line-height:40px;
	font-size:14px;
}
.formBar
{ 
	border-top:1px solid #E5E5E5;
	height:60px;
	font-size:14px;
	padding-top:14px;
	padding-right:20px;
}
.formBar input { height:28px;border-radius:0px;border:1px solid #D9D9D9;padding-left:4px;width:120px;}
.formBar select { height:28px;border-radius:0px;border:1px solid #D9D9D9;padding-left:4px;width:120px;}

.buttonContent button
{ 
	height:32px;
	background-color:#1890FF;
	border:1px solid #1890FF;
	border-radius:3px;
	color:white;
	padding:2px 10px;
	float:left;
	line-height:22px;
	margin-top:2px;
	margin-left:0px;
}
.buttonContent button.close1
{ 
	height:32px;
	background-color:white;
	border:1px solid #ccc;
	border-radius:3px;
	color:#666;
	padding:2px 10px;
	float:left;
	line-height:22px;
	margin-top:2px;
	margin-left:10px;
	font-size:12px;
	font-weight:normal;
}


.pagination span{ height:28px;background-color:#F5F5F6;border:1px solid #F5F5F6;border-radius:2px;color:#333;padding:2px 10px;line-height:22px;margin-top:2px;margin-left:2px}
.pagination a{ height:28px;background-color:#F5F5F6;border:1px solid #F5F5F6;border-radius:2px;color:#333;padding:2px 10px;line-height:22px;margin-top:2px;margin-left:2px}
.pagination a.current{ height:28px;background-color:#00C1DE;border:1px solid #00C1DE;border-radius:2px;color:white;padding:2px 10px;line-height:22px;margin-top:2px;margin-left:2px}
.pages{display:none}

table.qfzstable{
				width:80%;
				margin:0 auto;
                /*margin:10px 0px;*/
				margin-top:10px;
				padding:5px; 
				border-collapse:collapse; 
				text-align:left;
				clear:both;
				font-family:微软雅黑;
				background-color: transparent;
				/*border:1px solid #cccccc;*/
				}
				
table.qfzstable tr td.normal{ 
				padding:5px;
				vertical-align:middle;
				background-color: transparent;
				border:1px solid #999;
				line-height:20px;
                }
table.qfzstable tr td img{ 
				/*padding:0px 0px 15px 0px; */
				vertical-align:middle;
                }			




