@charset "utf-8";

/* Icon */
.tabsHeader li.main a span span, #taskbar li .taskbutton span { background:url(./images/icon.png) no-repeat;}

/* Panel */
.panel,
.panel .panelHeader, .panel .panelHeaderContent, .panel .panelHeaderContent h1,
.panel .panelFooter, .panel .panelFooterContent { background:url(./images/panel/panel.png) no-repeat;}
.panel .expandable, .panel .collapsable { background:url(./images/panel/panel_icon.png) no-repeat;}
.panel .panelHeaderContent h1 { color:#183152; }
.panel .panelContent { border-color:#b8d0d6; background:#eef4f5;}

.panel .grid { border-color:#b8d0d6;}

/* Tabs */
.tabs, .tabsHeader, .tabsHeaderContent,
.tabs .tabsHeader ul, .tabs .tabsHeader li, .tabs .tabsHeader li a, .tabs .tabsHeader li span,
.tabs .tabsFooter, .tabs .tabsFooterContent { background:url(./images/tabs/tabspanel.png) no-repeat;}

.tabs .tabsHeader li a { color:#03408b;}
.tabs .tabsHeader li span { color:#183152;}
.tabs .tabsContent { border-color:#b8d0d6; background:#eef4f5;}

/* TabsPage */
.tabsPage .tabsPageHeader, .tabsPage .tabsPageHeader li, .tabsPage .tabsPageHeader li a, .tabsPage .tabsPageHeader li span { background:url(./images/tabs/tabspage.png) no-repeat;}
.tabsPage .tabsPageHeader { background-color:#e9f0f2;}
.tabsPage .tabsPageHeader { border-color:#b8d0d6;}
.tabsPage .tabsPageHeader li a { color:#183152;}
.tabsPage .tabsPageHeader li .close,
.tabsPage .tabsPageHeader li.hover .close,
.tabsPage .tabsPageHeader li.selected .close { background:url(./images/tabs/tabspage_icon.png) no-repeat;}
.tabsPage .tabsLeft, .tabsPage .tabsRight, .tabsPage .tabsMore { background:url(./images/tabs/tabscontrol.png) no-repeat;}
.tabsPage .tabsMoreList { border-color:#b8d0d6; background:#FFF;}
.tabsPage .tabsPageHeader .home_icon { background:url(./images/icon.png) no-repeat;}
.tabsPage .tabsPageContent { border-color:#b8d0d6; background:#FFF;}

/* Alert */
.alert .alertFooter, .alert .alertFooter_r, .alert .alertFooter_c { background:url(./images/alert/alertpanel.png) no-repeat;}
.alert .alertContent { border-color:#b8d0d6; background:#eef4f5;}
.alert .warn .alertInner { border-color:#e83e09; background:#fefacf;}
.alert .error .alertInner { border-color:#e50000; background:#fefacf;}
.alert .correct .alertInner, .alert .info .alertInner { border-color:#b8d0d6; background:#fefacf;}
.alert .confirm .alertInner { border-color:#b8d0d6; background:#fefacf;}
.alert h1 { border-color:#CCC; background:url(./images/alert/alertpanel_icon.png) no-repeat;}

/* Dialog */
.dialog .dialogHeader, .dialog .dialogHeader_r, .dialog .dialogHeader_c,
.dialog .dialogFooter, .dialog .dialogFooter_r, .dialog .dialogFooter_c { background:url(./images/dialog/dialogpanel.png) no-repeat;}
.dialog .dialogHeader h1, .dialog .dialogHeader .close, .dialog .dialogHeader .maximize, .dialog .dialogHeader .restore, .dialog .dialogHeader .minimize, .resizable_f_r { background:url(./images/dialog/dialogpanel_icon.png) no-repeat;}
.dialog .dialogHeader h1 { color:#183152;}
.dialog .dialogContent { border-color:#b8d0d6; background:#eef4f5;}

.resizable { border-color:#081629; background:#c3d7dc;}

/* Shadow */
.shadow .shadow_h_l { background:url(./images/shadow/shadow_h_l.png) no-repeat;}
.shadow .shadow_h_r { background:url(./images/shadow/shadow_h_r.png) no-repeat;}
.shadow .shadow_h_c { background:url(./images/shadow/shadow_h_c.png) repeat-x;}
.shadow .shadow_c_l { background:url(./images/shadow/shadow_c_l.png) repeat-y;}
.shadow .shadow_c_r { background:url(./images/shadow/shadow_c_r.png) repeat-y;}
.shadow .shadow_c_c { background:url(./images/shadow/shadow_c_c.png) repeat;}
.shadow .shadow_f_l { background:url(./images/shadow/shadow_f_l.png) no-repeat;}
.shadow .shadow_f_r { background:url(./images/shadow/shadow_f_r.png) no-repeat;}
.shadow .shadow_f_c { background:url(./images/shadow/shadow_f_c.png) repeat-x;}

/* Tree */
.tree div div { background:url(./images/tree/tree.png) no-repeat;}
.tree .folder_collapsable, .tree .folder_expandable, .tree .file { background:url(./images/tree/folder.png) no-repeat;}
.tree .checked, .tree .unchecked, .tree .indeterminate { background:url(./images/tree/check.png) no-repeat;}
.tree ul { background:#FFF;}
.tree li a, .tree li span { color:#183152;}
.tree .hover { background:#f5f5f5;}
.tree .selected { background-color:#e8edf3;}

/* Accordion */
.accordion .accordionHeader, .accordion .accordionHeader h2, .accordion .accordionHeader h2 span { color:#183152; background:url(./images/accordion/accordion.png);}
.accordion { border-color:#b8d0d6; background:#FFF;}
.accordion .accordionHeader { background-color:#eaf4ff;}
.accordion .accordionContent { border-color:#b8d0d6;}

/* Grid */
.panelBar,
.toolBar li.hover, .toolBar li.hover a, .toolBar li.hover span, .toolBar span,
.pagination, .pagination li.hover, .pagination li.hover a, .pagination li span,
.pagination li.disabled span span,
.panelBar .line, .pagination li.jumpto, .pagination li.jumpto .goto { background:url(./images/grid/grid.png) no-repeat;}

.panelBar { border-color:#b8d0d6; background-color:#efefef;}

.grid .gridHeader { background:#EEE;}
.grid { background:#FFF;}
.grid table { border-color:#d0d0d0;}
.grid .gridHeader, .grid .gridHeader th { border-color:#d0d0d0; background:#f0eff0 url(./images/grid/tableth.png) repeat-x;}
.grid table th div { border-left-color:#EEE; border-right-color:#d0d0d0;}
.grid table td { border-color:#ededed;}

.grid .resizeMarker, .grid .resizeProxy { background:url(./images/grid/resizeCol.png) repeat-y;}

.grid .gridHeader th.hover, .grid .gridHeader th.thSelected { border-color:#aaccf6; }
.grid .gridTbody .gridRowBg { background:#f7f7f7;}
.grid .gridTbody .gridRow { border-color:#ededed;}
.grid .gridTbody .gridRow td.tdLast { border-color:#ededed;}
.grid .gridTbody .hover { border-color:#dddddd; background:#f5f5f5;}
.grid .gridTbody .hover .tdSelected { background:#f5f5f5;}
.grid .gridTbody .selected { border-color:#b8d0d6; background:#7cc5e5;}
.grid .gridTbody .selected .tdSelected { background:#e8edf3;}
.grid .gridTbody .tdSelected { background:#f8f8f8;}
.grid .error{background:#fb7e81;}

/* ProgressBar */
.progressBar { border:solid 2px #86a5ad; background:#FFF url(./images/progressBar/progressBar_m.gif) no-repeat 10px 10px;}

/* ----------------------------------------------------------------- Form */
/* TextInput */
.textInput, input.focus, input.required, input.error, input.readonly, input.disabled,
textarea.focus, textarea.required, textarea.error, textarea.readonly, textarea.disabled { background:url(./images/form/input_bg.png) no-repeat scroll;}

.textInput, .textArea { border-color:#a2bac0 #b8d0d6 #b8d0d6 #a2bac0; background-color:#FFF;}
input.required, textarea.required { border-color:#a2bac0 #b8d0d6 #b8d0d6 #a2bac0; background-color:#FFF;}
input.error, textarea.error { border-color:#F80C11 #FB7E81 #FB7E81 #F80C11;}
input.focus, textarea.focus { border-color:#64aabc #a9d7e3 #a9d7e3 #64aabc; background-color:#f8fafc;}
input.readonly, textarea.readonly { border-color:#9eabb3 #d5dbdf #d5dbdf #9eabb3; background-color:#F6F6F6;}
input.disabled, textarea.disabled { border-color:#9eabb3 #d5dbdf #d5dbdf #9eabb3; background-color:#F6F6F6;}

.inputButton, .inputDateButton { background:url(./images/form/input_bt.png) no-repeat;}

/* Button */
.button, .button span,
.buttonDisabled, .buttonDisabled span,
.buttonActive, .buttonActive span,
.button .buttonContent, .buttonHover, .buttonHover .buttonContent,
.buttonActive .buttonContent, .buttonActiveHover, .buttonActiveHover .buttonContent,
.buttonDisabled .buttonContent { background:url(./images/button/button_s.png) no-repeat;}

.button span, .buttonDisabled span, .buttonActive span,
.button .buttonContent, .buttonHover, .buttonHover .buttonContent,
.buttonActive .buttonContent, .buttonDisabled .buttonContent,
.button button, .buttonHover button,
.buttonActive button, .buttonDisabled button { color:#183152;}

.buttonDisabled span, .buttonDisabled:hover span,
.buttonDisabled button { color:#999;}

/* ----------------------------------------------------------------- Pages */
/* Layout */
body, #splitBar { background:#e5edef;}
#splitBarProxy { border-color:#c0c0c0; background:#CCC;}

#header, #header .headerNav { background:url(./images/header_bg.png) repeat-x;}
#header { background-color:#102c4a;}
#header .logo {}/*background:url(./images/logo.png) no-repeat;*/
#header .nav li { float:left; margin-left:-1px; padding:0 8px; line-height:11px; background:url(./images/listLine.png) no-repeat;}
#header .nav li .gif{ float:left; margin-left:-1px; padding:0 8px; line-height:11px; background:url(./images/listArrow.gif) no-repeat;}
#header .nav li a { color:#b9ccda;}
#header .themeList li div { background:url(./images/themeButton.png) no-repeat;}
.toggleCollapse, .toggleCollapse div { background:url(./images/layout/toggleSidebar.png) no-repeat;}
.toggleCollapse { border-style:solid; border-width:1px 1px 0 1px; border-color:#b8d0d6; background-color:#e7eff0;}
.toggleCollapse h2 { color:#183152;}
#sidebar_s .collapse { border:solid 1px #b8d0d6; background:#eff5f6;}
#sidebar_s .collapse:hover { background:#f5f9fa;}

#taskbar, #taskbar li, #taskbar li .taskbutton { background:url(./images/layout/taskbar.png) no-repeat;}
#taskbar .close, #taskbar .restore, #taskbar .minimize { background:url(./images/layout/taskbar_icon.png) no-repeat;}
#taskbar li .taskbutton span { color:#FFF;}
#taskbar .taskbarLeft, #taskbar .taskbarRight { background:url(./images/layout/taskbar_control.png) no-repeat;}

/* Menu */
#navMenu, #navMenu li, #navMenu li.selected a, #navMenu li.selected span { background:url(../default/images/menu/menu.png) no-repeat;}
#navMenu { background-color:#1871dd; }
#navMenu li a, #navMenu li span { color:#FFF; }
#navMenu li.selected span { color:#000; }

/* Homepage */
.sidebarContent { display:block; overflow:auto; height:500px; border:solid 1px #86B4EC; background:#FFF;}
.accountInfo { display:block; overflow:hidden; height:60px; padding:0 10px; background:url(./images/account_info_bg.png) repeat-x}
.accountInfo p { padding:8px 0 0 0; line-height:19px;}
.accountInfo p span { font-size:14px; font-weight:bold;}
.accountInfo .right { float:right; padding-right:10px; text-align:right;}
.accountInfo .alertInfo { float:right; width:300px; height:60px; padding-left:10px; border-left:solid 1px #accdf4;}
.accountInfo .alertInfo h2 { padding:8px 0; line-height:17px;}
.accountInfo .alertInfo a { padding:6px 0 0 0; line-height:21px;}

.accountInfo1 { display:block; overflow:hidden; height:120px; padding:0 10px; background:url(./images/account_info_bg1.png) repeat-x}
.accountInfo1 p { padding:8px 0 0 0; line-height:19px;}
.accountInfo1 p span { font-size:14px; font-weight:bold;}
.accountInfo1 .right { float:right; padding-right:10px; text-align:right;}
.accountInfo1 .alertInfo { float:right; width:300px; height:117px; padding-left:10px; border-left:solid 1px #accdf4;}
.accountInfo1 .alertInfo h2 { padding:8px 0; line-height:17px;}
.accountInfo1 .alertInfo a { padding:6px 0 0 0; line-height:21px;}

.accountInfo .alertInfo5 { float:left; width:50%; height:60px; border-right:solid 1px #accdf4;}
.accountInfo .alertInfo5 h2 { padding:15px 10px 8px 10px; line-height:18px;}
.accountInfo .alertInfo5 a { padding:0px 0px 0px 0px;font-size:16px;}
.accountInfo .alertInfo5 span{ padding:4px 10px 2px 10px; line-height:13px;font-size:12px;}

/* Pages */
.pageForm .inputInfo { color:#999;}

/* Pages dialog */
.dialog .pageHeader, .dialog .pageContent { border-color:#b8d0d6;}
.dialog .pageContent .pageFormContent { border-color:#b8d0d6; background:#FFF;}

/* Pages default */
.page .pageHeader, .formBar { border-color:#b8d0d6; background:#ebf0f5 url(../default/images/pageHeader_bg.png) repeat-x;}
.page .searchBar label { color:#183152;}

/* Pages Form */
.formBar { border-color:#b8d0d6;}
.divider { border-color:#b8d0d6;}

/* combox */
.combox .select a  { color:#183152; }
.comboxop { border-color:#B8D0D6; }
.combox, .combox div, .combox div a { background:url(../default/images/search-bg.gif) no-repeat; }

.officialdoc {background:#DFE8F6 url(../../images/wenjian.bmp) no-repeat top;}/* url(../../../images/wenjian.jpg) border-color:#b8d0d6; */
.ercibeian {background:#DFE8F6 url(../../images/wenjian2.bmp) no-repeat top;}/* url(../../../images/wenjian.jpg) border-color:#b8d0d6; */
.kaigongdan {background:#DFE8F6 url(../../images/wenjian3.bmp) no-repeat top;}/* url(../../../images/wenjian.jpg) border-color:#b8d0d6; */
.officialdocrecv {background:#DFE8F6 url(../../images/wenjian1.bmp) no-repeat top;}/* url(../../../images/wenjian.jpg) border-color:#b8d0d6; */
.designbuild {background:#DFE8F6 url(../../images/wenjian4.bmp) no-repeat top;}/* url(../../../images/wenjian.jpg) border-color:#b8d0d6; */
.designbuild14 {background:#DFE8F6 url(../../images/wenjian14.bmp) no-repeat top;}
.xiaoguotuhuizhidan {background:#DFE8F6 url(../../images/xiaoguotuhuizhidan.bmp) no-repeat top;}
.construction {background:#DFE8F6 url(../../images/wenjian5.bmp) no-repeat top;}/* url(../../../images/wenjian.jpg) border-color:#b8d0d6; */
.backmoney {background:#DFE8F6 url(../../images/wenjian15.bmp) no-repeat top;}/* url(../../../images/wenjian.jpg) border-color:#b8d0d6; */
.white {background:#DFE8F6 url(../../images/white.bmp) no-repeat top;}/* url(../../../images/wenjian.jpg) border-color:#b8d0d6; */
.white0 {background:#DFE8F6 url(../../images/white0.bmp) no-repeat top;}/* url(../../../images/wenjian.jpg) border-color:#b8d0d6; */
.repaircycle {background:#DFE8F6 url(../../images/wenjian16.bmp) no-repeat top;}/* url(../../../images/wenjian.jpg) border-color:#b8d0d6; */
.widewhitetop {background:#DFE8F6 url(../../images/widewhitetop.bmp) no-repeat top;}
.widewhitecenter {background:#DFE8F6 url(../../images/widewhitecenter.bmp) repeat-y top;}
.widewhitebottom {background:#DFE8F6 url(../../images/widewhitebottom.bmp) no-repeat top;}
.mainwhite3 {background:#DFE8F6 url(../../images/mainwhite3.bmp) no-repeat top;}/* url(../../../images/wenjian.jpg) border-color:#b8d0d6; */
.mainwhite4 {background:#DFE8F6 url(../../images/mainwhite4.bmp) no-repeat top;}/* url(../../../images/wenjian.jpg) border-color:#b8d0d6; */

.white2 {background:#DFE8F6 url(../../images/white2.bmp) no-repeat top;}
.white3 {background:#DFE8F6 url(../../images/white3.bmp) no-repeat top;}
.white4 {background:#DFE8F6 url(../../images/white4.bmp) no-repeat top;}
.white5 {background:#DFE8F6 url(../../images/white5.bmp) no-repeat top;}
.white6 {background:#DFE8F6 url(../../images/white6.bmp) no-repeat top;}
.white7 {background:#DFE8F6 url(../../images/white7.bmp) no-repeat top;}
.white8 {background:#DFE8F6 url(../../images/white8.bmp) no-repeat top;}
.white9 {background:#DFE8F6 url(../../images/white9.bmp) no-repeat top;}
.white10 {background:#DFE8F6 url(../../images/white10.bmp) no-repeat top;}

.settlewhitetop {background:#DFE8F6 url(../../images/settlewhitetop.bmp) no-repeat top;}
.settlewhitecenter {background:#DFE8F6 url(../../images/settlewhitecenter.bmp) repeat-y top;}
.settlewhitebottom {background:#DFE8F6 url(../../images/settlewhitebottom.bmp) no-repeat top;}

.purchase{ margin:0px; padding:1px; border-collapse:collapse; text-align:left; width:513px; clear:both;font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;border: 1px solid #EBEBEB;font-size: 13px;}
.purchase tr {line-height:20px;padding:5px;}					
.purchase tr td{border: 1px solid #EBEBEB;padding:5px;}	

.Status{ width:678px; margin:0 auto; padding-bottom:30px; padding-top:30px;}
.faq_info_title{ height:24px; width:100%; border-bottom:solid 5px #e3e3e3; font-family:Arial,Tahoma,"宋体"; font-weight:bold; font-size:16px; color:#900;padding:10px 10px; margin-bottom:26px;float:center;text-align:center;}
.faq_info_h2{ width:100%; line-height:20px; padding-bottom:5px; color:#000; font-family:Arial,Tahoma,"宋体"; font-weight:bold; font-size:14px;float:right;text-align:right;}
.faq_info_nr{ width:676px; border:solid 1px #d6d6d6;padding:30px 10px 30px 10px;margin-bottom:40px;}
.faq_info_nr p{ width:585px; margin:0 auto; line-height:24px; color:#000;}

table.plmproblem{ margin:10px; padding:1px; border-collapse:collapse; text-align:left; width:90%; clear:both;font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;border: 1px solid #EBEBEB;font-size: 13px;}
table.plmproblem tr {line-height:20px;padding:5px; }					
table.plmproblem tr td{border: 1px solid #EBEBEB;padding:5px;}

.t table{border:0;width:98%;}
.t{padding:1px}
.h{border-bottom:4px solid #dbecF4;background:#B1D3E0;text-align:left;color:#004c7d;padding:5px 7px 3px 7px;}
.h span{font-weight:normal;}
.h h2{font-weight:bold}
.h a{font-family:Arial;color:#004c7d}
.h span a,.h span{color:#5599bb;}
.h a.a2{margin-left:12px;}
.tar{text-align:right}
.tr2 td,.tr2 th{border-top:1px solid #A6CBE7;}
.t2{border-top:#A6CBE7 1px solid;margin:0px auto 5px;}
.tr3 td,.tr3 th{solid #D4EFF7;padding:5px 8px}
.tr3 th{text-align:left;font-weight:normal;}
.tr3 td,.tr3 th{border-right:1px solid #D4EFF7;}
.tac{text-align:center}
.tiptop{border-bottom:1px solid #D4EFF7;padding:0 0 5px 0;vertical-align:middle;}
.tpc_content{font-size:15px;font-family:Arial;padding:0 2% 0 0.5%;margin:0 0 2%}
.tpc_content p{line-height:30px;font-size:15px;}
.tipad{border-top:1px solid #D4EFF7;margin:10px 0 0;padding:5px 0 0;}
.h span{font-weight:normal;}
.h h2{font-weight:bold}
.h a{font-family:Arial;color:#004c7d}
.h span a,.h span{color:#5599bb;}

.product_deal{ margin:0px; padding:1px; border-collapse:collapse; text-align:left; width:800px; clear:both;font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;border: 1px solid #ccc;font-size: 13px;}
.product_deal tr {line-height:20px;padding:5px;}					
.product_deal tr td{border: 1px solid #ccc;padding:5px;}

.title{font-family:微软雅黑;left:52px;position:absolute;top:8px;font-weight:bold;font-size:16px;color:#EFF0F2;}
.subtitle{font-family:微软雅黑;left:52px;position:absolute;top:29px;font-size:13px;color:#EFF0F2;}

.detail_tablelist{ margin-left:30px;height:26px; padding:1px; border-collapse:collapse; text-align:left; width:760px; clear:both;font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;border: 1px solid #ccc;font-size: 13px;}
.detail_tablelist tr {line-height:26px;padding:5px;}					
.detail_tablelist tr td{line-height:26px;border:1px solid #ccc;padding:0 5px;}
.tablelist_title{width:16%;background-color:#f3f3f3;}
.tablelist_content{width:34%;font-weight:600;}

.positive_table{height:26px; padding:0px; border-collapse:collapse; text-align:left; clear:both;font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;border: 1px solid #000;font-size: 13px;}
.positive_table tr {line-height:26px;padding:0px;}					
.positive_table tr td{line-height:26px;border:1px solid #000;padding:0 5px;}
